.scrollcontainer {
  width: 10000%;
  margin: 4rem auto 5.5rem;
  transition: 1s all ease-in-out;
}

h1.question {
  text-align: center;
  font-size: 1.5rem;
  /*width: 1%;
  float: left;*/
}

.definitions {
  >>> .definition {
    text-decoration: underline;
    cursor: help;
  }
}

.no-margin {
  margin: 0;
}

div.skip {
  text-align: center;
}

.partyBtn {
  /* margin: 1rem -1rem -1rem; */
  background: rgba(176, 176, 176, 0.35);
  color: rgba(80, 80, 80, 0.8);
  border: 0;
  line-height: 3rem;
  width: 100%;
}

section.responses {
  background: rgba(176, 176, 176, 0.2);
  margin: 1rem -1rem -1rem;
  padding: 2rem;

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
  }

  ul {
    list-style: disc;

    li {
      margin-left: 1.5rem;
    }
  }
}

.levetated {
  overflow: hidden;
}
.part-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 99vh;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 99vh;
}
.header {
  padding: 0.75rem;
  /*display: flex;
  justify-content: flex-end;*/
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.pin {
  padding: 1rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;

  @media (min-width: $tablet) {
    width: 60rem;
  }

  /*img#logo {
    width: 100%;
    margin: 5% 0;
    height: auto;
  }*/

  input,
  .loading {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield;
    font-size: 120%;
    font-weight: bold;
    border: 1px solid #999;
    padding: 0;
    line-height: 2.5rem;
    height: 2.5rem;
  }

  .loading > div {
    margin: calc(1.25rem - 5px) auto 0;
  }

  input[loading]:disabled:after {
    content: 'Loading';
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

#partyselector {
  h3 {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
  }

  .party {
    border-radius: 1em;
    margin: 0.5em 0;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
      div:first-child img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    div:first-child img {
      height: 4rem;
      width: 4rem;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    div:last-child {
      line-height: 4rem;
      font-weight: bold;
    }
  }
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  justify-content: center;
  display: flex;
}

h1.waitText {
  text-align: center;
  font-weight: 600;
}

.margin-top-12 {
  margin-top: 25px;
  border: none !important;
}
