@import './shared.scss';
$tabs-toggle-link-active-background-color: #00d1b2;
$tabs-toggle-link-active-border-color: #00d1b2;
@import 'bulma';
@import '~bulma-switch';
@import '~bulma-divider';

html {
  overflow-y: hidden;
}

body {
  background-color: var(--layout-main);
  transition: background 2s;
}

.hide {
  display: none;
}

.levetated {
  z-index: 10;
}

.sunken {
  z-index: -10;
}

.centre-div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.clickable {
  cursor: pointer;
}

.ahashakeheartache {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@keyframes kf_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}

// -- transitions --------------------------
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// -- card footer item styling -------------
.card-footer-item {
  color: var(--blue);
  cursor: pointer;

  &:hover {
    color: darken($blue, 10%);
  }
}

//Toast:
.vt-theme-dark {
  background-color: $dark !important;
  & > .vt-content {
    & > .vt-title {
      color: #ffffff !important;
    }
    & > .vt-paragraph {
      color: #ffffff !important;
    }
  }
}

.part-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 99vh;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 99vh;
}
.header {
  padding: 0.75rem;
  z-index: 1000;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.clearfix {
  clear: both;
}

.title,
.subtitle,
.subtitle strong,
.subtitle.is-6,
svg,
.notFound,
.title.is-5 .media-content,
label,
.label,
.help,
.pagination-link,
.card-header-title {
  color: var(--text-color);
}

.input {
  color: var(--text-color);
  background-color: var(--card-color);
}

.addButton {
  background-color: var(--button-color) !important;
  color: var(--text-color);
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--text-color-placeholder) !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color-placeholder) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color-placeholder) !important;
}

// navbar
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: var(--navbar-hover-color);
  color: #3273dc;
}

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: var(--navbar-hover-color);
  }

  .navbar-dropdown {
    background-color: var(--navbar-hover-color);
  }
}

.tabs.is-toggle a:hover {
  background-color: var(--primary);
  border-color: #b5b5b5;
  z-index: 2;
}

.dropdown-box {
  color: var(--text-color) !important;
  background-color: var(--card-color) !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-color);
  background: var(--primary);
}

::selection {
  color: var(--text-color);
  background: var(--primary);
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.arrow-down.open {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

.card-header {
  background-color: var(--card-color);
}

.card-content,
.card {
  background-color: var(--card-content-color);
}

.card-footer {
  border-top: 1px solid #ededed;
  background-color: var(--card-content-color);
}

.media-content {
  color: var(--text-color);
}

.margin-top-5 {
  margin-top: 5px !important;
}
