// -- colors -------------------------------
:root {
  --primary: #1cb395;
  --primary-darken-25: #67e7ce;
  --blue: #2980b9;
  --accent_grey: #f5f6fa;
  --accent_grey-darken-5: #e4e7f1;
  --accent_grey-darken-10: #d3d7e9;
  --accent_grey-darken-20: #b1b9d8;
  --primary_disabled: #dddddd;
  --dark: #1b242e;
  --red: #e74c3c;
  --green: #2ecc71;
  --header-color: #12171e;
  --menu-label: #546f8e;
  --navbar-divider: #2e3d4e;
  --menu-list: #cdd6e1;
  --navbar-color: #ffffff;
  --navbar-text-color: #2e3d4e;
  --layout-main: #f5f6fa;
  --text-color: #363636;
  --text-color-placeholder: #a5a5a5;
  --text-question-color: #363636;
  --card-color: #f5f5f5;
  --card-content-color: white;
  --button-color: white;
  --navbar-hover-color: #f1f1f1;
  --tabs-color: #363636;
}

[data-theme='dark'] {
  --primary: #1cb395;
  --primary-darken-25: #67e7ce;
  --blue: #2980b9;
  --accent_grey: #191b23;
  --accent_grey-darken-5: #e4e7f1;
  --accent_grey-darken-10: #1d1f2b;
  --accent_grey-darken-20: #b1b9d8;
  --primary_disabled: #dddddd;
  --dark: #1b242e;
  --red: #e74c3c;
  --green: #2ecc71;
  --header-color: #12171e;
  --menu-label: #546f8e;
  --navbar-divider: #2e3d4e;
  --menu-list: #cdd6e1;
  --navbar-color: #12171e;
  --navbar-text-color: #ffffff;
  --layout-main: #1d242c;
  --text-color: #f5f5f5;
  --card-color: #2c3a47;
  --text-color-placeholder: #486075;
  --card-content-color: #212b35;
  --text-question-color: #363636;
  --button-color: #161616;
  --navbar-hover-color: #1c2027;
  --tabs-color: white;
}

// -- heights ------------------------------
$header_size: 3.25rem;
