<template>
  <article class="cookieArticle card">
    <div class="card-content" v-html="$t('cookieConsent.page')" />
  </article>
</template>

<script>
export default {
  name: 'Cookie info',
  methods: {}
};
</script>

<style lang="scss" scoped>
.cookieArticle {
  margin: 0 4%;
  padding: 1%;

  section {
    margin: 0.5rem 0;
  }

  ul {
    margin: 1rem 0;
  }
}
</style>
