<template>
  <div class="container">
    <div v-if="loaded == true">
      <div class="headerContainer">
        <section>
          <h1 class="title">{{ $t('myCourses.coursesTitle') }}</h1>
          <p class="subtitle">
            {{ $t('myCourses.coursesOverview') }}
          </p>
        </section>

        <button class="button addButton" v-if="loaded == true" @click="addCourse()">
          {{ $t('course.addCourseButton') }}
        </button>
      </div>

      <div class="coursesContainer" v-if="loaded == true">
        <CourseCard
          v-for="course in courses"
          :key="course.id"
          v-bind:course="course"
        ></CourseCard>
      </div>
      <div class="footerContainer" v-if="loaded == false"></div>
    </div>
    <div v-if="loaded == false">
      <spinner />
    </div>
  </div>
</template>

<script>
import CourseService from '../services/courseService';
import CourseCard from '../components/courseCard';
import Spinner from '../components/spinner';

export default {
  name: 'CoursesPage',
  components: { CourseCard, Spinner },
  data() {
    return {
      courses: [],
      loaded: false
    };
  },
  methods: {
    addCourse() {
      this.$router.push('createCourse');
    },
    async getCourses() {
      try {
        this.courses = await CourseService.getCourses();
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('course.error.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getCourses(), 5000);
      }
    }
  },
  created() {
    this.getCourses();
  }
};
</script>

<style scoped lang="scss">
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.coursesContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>
