<template>
  <div class="container">
    <section class="section">
      <h1 class="title">{{ $t('myCourses.createCourse') }}</h1>
    </section>
    <add-course-form />
  </div>
</template>

<script>
import AddCourseForm from '../components/addCourseForm';

export default {
  name: 'CreateCoursePage',
  components: { AddCourseForm }
  // data() {
  //   return {
  //     course: {
  //       Name: '',
  //       AmountOfStudents: 0,
  //       schoolYear: ''
  //     }
  //   };
  // },
  // methods: {
  //   add: async function() {
  //     try {
  //       await CourseService.addCourse(this.course);
  //       this.$router.push('courses');
  //     } catch (e) {
  //       this.$fire({
  //         title: this.$i18n.t('course.error.title'),
  //         html: this.$i18n.t('course.error.BodyAddingCourse'),
  //         showCloseButton: true,
  //         showCancelButton: false,
  //         focusConfirm: true,
  //         confirmButtonText: this.$i18n.t('ok'),
  //         type: 'error'
  //       });
  //     }
  //   }
  // },
  // created() {}
};
</script>
