<template>
  <div class="container">
    <section class="section">
      <h1 class="title">{{ $t('createTest.title') }}</h1>
    </section>
    <test-form />
  </div>
</template>

<script>
// -- components ---------------------------
import TestForm from '../components/testForm.vue';

export default {
  name: 'CreateTestPage',
  components: {
    TestForm
  }
};
</script>
