<template>
  <div class="container">
    <h1 class="title">Create School</h1>

    <div class="field">
      <label class="label">{{ $t('createschool.name') }}</label>
      <div class="control">
        <input
          type="text"
          class="input"
          v-model="school.name"
          :placeholder="$t('createschool.name')"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">{{ $t('createschool.email') }}</label>
      <div class="control">
        <input
          type="email"
          class="input"
          v-model="school.email"
          :placeholder="$t('createschool.email')"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">{{ $t('createschool.loginMail') }}</label>
      <div class="control">
        <input
          type="email"
          class="input"
          v-model="school.loginMail"
          :placeholder="$t('createschool.loginMail')"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">{{ $t('createschool.phone') }}</label>
      <div class="control">
        <input
          type="text"
          class="input"
          v-model="school.phone"
          :placeholder="$t('createschool.phone')"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">{{ $t('createschool.address') }}</label>
      <div class="control">
        <input
          type="text"
          class="input"
          v-model="school.address"
          :placeholder="$t('createschool.address')"
        />
      </div>
    </div>

    <btn @click="saveFnc()" class="rounded">
      {{ $t('createschool.save') }}
    </btn>
    <btn @click="cancelFnc()" class="danger rounded">
      {{ $t('cancel') }}
    </btn>
  </div>
</template>

<script>
import Btn from '../components/button';
import SchoolService from '../services/schoolService';

export default {
  name: 'CreateSchool',
  components: { Btn },
  data() {
    return {
      school: {
        name: '',
        email: '',
        loginMail: '',
        phone: '',
        address: '',
        lang: this.$i18n.locale
      }
    };
  },
  methods: {
    async saveFnc() {
      let html = `<p>${this.$i18n.t('createschool.confirm.htmlBody')}</p>
      <br/>
      <p>${this.$i18n.t('createschool.name') + ':  <br/>' + this.school.name}</p>
      <p>${this.$i18n.t('createschool.email') + ':  <br/>' + this.school.email}</p>
      <p>${this.$i18n.t('createschool.phone') + ':  <br/>' + this.school.phone}</p>
      <p>${this.$i18n.t('createschool.address') + ':  <br/>' + this.school.address}</p>
      `;
      let result = await this.$fire({
        title: this.$i18n.t('createschool.confirm.title'),
        html: html,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: this.$i18n.t('createschool.confirm.confirm'),
        cancelButtonText: this.$i18n.t('createschool.confirm.cancel')
      });
      if (!result.value) {
        return;
      }
      await SchoolService.createSchool(this.school);
      await this.$fire({
        title: this.$i18n.t('createschool.confirm.success'),
        type: 'success',
        showConfirmButton: true
      });
      this.$router.push('/dashboard');
    },
    async cancelFnc() {
      let result = await this.$fire({
        title: this.$i18n.t('createschool.cancel.title'),
        html: this.$i18n.t('createschool.cancel.body'),
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: this.$i18n.t('createschool.cancel.confirm'),
        cancelButtonText: this.$i18n.t('createschool.cancel.cancel')
      });
      if (result.value) {
        this.$router.push('/dashboard');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.rounded {
  border-radius: 7px;
  margin: 0.2rem;
}

.danger {
  background-color: #f14668;
}
.danger:hover {
  background-color: #ff002f;
}
</style>
