<template>
  <section class="section">
    <div class="container">
      <h1 class="title">{{ $t('createSuperAdmin.title') }}</h1>

      <div class="field">
        <label class="label">{{ $t('createSuperAdmin.email') }}</label>
        <div class="control">
          <input
            type="email"
            class="input"
            v-model="superAdmin.email"
            :placeholder="$t('createSuperAdmin.email')"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ $t('createSuperAdmin.password') }}</label>
        <div class="control">
          <input
            type="password"
            class="input"
            v-model="superAdmin.password"
            :placeholder="$t('createSuperAdmin.password')"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ $t('createSuperAdmin.verifyPassword') }}</label>
        <div class="control">
          <input
            type="password"
            class="input"
            v-model="verifyPassword"
            :placeholder="$t('createSuperAdmin.verifyPassword')"
          />
        </div>
      </div>

      <btn @click="saveFnc()" class="rounded">
        {{ $t('createSuperAdmin.save') }}
      </btn>
      <btn @click="cancelFnc()" class="danger rounded">
        {{ $t('cancel') }}
      </btn>
    </div>
  </section>
</template>

<script>
import Btn from '../components/button';
import UserService from '../services/userService';

export default {
  name: 'CreateSuperAdmin',
  components: { Btn },
  data() {
    return {
      superAdmin: {
        email: '',
        password: '',
        role: 3,
        firstName: '',
        lastName: ''
      },
      verifyPassword: ''
    };
  },
  methods: {
    async saveFnc() {
      if (
        this.verifyPassword !== this.superAdmin.password ||
        (!this.superAdmin.password && !this.verifyPassword) ||
        !this.superAdmin.email
      ) {
        await this.$fire({
          title: this.$i18n.t('error'),
          html: 'Wachtwoorden zijn leeg of zijn niet aan elkaar gelijk. Probeer opnieuw!',
          type: 'error',
          confirmButtonColor: '#3085d6',
          confirmButtonText: this.$i18n.t('createSuperAdmin.confirm.errorConfirm')
        });
        return;
      }
      let html = `<p>${this.$i18n.t('createSuperAdmin.confirm.htmlBody')}</p>
      <br/>
      <p>${this.$i18n.t('createSuperAdmin.email') +
        ':  <br/>' +
        this.superAdmin.email}</p>
      `;
      let result = await this.$fire({
        title: this.$i18n.t('createSuperAdmin.confirm.title'),
        html: html,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: this.$i18n.t('createSuperAdmin.confirm.confirm'),
        cancelButtonText: this.$i18n.t('createSuperAdmin.confirm.cancel')
      });
      if (!result.value) {
        return;
      }
      await UserService.createUser(this.superAdmin);
      await this.$fire({
        title: this.$i18n.t('createSuperAdmin.confirm.success'),
        type: 'success',
        showConfirmButton: true
      });
      this.$router.push('/dashboard');
    },
    async cancelFnc() {
      let result = await this.$fire({
        title: this.$i18n.t('createSuperAdmin.cancel.title'),
        html: this.$i18n.t('createSuperAdmin.cancel.body'),
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: this.$i18n.t('createSuperAdmin.cancel.confirm'),
        cancelButtonText: this.$i18n.t('createSuperAdmin.cancel.cancel')
      });
      if (result.value) {
        this.$router.push('/dashboard');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.rounded {
  border-radius: 7px;
  margin: 0.2rem;
}

.danger {
  background-color: #f14668;
}
.danger:hover {
  background-color: #ff002f;
}
</style>
