<template>
  <div>
    <div v-if="loaded === true">
      <DashboardTeacher :teacher="teacher" v-if="role === 1" />
      <DashboardSchool :teachers="school.teachers" v-if="role === 2" />
      <DashboardSuperAdmin :superAdmin="superAdmin" v-if="role === 3 && loaded" />
    </div>
    <div v-else><Spinner /></div>
  </div>
</template>

<script>
import DashboardTeacher from '../components/dashboardTeacher';
import DashboardSchool from '../components/dashboardSchool';
import DashboardSuperAdmin from '../components/dashboardSuperAdmin';
import Spinner from '../components/spinner';

import CourseService from '../services/courseService';
import SessionService from '../services/sessionService';
import TeacherService from '../services/schoolService';
import UsageService from '../services/usageDataService';
import SchoolService from '../services/schoolService';

export default {
  name: 'DashboardPage',
  components: {
    DashboardTeacher,
    DashboardSchool,
    DashboardSuperAdmin,
    Spinner
  },
  data() {
    return {
      role: 0,
      loaded: false,
      teacher: {
        courses: [],
        sessions: []
      },
      school: {
        teachers: []
      },
      superAdmin: {
        schools: [],
        usage: {
          labels: [],
          datasets: [
            {
              backgroundColor: [],
              data: []
            }
          ]
        }
      }
    };
  },
  methods: {
    generateRandomColor() {
      return '#' + Math.floor(Math.random() * 16777215).toString(16);
    }
  },
  async created() {
    this.role = this.$store.getters.getUser.role;
    try {
      if (this.role === 1) {
        this.teacher.courses = await CourseService.getLatestCourses();
        this.teacher.sessions = await SessionService.getLatestSessions();
      } else if (this.role === 2) {
        this.school.teachers = await TeacherService.getLatestTeachers(
          this.$store.getters.getSchool.adminId
        );
      } else if (this.role === 3) {
        this.superAdmin.schools = await SchoolService.getLatestSchools();
        let usageViews = await UsageService.loadPageViews();
        usageViews.forEach(element => {
          this.superAdmin.usage.labels.push(element.groupByKey);
          this.superAdmin.usage.datasets[0].backgroundColor.push(
            this.generateRandomColor()
          );
          this.superAdmin.usage.datasets[0].data.push(element.count);
        });
      }
      this.loaded = true;
    } catch (e) {
      let toastText = this.$i18n.t('course.failedToFetch');
      this.$vToastify.error(toastText);
      setTimeout(this.created, 5000);
    }
  }
};
</script>
