<template>
  <!--<div class="coursesContainer">-->
  <div class="columns">
    <div class="column">
      <label>{{ $t('course.nameText') }}</label>
      <input
        class="input is-rounded"
        type="text"
        v-model="course.name"
        :placeholder="$t('course.nameText')"
      />
      <br />
      <br />
      <label>{{ $t('course.amountOfStudentsText') }}</label>
      <input
        class="input is-rounded"
        type="number"
        v-model.number="course.amountOfStudents"
        :placeholder="$t('course.amountOfStudentsText')"
      />
      <br />
      <br />
      <label>{{ $t('course.yearText') }}</label>

      <input
        class="input is-rounded"
        type="text"
        v-model="course.schoolYear"
        :placeholder="$t('course.yearText')"
      />
      <br />
      <br />

      <div class="centered">
        <btn @click="updateCourse()" class="rounded">
          {{ $t('course.updateCourseButton') }}</btn
        >
        <btn @click="deleteCourse()" class="danger rounded">
          {{ $t('course.deleteCourseButton') }}</btn
        >
      </div>
    </div>
    <div class="column">
      <label
        ><strong>{{ $t('course.preview') }}</strong></label
      >
      <PreviewCard v-bind:course="course"></PreviewCard>
    </div>
  </div>
</template>

<script>
import Btn from '../components/button';
import CourseService from '../services/courseService';
import PreviewCard from '../components/preview_card';

export default {
  name: 'EditCoursePage',
  components: { Btn, PreviewCard },
  data() {
    return {
      course: null
    };
  },
  methods: {
    updateCourse: async function() {
      try {
        await CourseService.updateCourse(this.course);
        this.$router.push('courses');
      } catch (e) {
        this.$fire({
          title: this.$i18n.t('login.error.title'),
          html: this.$i18n.t('login.error.BodyUpdatingCourse'),
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: true,
          confirmButtonText: this.$i18n.t('ok'),
          type: 'error'
        });
      }
    },
    deleteCourse: async function() {
      this.$fire({
        title: this.$i18n.t('course.deletingCourse.title'),
        text: this.$i18n.t('course.deletingCourse.body'),
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: this.$i18n.t('course.deletingCourse.cancelButton'),
        confirmButtonText: this.$i18n.t('course.deletingCourse.confirmButton')
      }).then(async result => {
        if (result.value) {
          try {
            await CourseService.deleteCourse(this.course);
            this.$router.push('courses');
          } catch (e) {
            this.$fire({
              title: this.$i18n.t('login.error.title'),
              html: this.$i18n.t('login.error.BodyDeletingCourse'),
              showCloseButton: true,
              showCancelButton: false,
              focusConfirm: true,
              confirmButtonText: this.$i18n.t('ok'),
              type: 'error'
            });
          }
        }
      });
    }
  },
  created() {
    this.course = this.$route.params.obj;
  }
};
</script>

<style scoped lang="scss">
.coursesContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
}

.centered {
  justify-content: center;
  display: flex;
}
</style>
