<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Edit Test</h1>
      <p class="subtitle">Edit a <strong>test</strong></p>
    </section>

    <progress v-if="loading" class="progress is-small is-primary" max="100"></progress>
    <test-form v-else update :test="test" />
  </div>
</template>

<script>
// -- components ---------------------------
import TestForm from '../components/testForm.vue';

// -- services -----------------------------
import TestService from '../services/testService';

export default {
  name: 'EditTestPage',
  components: { TestForm },
  data() {
    return {
      loading: false,
      test: null
    };
  },
  async created() {
    this.loading = true;
    const id = this.$route.params.testId;
    try {
      await this.loadTestData(id);
      this.loading = false;
    } catch (e) {
      let toastText = this.$i18n.t('mytests.toast.errorEdit');
      this.$vToastify.error(toastText);
      setTimeout(this.created(), 5000);
    }
  },
  methods: {
    async loadTestData(id) {
      const test = await TestService.getTestById(id);
      this.test = {
        id: test.id,
        settings: undefined,
        questions: [],
        parties: undefined,
        isLocked: test.isLocked
      };
      //get word definitions for test
      const explanations = await TestService.getWordexplanationsById(test.id);

      // set test settings
      this.test.settings = {
        title: test.title,
        visibility: test.visibility - 1,
        tags: test.tags,
        courses: test.courses,
        isVotingTest: test.partyIds.length > 0,
        explanations
      };

      // get questions
      const questions = await TestService.getQuestionsByTestId(test.id);
      this.test.questions = questions.map(q => ({
        id: q.questionId,
        remoteId: q.questionId,
        question: q.questionString,
        allowSkip: q.allowSkip,
        video: q.video,
        forceGiveArgument: q.forceGiveArgument,
        allowGiveArgument: q.allowGiveArgument,
        isMultipleChoice: q.isMultipleChoice,
        answers: [
          ...q.correctAnswers.map(a => ({ correct: true, value: a })),
          ...q.incorrectAnswers.map(a => ({ correct: false, value: a }))
        ],
        explanations: q.explanations
      }));

      // stop loading data if no party game
      if (test.partyIds.length === 0) return;

      const parties = await TestService.getPartiesFromTest(test.id);
      this.test.parties = parties.map(p => ({
        id: p.partyId,
        partyId: p.partyId,
        answers: p.answers.map(a => ({
          statementId: a.statementId,
          questionId: a.questionId,
          answer: a.explanation,
          opinion: a.answer
        }))
      }));
    }
  }
};
</script>
