<template>
  <div class="randomClassName">
    <div class="levetated card faqCard">
      <header class="card-header">
        <h2 class="card-header-title">{{ $t('faqs.title') }}</h2>
        <a href="#" class="card-header-icon" @click="returnToPrevious()">
          {{ $t('faqs.return') }}
        </a>
      </header>
      <div class="card-content" v-if="loaded === true && faqs.length !== 0">
        <BulmaAccordion
          dropdown
          :icon="'caret'"
          :caretAnimation="{
            duration: '.4s',
            timerFunc: 'ease-in-out'
          }"
          :slide="{
            duration: '.4s',
            timerFunc: 'ease'
          }"
        >
          <BulmaAccordionItem v-for="faq in faqs" :key="faq.id">
            <h3 slot="title" class="title is-4">{{ faq.question }}</h3>
            <p class="margin-top-5" slot="content">{{ faq.answer }}</p>
          </BulmaAccordionItem>
        </BulmaAccordion>
      </div>
      <div class="centre-div card-content" v-if="loaded === false || faqs.length === 0">
        <div class="content" v-if="loaded === true && faqs.length === 0">
          {{ $t('faqs.noContent') }}
        </div>
        <div class="content" v-if="loaded === false">
          <Spinner />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FaqService from '../services/faqService';
import Spinner from '../components/spinner';

export default {
  name: 'FaqsPage',
  components: { Spinner },
  data() {
    return {
      faqs: [],
      loaded: false
    };
  },
  methods: {
    async getFaqs() {
      try {
        let response = await FaqService.getAllFaqs();
        response.data.forEach(faq => {
          if (faq.languageCode == this.$i18n.locale) this.faqs.push(faq);
        });
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('faqs.failedToLoad');
        this.$vToastify.error(toastText);
        this.getFaqs();
      }
    },
    returnToPrevious() {
      let params = this.$route.query.previous;
      if (params == undefined) {
        this.$router.push('/');
      } else {
        this.$router.push(decodeURI(params));
      }
    }
  },
  created() {
    this.getFaqs();
  }
};
</script>

<style scoped lang="scss">
div.faqCard {
  width: 90%;
  margin: 0 auto 0 auto;
}
.randomClassName {
  height: 100vh;
  width: 100vw;
}
</style>
