<template>
  <div>
    <div class="center" v-if="loaded == true">
      <input
        class="input"
        type="text"
        :placeholder="$t('search')"
        v-model="searchFieldValue"
        v-on:keyup.enter="doSearch()"
      />

      <button class="button addButton" @click="addFaq()">
        <fa icon="plus" style="margin-right: 5px;" />{{ $t('myfaqs.new') }}
      </button>
    </div>

    <div class="coursesContainer" v-if="loaded == true">
      <div class="columns">
        <div class="column">
          <FaqCard
            v-for="faq in faqs"
            :key="faq.id"
            v-bind:faq="faq"
            @delete="deleteFnc"
          />
        </div>
      </div>
    </div>
    <div
      class="coursesContainer"
      style="margin-top: 25px"
      v-if="loaded === true && faqs.length > 0"
    >
      <Pagination
        v-bind:pagination="pagination"
        v-on:nextPage="nextPage"
        v-on:previousPage="previousPage"
      ></Pagination>
    </div>
    <div v-if="loaded === true && faqs.length === 0">
      {{ $t('myfaqs.noContent') }}
    </div>
    <div class="coursesContainer" v-if="loaded === false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import FaqService from '../services/faqService';
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import FaqCard from '../components/faqCard';

export default {
  name: 'MyFaqsPage',
  components: { FaqCard, Spinner, Pagination },
  data() {
    return {
      faqs: [],
      pagination: {},
      loaded: false,
      searchFieldValue: '',
      privacyOptions: []
    };
  },
  methods: {
    addFaq: function() {
      let lang = this.$i18n.locale;
      this.faqs.unshift({ answer: '', languageCode: lang, question: '' });
    },
    getFaqs: async function(page) {
      try {
        let response = await FaqService.getFaqs(page, this.searchFieldValue);
        this.faqs = response.data;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('myfaqs.failedToLoad');
        this.$vToastify.error(toastText);
        setTimeout(this.getFaqs(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.loaded = false;
      this.getFaqs(page);
    },
    previousPage: async function(page) {
      this.loaded = false;
      this.getFaqs(page);
    },
    doSearch() {
      this.getFaqs(1);
      this.loaded = false;
    },
    async deleteFnc(faq) {
      try {
        this.faqs.splice(this.faqs.indexOf(faq), 1);
        if (!faq.id) return;
        await FaqService.deleteQuestion(faq);
        let toastText = this.$i18n.t('myfaqs.deleted');
        this.$vToastify.success(toastText);
      } catch (e) {
        let toastText = this.$i18n.t('myfaqs.failedToDelete');
        this.$vToastify.error(toastText);
      }
    }
  },
  created: async function() {
    this.getFaqs(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  width: 100%;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 29px;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
