<template>
  <div class="layout">
    <main class="main">
      <PWRequestBox class="levetated" v-bind:resetkey="resetkey" />
    </main>
  </div>
</template>

<script>
import PWRequestBox from '../components/pw_request_box.vue';

export default {
  name: 'ForgotPage',
  components: { PWRequestBox },
  props: ['resetkey']
};
</script>
