<template>
  <div class="layout" :style="{ backgroundColor: color }">
    <!-- -- main content --------------- -->
    <main class="main scrollable">
      <div class="pin levetated">
        <!-- -- pick party ------------- -->
        <div
          v-if="
            this.$store.getters.session.type == 'PARTY_GAME' &&
              this.$store.getters.session.parties.length > 0 &&
              this.selectedParty == null
          "
          id="partyselector"
        >
          <h3>{{ $t('game.party.pickParty') }}</h3>
          <div
            v-for="party in this.$store.getters.session.parties"
            :key="party.id"
            class="columns is-mobile no-margin party"
            v-on:click="selectParty(party)"
          >
            <div class="column is-narrow">
              <img :src="party.logo" :title="party.name" />
            </div>
            <div class="column" v-bind:style="{ color: party.color }">
              {{ party.name }}
            </div>
          </div>
        </div>
        <!-- -- show connected users---- -->
        <h1 class="users">
          <fa icon="users" style="margin-right: 5px;" /> {{ numberOfStudentsJoined }}
        </h1>
        <!-- -- wait on next question--- -->
        <h1
          class="waitText"
          v-show="
            (currentQuestion == null || questionAnswered) &&
              !showResults &&
              (this.$store.getters.session.type != 'PARTY_GAME' ||
                this.selectedParty != null)
          "
        >
          {{ $t('game.question.wait') }}
        </h1>

        <!-- -- spinner----------------- -->

        <Spinner
          class="margin-top-12"
          v-show="
            (currentQuestion == null || questionAnswered) &&
              !showResults &&
              (this.$store.getters.session.type != 'PARTY_GAME' ||
                this.selectedParty != null)
          "
        />
        <!-- -- show question  -->
        <h1
          class="question definitions"
          v-html="
            parseDefinitions(
              escapeHtml(currentQuestion.question),
              mergeDefinitions(currentQuestion.definitions, globalDefinitions)
            )
          "
          v-if="currentQuestion != null && !questionAnswered"
        />

        <!-- -- video  -->
        <br
          v-if="currentQuestion != null && !questionAnswered && currentQuestion.video"
        />
        <div
          class="resp-container"
          v-if="currentQuestion != null && !questionAnswered && currentQuestion.video"
        >
          <iframe
            width="700"
            class="responsive-iframe"
            height="445"
            :src="'https:\//www.youtube.com/embed/' + getYoutubeId(currentQuestion.video)"
          >
          </iframe>
        </div>
        <br
          v-if="currentQuestion != null && !questionAnswered && currentQuestion.video"
        />

        <!-- -- add opinion to question  -->
        <OpinionList
          @setOpinions="setOpinions"
          v-if="
            currentQuestion != null && !questionAnswered && currentQuestion.enableArgument
          "
        />

        <!-- -- answers ----------------- -->
        <div
          class="buttons columns no-margin"
          v-if="currentQuestion != null && !questionAnswered"
        >
          <div class="column" v-for="answer in currentQuestion.answers" :key="answer.id">
            <button
              class="button is-large is-fullwidth is-primary"
              v-on:click="sendAnswer(answer.id, answer.value)"
            >
              {{ answer.value }}
            </button>
          </div>
        </div>

        <!-- -- show party arguments --- -->
        <div
          v-if="
            this.$store.getters.session.isVoteTest &&
              this.$store.getters.session.isVoteTest === true &&
              currentQuestion != null &&
              !questionAnswered
          "
          class="centre-div"
        >
          <button
            class="button is-primary is-small"
            v-on:click="toggleShowPartyArguments()"
            v-if="this.showPartyArguments === false"
          >
            {{ $t('game.argument.showPartyArgument') }}
          </button>
          <div v-if="this.showPartyArguments === true">
            <PartyArguments :partyArguments="currentQuestion.partyArguments" />
            <button
              class="button is-primary is-small"
              v-on:click="toggleShowPartyArguments()"
              v-if="this.showPartyArguments === true"
            >
              {{ $t('game.argument.hidePartyArgument') }}
            </button>
          </div>
        </div>

        <!-- -- error ------------------ -->
        <div class="skip" v-if="forceArgument">
          <p>{{ $t('game.argument.errorForce') }}</p>
        </div>

        <GameResults
          v-if="showResults"
          :result="results"
          :gameType="$store.getters.session.type"
          :isVoteTest="this.$store.getters.session.isVoteTest"
        />
      </div>
    </main>
    <!-- -- footer --------------------- -->
    <footer class="levetated">
      <div class="centre-div">
        <a @click="routeToPrivacyPage">{{ $t('privacy.title') }}</a>
      </div>
    </footer>
  </div>
</template>

<script>
// components
import OpinionList from '../components/opinionlist';
import GameResults from '../components/gameResults';
import Spinner from '../components/spinner';
import PartyArguments from '../components/partyArguments';

// extract youtube id from url
import getYouTubeID from 'get-youtube-id';

// services
import SessionService from '../services/sessionService';
import TestService from '../services/testService';

export default {
  name: 'GamePage',
  props: ['gameId'],
  components: { OpinionList, GameResults, PartyArguments, Spinner },
  data() {
    return {
      numberOfStudentsJoined: 0,
      results: null,
      opinion: '',
      showResults: false,
      opinions: [],
      defaultBgColor: 'white',
      defaultParticleColor: '#1cb395',
      defaultLinesColor: '#27ae60',
      color: '',
      colorParticle: '#1cb395',
      colorLineParticle: '#27ae60',
      showParty: false,
      currentQuestion: null,
      questionAnswered: false,
      selectedParty: null,
      forceArgument: false,
      rerender: false,
      showPartyArguments: false,
      answers: [],
      globalDefinitions: [],
      componentKey: 0, // used to re render the particles component
      white: '#FFFFFF'
    };
  },
  async created() {
    try {
      this.$sessionHub.ConnectionOpen(async () => {
        if (Object.keys(this.$store.getters.session).length === 0) {
          this.$sessionHub.JoinSession(this.gameId).catch(() => {
            this.$router.push({ path: '/' });
          });
          this.$sessionHub.$on('SessionJoined', async obj => {
            this.$store.commit('setSession', obj.session);
            this.globalDefinitions = await TestService.getWordexplanationsById(
              obj.session.testId
            );
          });
        } else {
          this.runGame();
        }

        this.$sessionHub.$on('StudentConnected', obj => {
          this.numberOfStudentsJoined = obj.numberOfStudentsConnected;
        });

        // show user next question
        this.$sessionHub.$on('ServeQuestion', obj => {
          this.opinions = [];
          this.currentQuestion = obj.question;
          this.currentQuestion.answers = this.currentQuestion.answers.sort((a, b) =>
            a.value.localeCompare(b.value)
          );
          this.questionAnswered = false;
          this.showPartyArguments = false;
          if (this.$store.getters.session.type === 'DEBATE_GAME') this.resetColors();
        });

        // test/game has been completed
        this.$sessionHub.$on('SessionCompleted', async obj => {
          console.log('SessionCompleted', obj);

          this.results = await SessionService.getResultsSession(
            this.$store.getters.session.opaque
          );
          this.showResults = true;
        });
      });
    } catch (error) {
      this.$vToastify.error(this.$i18n.t('errorBody'));
    }
  },
  methods: {
    forceRerender() {
      this.componentKey += 1;
    },
    toggleShowPartyArguments() {
      this.showPartyArguments = !this.showPartyArguments;
    },
    runGame() {},
    resetColors() {
      this.color = this.defaultColor;
      this.colorParticle = this.defaultParticleColor;
      this.colorLineParticle = this.defaultLinesColor;
      this.forceRerender();
    },
    setColors(answer) {
      this.rerender = false;
      if (answer == 'AGREE') {
        this.color = this.$store.getters.session.trueColor;
      } else {
        this.color = this.$store.getters.session.falseColor;
      }
      this.colorParticle = this.white;
      this.colorLineParticle = this.white;
      this.forceRerender();
    },
    selectParty(party) {
      this.selectedParty = party;
      this.$sessionHub.SelectParty(this.$store.getters.session.opaque, party.id);
    },
    async sendAnswer(answerId, answerAgree) {
      if (this.currentQuestion.forceArgument && this.opinions.length <= 0) {
        this.forceArgument = true;
        return;
      }

      this.questionAnswered = true;
      await this.$sessionHub.Answer(
        this.$store.getters.session.opaque,
        this.currentQuestion.questionId,
        this.currentQuestion.currentQuestionIndex,
        answerId,
        this.opinions.join('\n')
      );

      this.forceArgument = false;

      if (this.$store.getters.session.type === 'DEBATE_GAME') this.setColors(answerAgree);
    },
    getYoutubeId(url) {
      return getYouTubeID(url);
    },
    escapeHtml(unsafe) {
      return unsafe
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#039;');
    },
    mergeDefinitions(primary, secondary) {
      let merged = [...primary]; // Clone primary array
      for (let def in secondary) {
        if (typeof primary.find(d => d.word == secondary[def].word) === 'undefined') {
          merged.push(secondary[def]);
        }
      }
      return merged;
    },
    parseDefinitions(string, definitions) {
      if (!definitions) return string;

      for (let def in definitions) {
        // Replaced split with regex
        // * Split is faster
        // * Regex can search case-insensitive
        // * Regex replaces the word with correct casing used in original string
        string = string.replace(
          new RegExp(
            '(' + definitions[def].word.replace(/[|\\{}()[\]^$+*?.]/g, '\\$&') + ')',
            'gi'
          ),
          '<span class="hint--top  hint--rounded definition" aria-label="' +
            this.escapeHtml(definitions[def].explanation) +
            '">$1</span>'
        );
        /*string = string
          .split(definitions[def].word)
          .join(
            '<span class="hint--top  hint--rounded definition" aria-label="' +
              this.escapeHtml(definitions[def].explanation) +
              '">' +
              definitions[def].word +
              '</span>'
          );*/
      }
      return string;
    },
    setOpinions(opinions) {
      this.opinions = opinions;
    },
    routeToPrivacyPage: function() {
      let redirect = encodeURI(this.$router.currentRoute.path);
      this.$router.push({ name: 'privacy', params: { returnPage: redirect } });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~bulma/bulma.sass';
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;
@import '../sass/game.scss';

.users {
  float: left;
  font-weight: bolder;
}

.scrollable {
  overflow-y: auto;
}
</style>
