<template>
  <div class="container">
    <section class="section">
      <h1 class="title">{{ $t('importTest.title') }}</h1>
      <p class="subtitle">{{ $t('importTest.subtitle') }}</p>
    </section>

    <card title="Upload your files">
      <form @submit.prevent="handleSubmit">
        <div class="field">
          <label class="label">{{ $t('importTest.statements') }}</label>
          <div class="control">
            <file-upload
              @input="file => (questionCsv = file)"
              class="is-fullwidth"
              :allowedTypes="['text/csv', 'application/vnd.ms-excel']"
            />
          </div>
          <p class="help">{{ $t('importTest.statementsHelp') }}</p>
        </div>
        <div class="field">
          <label class="label">{{ $t('importTest.definitions') }}</label>
          <div class="control">
            <file-upload
              @input="file => (definitionsCsv = file)"
              class="is-fullwidth"
              :allowedTypes="['text/csv', 'application/vnd.ms-excel']"
            />
          </div>
          <p class="help">{{ $t('importTest.definitionsHelp') }}</p>
        </div>
        <button class="button is-primary is-fullwidth" :class="{ 'is-loading': loading }">
          {{ $t('importTest.upload') }}
        </button>
        <p class="help warning" v-if="warning">{{ warning }}</p>
      </form>
    </card>
  </div>
</template>

<script>
// -- components ---------------------------
import Card from '../components/card.vue';
import FileUpload from '../components/fileInput.vue';

// -- services -----------------------------
import CsvService from '../services/csvService';

export default {
  name: 'ImportTestPage',
  components: { Card, FileUpload },
  data() {
    return {
      questionCsv: undefined,
      definitionsCsv: undefined,
      warning: '',
      loading: false
    };
  },
  methods: {
    async handleSubmit() {
      // check if both files selected
      if (!this.questionCsv || !this.definitionsCsv) {
        this.warning = this.$t('importTest.incorrect');
        return;
      }

      try {
        this.loading = true;

        // upload question csv
        let form = new FormData();
        form.append('file', this.questionCsv);
        const test = await CsvService.uploadTest(form);

        // upload word definitions
        form = new FormData();
        form.append('file', this.definitionsCsv);
        await CsvService.uploadDefinitions(test.id, form);
        this.$router.push('/tests/edit/' + test.id);
      } catch (e) {
        this.warning = e.message;
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.help.warning {
  color: var(--red);
  text-align: center;
}
</style>
