<template>
  <div class="layout">
    <header class="header">
      <PlayerCount
        v-bind:count="this.gameState.playerCount"
        v-if="this.gameState != null"
      />
      <btn @click="selectLanguage()">{{ $t('selectLanguage.button') }}</btn>
      <login-button
        v-on:navigateToLogin="navigateToLogin()"
        v-if="this.gameState == null"
      />
    </header>
    <main class="main">
      <JoinBox
        class="levetated"
        v-on:joinGame="joinGame"
        v-bind:gameState="this.gameState"
      />
    </main>
    <footer class="levetated">
      <div class="centre-div">
        <a @click="routeToFaq">{{ $t('faqs.faq') }}</a>
        <a @click="routeToPrivacyPage">{{ $t('privacy.title') }}</a>
      </div>
    </footer>
  </div>
</template>

<script>
import LoginButton from '../components/login.button';
import PlayerCount from '../components/playercount';
import JoinBox from '../components/join_box';
import EventBus from '../event-bus';
import Btn from '../components/button';
import pickLang from '../util/pickLanguage';

export default {
  name: 'JoinPage',
  components: { PlayerCount, LoginButton, JoinBox, Btn },
  data() {
    return {
      gameState: null
    };
  },
  async created() {
    this.addHubHandlers();
  },
  methods: {
    selectLanguage() {
      pickLang(this);
    },
    routeToPrivacyPage: function() {
      let redirect = encodeURI(this.$router.currentRoute.path);
      this.$router.push({ name: 'privacy', params: { returnPage: redirect } });
    },
    routeToFaq: function() {
      let redirect = encodeURI(this.$router.currentRoute.path);
      this.$router.push({ name: 'faq', query: { previous: redirect } });
    },
    joinGame: function(pin) {
      this.$sessionHub.JoinSession(pin).catch(() => {
        this.$vToastify.error(this.$i18n.t('invalidPin'));
        EventBus.$emit('join_box_shake'); // Invalid PIN
      });
    },
    navigateToLogin() {
      this.$router.push('login');
    },
    addHubHandlers() {
      this.$sessionHub.$on('SessionJoined', obj => {
        this.$store.commit('setSession', obj.session);
        this.$router.push({ path: '/game/' + obj.session.pin });
      });
      /*
      this.$sessionHub.$on('studentconnected', count => {
        this.gameState.playerCount = count;
      });
      */
    }
  }
};
</script>

<style scoped lang="scss">
footer {
  div {
    a {
      padding: 0 0.4rem;
    }
  }
}
</style>
