<template>
  <div class="layout">
    <main class="main">
      <login-box class="levetated" />
    </main>
  </div>
</template>

<script>
import LoginBox from '../components/loginBox.vue';

export default {
  name: 'LoginPage',
  components: { LoginBox }
};
</script>
