<template>
  <div>
    <div class="center" v-if="loaded == true">
      <input
        class="input"
        type="text"
        :placeholder="$t('search')"
        v-model="searchFieldValue"
        v-on:keyup.enter="doSearch()"
      />
      <button class="button addButton" @click="addParty()">
        <fa icon="plus" style="margin-right: 5px;" />{{ $t('myparties.new') }}
      </button>
    </div>

    <div class="coursesContainer" v-if="loaded == true && parties.length > 0">
      <div class="columns">
        <div class="column">
          <ul>
            <li v-for="party in parties" :key="party.id">
              <PartyCard v-bind:party="party" @removePartyObj="removePartyObj" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="loaded === true && parties.length === 0">
      {{ $t('myparties.noContent') }}
    </div>
    <div class="coursesContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import Spinner from '../components/spinner';
import PartyService from '../services/partyService';
import PartyCard from '../components/partyCard';

export default {
  name: 'MyTestsPage',
  components: { Spinner, PartyCard },
  data() {
    return {
      parties: [],
      loaded: false,
      searchFieldValue: ''
    };
  },
  methods: {
    addParty: function() {
      this.parties.unshift({ color: '#000000', id: '', logo: '', name: '', slogan: '' });
    },
    getParties: async function() {
      try {
        this.parties = await PartyService.getAllParties();
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('myparties.failedToLoad');
        this.$vToastify.error(toastText);
        setTimeout(this.getParties(), 5000);
      }
    },
    doSearch() {
      this.getParties(1);
      this.loaded = false;
    },
    removePartyObj(partyObj) {
      this.parties.splice(this.parties.indexOf(partyObj), 1);
    }
  },
  created: async function() {
    this.getParties(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  width: 100%;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 29px;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
