<template>
  <div>
    <div class="center" v-if="loaded == true">
      <button class="button addButton" @click="addTag()">
        <fa icon="plus" style="margin-right: 5px;" />{{ $t('mytags.new') }}
      </button>
    </div>

    <div class="coursesContainer" v-if="loaded == true && tags.length > 0">
      <div class="columns">
        <div class="column">
          <ul>
            <li v-for="tag in tags" :key="tag.id">
              <TagCard v-bind:tag="tag" @removeTagObj="removeTagObj" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="loaded === true && tags.length === 0">
      {{ $t('mytags.noContent') }}
    </div>
    <div class="coursesContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import Spinner from '../components/spinner';
import TagService from '../services/tagService';
import TagCard from '../components/tagCard';

export default {
  name: 'MyTagsPage',
  components: { Spinner, TagCard },
  data() {
    return {
      tags: [],
      loaded: false,
      searchFieldValue: ''
    };
  },
  methods: {
    addTag: function() {
      this.tags.unshift({ color: '#000000', name: '' });
    },
    getTags: async function() {
      try {
        this.tags = (await TagService.getTags()).data;
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('mytags.failedToLoad');
        this.$vToastify.error(toastText);
        setTimeout(this.getTags(), 5000);
      }
    },
    removeTagObj(tagObj) {
      this.tags.splice(this.tags.indexOf(tagObj), 1);
    }
  },
  created: async function() {
    this.getTags(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  width: 100%;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 29px;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
