<template>
  <div>
    <div class="center" v-if="loaded == true">
      <input
        class="input"
        type="text"
        :placeholder="$t('search')"
        v-model="searchFieldValue"
        v-on:keyup.enter="doSearch()"
      />

      <button class="button addButton" @click="addTeacher()">
        <fa icon="plus" style="margin-right: 5px;" /> {{ $t('myteachers.add') }}
      </button>

      <div class="clearfix" />
    </div>

    <div
      class="coursesContainer cols"
      style="margin-top: 2rem"
      v-if="loaded == true && (teachers.length > 0 || isAddingTeacher === true)"
    >
      <div v-if="isAddingTeacher">
        <TeacherCard
          v-bind:teacher="newTeacher"
          v-on:addTeacher="teacherAdded"
          @deleteNewTeacher="isAddingTeacher = false"
        />
      </div>
      <TeacherCard
        v-for="teacher in teachers"
        :key="teacher.id"
        v-bind:teacher="teacher"
        @deleteNewTeacher="removeTeacherFromList"
      />
    </div>
    <div class="coursesContainer" style="margin-top: 2rem" v-if="loaded == true">
      <Pagination
        v-if="teachers.length > 0"
        v-bind:pagination="pagination"
        v-on:nextPage="nextPage"
        v-on:previousPage="previousPage"
      />
      <div v-if="isAddingTeacher !== true && teachers.length === 0">
        {{ $t('myteachers.noContent') }}
      </div>
    </div>
    <div class="coursesContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import TeacherService from '../services/schoolService';
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import TeacherCard from '../components/teacherCard';

export default {
  name: 'Teachers',
  components: { TeacherCard, Spinner, Pagination },
  data() {
    return {
      teachers: [],
      pagination: {},
      loaded: false,
      searchFieldValue: '',
      privacyOptions: [],
      isAddingTeacher: false,
      newTeacher: {}
    };
  },
  methods: {
    addTeacher: async function() {
      this.newTeacher = {
        email: '',
        firstName: '',
        id: '',
        lastName: '',
        role: 0,
        schoolId: '',
        token: ''
      };
      this.isAddingTeacher = !this.isAddingTeacher;
    },
    teacherAdded(t) {
      this.teachers.push(t);
      this.isAddingTeacher = false;
    },
    getTeachers: async function(page) {
      try {
        let response = await TeacherService.getTeachers(page, this.searchFieldValue);
        this.teachers = response.data.users;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('myteachers.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getTeachers(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.loaded = false;
      this.getTeachers(page);
    },
    previousPage: async function(page) {
      this.loaded = false;
      this.getTeachers(page);
    },
    doSearch() {
      this.getTeachers(1);
      this.loaded = false;
    },
    removeTeacherFromList(teacher) {
      this.teachers.splice(this.teachers.indexOf(teacher), 1);
    }
  },
  created: async function() {
    this.getTeachers(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.coursesContainer.cols {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 29px;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
