<template>
  <div>
    <div class="center" v-if="loaded == true">
      <input
        class="input"
        type="text"
        :placeholder="$t('search')"
        v-model="searchFieldValue"
        v-on:keyup.enter="doSearch()"
      />
      <button class="button addButton" @click="importTest()">
        <fa icon="plus" style="margin-right: 5px;" />{{ $t('mytests.import') }}
      </button>
      <button class="button addButton" @click="addTest()">
        <fa icon="plus" style="margin-right: 5px;" /> {{ $t('mytests.add') }}
      </button>
    </div>

    <div class="coursesContainer" v-if="loaded == true && tests.length > 0">
      <div class="columns">
        <div class="column">
          <TestCard
            v-for="test in testsLeftColumn"
            :key="test.id"
            v-bind:test="test"
            @deleteNewTest="removeTestFromList"
          />
        </div>
        <div class="column">
          <TestCard
            v-for="test in testsRightColumn"
            :key="test.id"
            v-bind:test="test"
            @deleteNewTest="removeTestFromList"
          />
        </div>
      </div>
    </div>
    <div class="coursesContainer" style="margin-top: 25px" v-if="loaded == true">
      <Pagination
        v-if="tests.length > 0"
        v-bind:pagination="pagination"
        v-on:nextPage="nextPage"
        v-on:previousPage="previousPage"
      />
      <div v-if="loaded == true && tests.length == 0">
        {{ $t('voteTests.noContent') }}
      </div>
    </div>
    <div class="coursesContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import TestCard from '../components/testCard';

import TestService from '../services/testService';

export default {
  name: 'ManageVoteTests',
  components: { TestCard, Spinner, Pagination },
  data() {
    return {
      tests: [],
      testsLeftColumn: [],
      testsRightColumn: [],
      pagination: {},
      loaded: false,
      searchFieldValue: '',
      privacyOptions: []
    };
  },
  methods: {
    importTest() {
      this.$router.push('/tests/import');
    },
    addTest: function() {
      this.$router.push({ name: 'CreateTest' });
    },
    getTests: async function(page) {
      try {
        let response = await TestService.getVoteTests(page, this.searchFieldValue);
        this.tests = response.data;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loadTest(this.tests);
      } catch (e) {
        let toastText = this.$i18n.t('mytests.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getTests(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.loaded = false;
      this.getTests(page);
    },
    previousPage: async function(page) {
      this.loaded = false;
      this.getTests(page);
    },
    loadTest: function(tests) {
      this.testsLeftColumn = [];
      this.testsRightColumn = [];
      if (tests.length > 3) {
        this.testsLeftColumn = tests.slice(0, 3);
        this.testsRightColumn = tests.slice(3, tests.length);
      } else {
        this.testsLeftColumn = tests;
      }
      this.loaded = true;
    },
    doSearch() {
      this.getTests(1);
      this.loaded = false;
    },
    removeTestFromList(test) {
      this.tests.splice(this.tests.indexOf(test), 1);
    }
  },
  created: async function() {
    this.getTests(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  width: 100%;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 0.5rem;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
