<template>
  <div class="container" v-if="loaded == true">
    <div class="headerContainer">
      <section>
        <h1 class="title">{{ $t('mysessions.sessionTitle') }}</h1>
        <p class="subtitle">
          {{ $t('mysessions.sessionSub') }}
        </p>
      </section>
      <div>
        <input
          class="input"
          type="text"
          :placeholder="$t('search')"
          v-model="searchFieldValue"
          v-on:keyup.enter="doSearch()"
        />
        <button class="button addButton" @click="addSession()">
          <fa icon="plus" style="margin-right: 5px;" />{{ $t('mysessions.new') }}
        </button>
      </div>
    </div>

    <div class="sessionContainer" v-if="loaded == true && sessions.length > 0">
      <SessionCard
        v-for="session in sessions"
        :key="session.id"
        v-bind:session="session"
        @deleteSession="deleteFnc"
      />
    </div>
    <div class="footerContainer" v-if="loaded == true && sessions.length > 0">
      <Pagination
        v-bind:pagination="pagination"
        v-on:nextPage="nextPage"
        v-on:previousPage="previousPage"
      ></Pagination>
    </div>
    <div class="notFound" v-if="loaded == true && sessions.length === 0">
      {{ $t('mysessions.nothingFound') }}
    </div>
    <div class="footerContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import SessionService from '../services/sessionService';
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import SessionCard from '../components/sessionCard';

export default {
  name: 'MySessionsPage',
  components: { SessionCard, Spinner, Pagination },
  props: {
    onlyFromClass: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      sessions: [],
      pagination: {},
      loaded: false,
      searchFieldValue: ''
    };
  },
  watch: {
    onlyFromClass: function() {
      this.getSessions(1);
    }
  },
  methods: {
    addSession: function() {
      this.$router.push('/lessons/create');
    },
    getSessions: async function(page) {
      try {
        let response = await SessionService.getSessionsByUserId(
          page,
          this.searchFieldValue,
          this.onlyFromClass
        );
        this.sessions = response.data.sessions;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('mysessions.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getSessions(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.loaded = false;
      this.getSessions(page);
    },
    previousPage: async function(page) {
      this.loaded = false;
      this.getSessions(page);
    },
    doSearch() {
      this.getSessions(1);
      this.loaded = false;
    },
    async deleteFnc(sessionObj) {
      try {
        let prom = SessionService.closeSession(sessionObj.id);
        this.sessions.splice(this.sessions.indexOf(sessionObj), 1);
        await prom;
      } catch (e) {
        let toastText = this.$i18n.t('mysessions.failed');
        this.$vToastify.error(toastText);
      }
    }
  },
  created: async function() {
    this.getSessions(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 20vh;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sessionContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.hidden {
  visibility: hidden;
}
</style>
