<template>
  <div class="container">
    <div v-if="loaded == true">
      <!------Header--------------------------------------------------------------->
      <div class="headerContainer">
        <section v-if="redirectFromSessionsPage === false">
          <h1 class="title">{{ $t('mytests.title') }}</h1>
          <p class="subtitle" v-if="onlyFavourites === false">
            {{ $t('mytests.subTitle') }}
          </p>
          <p class="subtitle" v-if="onlyFavourites === true">
            {{ $t('mytests.subTitleFavourites') }}
          </p>
        </section>
        <section v-if="redirectFromSessionsPage === true">
          <h1 class="title">{{ $t('mytests.pickTestForSession') }}</h1>
        </section>
        <div>
          <input
            class="input"
            type="text"
            :placeholder="$t('search')"
            v-model="searchFieldValue"
            v-on:keyup.enter="doSearch()"
          />
          <button class="button addButton" @click="importTest()">
            <fa icon="plus" style="margin-right: 5px;" />{{ $t('mytests.import') }}
          </button>
          <button class="button addButton" @click="addTest()">
            <fa icon="plus" style="margin-right: 5px;" />{{ $t('mytests.new') }}
          </button>
        </div>
      </div>
      <div v-if="tests.length > 0">
        <!------Cards--------------------------------------------------------------->
        <div class="myTestsContainer">
          <TestCard
            v-for="test in tests"
            :key="test.id"
            v-bind:test="test"
            @shareTest="shareTest"
            @removeFromFavorites="removeFromFavorites"
          />
        </div>
        <!------Pagination--------------------------------------------------------------->
        <div class="footerContainer" style="margin-top: 25px">
          <Pagination
            v-bind:pagination="pagination"
            v-on:nextPage="nextPage"
            v-on:previousPage="previousPage"
          ></Pagination>
        </div>
      </div>
      <div class="notFound" v-if="tests.length === 0">
        {{ $t('mytests.noTestsFound') }}
      </div>
    </div>
    <div v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import TestService from '../services/testService';

import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import TestCard from '../components/testCard';

import changePrivacy from '../util/changePrivacy';

export default {
  name: 'MyTestsPage',
  components: { TestCard, Spinner, Pagination },
  props: {
    onlyFavourites: {
      type: Boolean,
      required: false,
      default: false
    },
    redirectFromSessionsPage: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      tests: [],
      testsLeftColumn: [],
      testsRightColumn: [],
      pagination: {},
      loaded: false,
      searchFieldValue: '',
      privacyOptions: []
    };
  },
  watch: {
    onlyFavourites: function() {
      this.getTests(1);
    }
  },
  methods: {
    addTest: function() {
      this.$router.push('/tests/create');
    },
    getTests: async function(page) {
      this.loaded = false;
      try {
        let response = await TestService.getTestsByUserId(
          page,
          this.searchFieldValue,
          this.onlyFavourites
        );
        this.tests = response.data;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('mytests.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getTests(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.getTests(page);
    },
    previousPage: async function(page) {
      this.getTests(page);
    },
    importTest: async function() {
      this.$router.push('/tests/import');
    },
    doSearch() {
      this.getTests(1);
    },
    shareTest(id) {
      changePrivacy(this, this.privacyOptions, id);
    },
    removeFromFavorites(test) {
      if (this.onlyFavourites == true) {
        this.tests = this.tests.filter(t => t.id !== test.id);
      }
    }
  },
  created: async function() {
    this.getTests(1);
    this.privacyOptions = await TestService.getTestVisibilities();
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 20vh;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.myTestsContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
</style>
