<template>
  <div class="layout">
    <header class="header levetated">
      <btn @click="home()">
        {{ $t('home') }}
      </btn>
      <login-button class="header-end" />
    </header>
    <main class="levetated">
      <div v-if="checkLanguage('nl')">
        <iframe
          src="https://notfound-static.fwebservices.be/nl-BE/404?key=5df66efd0f25b"
          width="100%"
          height="650"
        ></iframe>
      </div>
      <div v-else>
        <iframe
          src="https://notfound-static.fwebservices.be/en/404?key=5df66efd0f25b"
          width="100%"
          height="650px"
        ></iframe>
      </div>
    </main>
  </div>
</template>

<script>
import LoginButton from '../components/login.button';
import Btn from '../components/button';

export default {
  name: 'NotFoundPage',
  components: { LoginButton, Btn },
  methods: {
    checkLanguage(allowedLang) {
      console.log(this.$i18n.locale);
      return (
        allowedLang === this.$i18n.language ||
        window.localStorage.i18nextLng ||
        this.$i18n.locale
      );
    },
    home() {
      this.$router.push('/');
    }
  }
};
</script>

<style scoped lang="scss">
.part-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 0.75rem;
}
</style>
