<template>
  <div class="container">
    <div v-if="loaded == true">
      <!------Header--------------------------------------------------------------->
      <div class="headerContainer">
        <section>
          <h1 class="title">{{ $t('discoverTests.title') }}</h1>
          <p class="subtitle">
            {{ $t('discoverTests.subTitle') }}
          </p>
        </section>
        <div>
          <input
            class="input"
            type="text"
            :placeholder="$t('search')"
            v-model="searchFieldValue"
            v-on:keyup.enter="doSearch()"
          />
          <!-- -- tags --------------------------- -->
          <div class="field">
            <label class="label">{{ $t('testSettings.tags') }}</label>
            <div class="control">
              <tag-input color="#f9ca24" :availableTags="tagOptions" v-model="tags" />
            </div>
          </div>
        </div>
      </div>
      <div v-if="tests.length > 0">
        <!------Cards--------------------------------------------------------------->
        <div class="myTestsContainer">
          <DiscoverCard v-for="test in testen" :key="test.id" v-bind:test="test" />
        </div>
        <!------Pagination--------------------------------------------------------------->
        <div class="footerContainer" style="margin-top: 25px">
          <Pagination
            v-bind:pagination="pagination"
            v-on:nextPage="nextPage"
            v-on:previousPage="previousPage"
          ></Pagination>
        </div>
      </div>
      <div v-if="tests.length === 0">
        {{ $t('mytests.noTestsFound') }}
      </div>
    </div>
    <div v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import TestService from '../services/testService';
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import DiscoverCard from '../components/discoverCard';
import TagInput from '../components/tagInput.vue';

export default {
  name: 'OntdekPage',
  components: { Spinner, Pagination, DiscoverCard, TagInput },
  data() {
    return {
      tests: [],
      testsLeftColumn: [],
      testsRightColumn: [],
      pagination: {},
      searchFieldValue: '',
      loaded: false,
      page: 1,
      tags: [],
      tagOptions: []
    };
  },
  methods: {
    loadTags: async function() {
      this.tagOptions = await TestService.getTags();
    },
    doSearch() {
      this.getSharedTest(this.page);
    },
    async getSharedTest() {
      try {
        let response = await TestService.getTestsByUserId(
          this.page,
          this.searchFieldValue,
          false,
          true
        );
        this.tests = response.data;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('mytests.failedToFetch');
        this.$vToastify.error(toastText);
      }
    },
    nextPage: async function(page) {
      this.page = page;
      this.getSharedTest();
    },
    previousPage: async function(page) {
      this.page = page;
      this.getSharedTest();
    }
  },
  computed: {
    testen() {
      if (this.tags.length == 0) {
        return this.tests;
      } else {
        return this.tests.filter(t =>
          t.tags.some(tag => this.tags.some(tt => tt.id == tag.id))
        );
      }
    }
  },
  async created() {
    this.page = 1;
    this.getSharedTest();
    await this.loadTags();
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 20vh;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.myTestsContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
</style>

<style lang="sass" scoped></style>
