<template>
  <div class="container">
    <div v-if="loaded == true">
      <!------Header--------------------------------------------------------------->
      <div class="headerContainer">
        <section>
          <h1 class="title">{{ $t('mytests.popular') }}</h1>
          <p class="subtitle">
            {{ $t('mytests.popularDesc') }}
          </p>
        </section>
      </div>
      <div v-if="tests.length > 0">
        <!------Cards--------------------------------------------------------------->
        <div class="myTestsContainer">
          <DiscoverCard v-for="test in tests" :key="test.id" v-bind:test="test" />
        </div>
      </div>
      <div class="notFound" v-if="tests.length === 0">
        {{ $t('mytests.noTestsFound') }}
      </div>
    </div>
    <div v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import TestService from '../services/testService';
import Spinner from '../components/spinner';
import DiscoverCard from '../components/discoverCard';

export default {
  name: 'PopularTestsPage',
  components: { Spinner, DiscoverCard },
  props: {},
  data() {
    return {
      tests: [],
      loaded: false
    };
  },
  watch: {},
  methods: {
    getPopularTests: async function(page) {
      this.loaded = false;
      try {
        let response = await TestService.getPopularTests();
        this.tests = response;
        this.loaded = true;
      } catch (e) {
        let toastText = this.$i18n.t('mytests.failedToFetch');
        this.$vToastify.error(toastText);
        setTimeout(this.getTests(page), 5000);
      }
    },
    removeFromFavorites(test) {
      this.tests = this.tests.filter(t => t.id !== test.id);
    }
  },
  created: async function() {
    this.getPopularTests();
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 20vh;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.myTestsContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
</style>
