<template>
  <div class="container">
    <section class="section">
      <h1 class="title">{{ $t('session.prepareTitle') }}</h1>
      <p class="subtitle">{{ $t('session.prepareDesc') }}</p>
    </section>
    <session-form />
  </div>
</template>

<script>
//--components ---------------------------
import SessionForm from '../components/sessionForm.vue';

export default {
  name: 'PrepareSessionPage',
  components: {
    SessionForm
  }
};
</script>
