<template>
  <div class="layout">
    <main class="main centre-div ">
      <div class="card">
        <div class="card-content">
          <p class="title is-4">{{ $t('privacy.title') }}</p>
          <div class="content">
            {{ $t('privacy.body') }}
          </div>
        </div>
      </div>
    </main>
    <footer class="class=footer levetated">
      <div class="centre-div">
        <a @click="returnMethod">{{ $t('return') }}</a>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'privacy',
  data() {
    return {
      returnPage: '/'
    };
  },
  created() {
    this.returnPage = decodeURI(this.$route.params.returnPage);
  },
  methods: {
    returnMethod: function() {
      this.$router.push({ path: this.returnPage });
    }
  }
};
</script>

<style lang="scss" scoped>
.layout {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 99vh;
}
footer {
  padding: 1em;
}
</style>
