<template>
  <div class="container">
    <ProfileForm :user="user" :school="school"></ProfileForm>
  </div>
</template>

<script>
import ProfileForm from '../components/profileForm.vue';

export default {
  name: 'ProfilePage',
  components: { ProfileForm },
  data() {
    return { user: {}, school: {}, name: '' };
  },
  methods: {},
  created: function() {
    this.user = this.$store.getters.getUser;
    this.school = this.$store.getters.getSchool;
  }
};
</script>

<style scoped lang="scss">
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
</style>
