<template>
  <div>
    <div class="center" v-if="loaded == true">
      <input
        class="input"
        type="text"
        :placeholder="$t('search')"
        v-model="searchFieldValue"
        v-on:keyup.enter="doSearch()"
      />

      <button class="button addButton" @click="addSchool()">
        <fa icon="plus" style="margin-right: 5px;" /> {{ $t('myschools.add') }}
      </button>
    </div>

    <div class="coursesContainer" v-if="loaded == true && schools.length > 0">
      <div class="columns">
        <div class="column">
          <SchoolCard
            v-for="school in schoolsLeftColumn"
            :key="school.id"
            v-bind:school="school"
          />
        </div>
        <div class="column">
          <SchoolCard
            v-for="school in schoolsRightColumn"
            :key="school.id"
            v-bind:school="school"
          />
        </div>
      </div>
    </div>
    <div
      class="coursesContainer"
      style="margin-top: 25px"
      v-if="loaded == true && schools.length > 0"
    >
      <Pagination
        v-bind:pagination="pagination"
        v-on:nextPage="nextPage"
        v-on:previousPage="previousPage"
      ></Pagination>
    </div>
    <div v-if="loaded === true && schools.length === 0">
      {{ $t('myschools.noSchools') }}
    </div>
    <div class="coursesContainer" v-if="loaded == false">
      <Spinner />
    </div>
  </div>
</template>

<script>
import SchoolService from '../services/schoolService';
import Spinner from '../components/spinner';
import Pagination from '../components/pagination';
import SchoolCard from '../components/schoolCard';

export default {
  name: 'Schools',
  components: { SchoolCard, Spinner, Pagination },
  data() {
    return {
      schools: [],
      schoolsLeftColumn: [],
      schoolsRightColumn: [],
      pagination: {},
      loaded: false,
      searchFieldValue: '',
      privacyOptions: []
    };
  },
  methods: {
    addSchool: async function() {
      this.$router.push('/school/create');
    },
    getSchools: async function(page) {
      try {
        let response = await SchoolService.getSchools(page, this.searchFieldValue);
        this.schools = response.data.schoolsDto;
        this.pagination = JSON.parse(response.headers['x-pagination']);
        this.loadSchool(this.schools);
      } catch (e) {
        let toastText = this.$i18n.t('myschools.failedToLoad');
        this.$vToastify.error(toastText);
        setTimeout(this.getSchools(page), 5000);
      }
    },
    nextPage: async function(page) {
      this.loaded = false;
      this.getSchools(page);
    },
    previousPage: async function(page) {
      this.loaded = false;
      this.getSchools(page);
    },
    loadSchool: function(schools) {
      this.schoolsLeftColumn = [];
      this.schoolsRightColumn = [];
      if (schools.length > 3) {
        this.schoolsLeftColumn = schools.slice(0, 3);
        this.schoolsRightColumn = schools.slice(3, schools.length);
      } else {
        this.schoolsLeftColumn = schools;
      }
      this.loaded = true;
    },
    doSearch() {
      this.getSchools(1);
      this.loaded = false;
    }
  },
  created: async function() {
    this.getSchools(1);
  }
};
</script>

<style scoped lang="scss">
.input {
  max-width: 25%;
}
.coursesContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  width: 100%;
}

@media (max-width: 1129px) {
  .addButton {
    z-index: 200;
  }

  .center {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1129px) {
  .addButton {
    float: right;
    z-index: 200;
    margin-right: 29px;
  }
  .input {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
</style>
