<template>
  <div class="layout">
    <article v-if="sessionObj && test" class="centre-div">
      <!-- Test title------------------------------------------------------------------->
      <h2 class="title is-2 ">{{ test.title }}</h2>

      <!-- Test status and pin------------------------------------------------------------------->
      <h3 class="title is-4" v-show="sessionObj.status != 3">
        {{ $t('session.status.' + sessionObj.status) }}
        <span v-if="sessionObj.pin && sessionObj.status == 2">
          - {{ $t('session.pin') }}: {{ sessionObj.pin }}</span
        >
      </h3>

      <!-- Test QR code and number of participants------------------------------------------------------------------->
      <div v-if="sessionObj.pin && sessionObj.status == 2">
        <h4 class="title is-5">
          {{ $t('session.numberOfMembers') }}: {{ numberOfStudentsJoined }}
        </h4>
        <qrcode-vue :value="qrLink" :size="400" level="H" class="qrCode" />
      </div>

      <!-- If status prepared -> Open session------------------------------------------------------------------->
      <btn v-if="sessionObj.status == 1" @click="startSession()" class="rounded">
        {{ $t('session.openSession') }}</btn
      >
      <!-- If status open -> Start session------------------------------------------------------------------->
      <btn
        v-if="sessionObj.status == 2"
        @click="activateSession(false)"
        class="rounded"
        v-show="numberOfStudentsNotReady == 0"
      >
        {{ $t('session.startSession') }}
      </btn>
      <!-- If there are people not ready------------------------------------------------------------------->
      <div v-show="numberOfStudentsNotReady > 0 && sessionObj.status == 2">
        <p>
          {{ $t('session.numberOfPeopleNotReady') }}:
          {{ numberOfStudentsNotReady }}
        </p>
        <btn v-if="sessionObj.status == 2" @click="activateSession(true)" class="rounded">
          {{ $t('session.startSessionAnyways') }}</btn
        >
      </div>

      <!-- Current question and settings------------------------------------------------------------------->
      <div v-if="settings">
        <div
          v-if="
            settings.allowFreeAnswering === false &&
              currentQuestion &&
              sessionObj.status == 3
          "
          class="mainCard"
        >
          <card :title="currentQuestion.question" :startClosed="true">
            <p v-if="showNumberOfStudentsAnswered === true">
              <span class="title is-5">{{ $t('session.numberOfStudentsAnswered') }}</span
              >: {{ numberOfStudentsAnswered }}
            </p>
            <div
              v-if="
                currentQuestion.partyArguments &&
                  currentQuestion.partyArguments.length > 0 &&
                  showPartyArguments === true
              "
              class="partyArgumentsDiv"
            >
              <ul>
                <li
                  v-for="partyArgument in currentQuestion.partyArguments"
                  :key="partyArgument.id"
                  class="media"
                >
                  <div class="media-left">
                    <img
                      :src="partyArgument.party.logo"
                      :alt="partyArgument.party.name"
                    />
                  </div>
                  <div class="media-content">
                    <p class="title is-6">{{ partyArgument.party.name }}</p>
                    <p>{{ partyArgument.explanation }}</p>
                  </div>
                </li>
              </ul>
            </div>
            <div
              v-if="
                currentQuestion.answers &&
                  currentQuestion.answers.length > 0 &&
                  showAnswers === true
              "
              class="showAnswerClass"
            >
              <p class="title is-5">{{ $t('session.possibleAnswers') }}:</p>
              <BulmaAccordion
                dropdown
                :icon="'caret'"
                :caretAnimation="{
                  duration: '.4s',
                  timerFunc: 'ease-in-out'
                }"
                :slide="{
                  duration: '.4s',
                  timerFunc: 'ease'
                }"
              >
                <BulmaAccordionItem
                  v-for="answer in answers"
                  class="accordion-bg"
                  :key="answer.id"
                >
                  <h6 slot="title" class="title title-answer is-6">
                    {{ answer.value
                    }}<span v-if="answer.numberOfStudents > 3"
                      >: {{ answer.numberOfStudents }}
                    </span>
                  </h6>
                  <div slot="content">
                    <p class="title-answer" v-if="answer.arguments.length < 1">
                      {{ $t('session.noArguments') }}
                    </p>
                    <ul v-if="answer.arguments.length > 0">
                      <li class="title-answer">{{ $t('session.arguments') }}:</li>
                      <li class="title-answer" v-for="arg in answer.arguments" :key="arg">
                        {{ arg }}
                      </li>
                    </ul>
                  </div>
                </BulmaAccordionItem>
              </BulmaAccordion>
            </div>
            <div v-if="currentQuestion.video && showVideo === true">
              <iframe
                width="700"
                class="responsive-iframe"
                height="445"
                :src="
                  'https:\//www.youtube.com/embed/' + getYoutubeId(currentQuestion.video)
                "
              >
              </iframe>
            </div>

            <div v-if="sessionObj.status === 3" slot="actions">
              <btn @click="toggleShowNumerOfStudentsAnswered()" class="rounded">
                <span v-if="showNumberOfStudentsAnswered === true">
                  {{ $t('session.numberOfStudentsAnsweredHideButton') }}
                </span>
                <span v-if="showNumberOfStudentsAnswered === false">
                  {{ $t('session.numberOfStudentsAnsweredShowButton') }}
                </span>
              </btn>
              <btn
                v-if="
                  currentQuestion.partyArguments &&
                    currentQuestion.partyArguments.length > 0
                "
                @click="toggleShowPartyArguments()"
                class="rounded"
              >
                <span v-if="showPartyArguments === true">
                  {{ $t('session.partyArgumentsHideButton') }}
                </span>
                <span v-if="showPartyArguments === false">
                  {{ $t('session.partyArgumentsShowButton') }}
                </span>
              </btn>
              <btn
                v-if="currentQuestion.answers && currentQuestion.answers.length > 0"
                @click="toggleShowAnswers()"
                class="rounded"
              >
                <span v-if="showAnswers === true">
                  {{ $t('session.answersHideButton') }}
                </span>
                <span v-if="showAnswers === false">
                  {{ $t('session.answersShowButton') }}
                </span>
              </btn>
              <btn
                v-if="currentQuestion.video"
                @click="toggleShowVideo()"
                class="rounded"
              >
                <span v-if="showVideo === true">
                  {{ $t('session.videoHideButton') }}
                </span>
                <span v-if="showVideo === false">
                  {{ $t('session.videoShowButton') }}
                </span>
              </btn>
            </div>
          </card>
          <!-- Next question button------------------------------------------------------------------->
          <btn v-if="!currentQuestion.isLast" @click="nextQuestion()" class="rounded">
            {{ $t('session.nextQuestion') }}</btn
          >
        </div>

        <div
          v-if="
            sessionObj.status == 3 &&
              (currentQuestion == null || settings.allowFreeAnswering)
          "
        >
          <p class="freeAnswer">
            {{ $t('session.freeAnswering') }}
          </p>
        </div>

        <!-- End test button------------------------------------------------------------------->
        <btn
          v-if="
            (currentQuestion == null ||
              currentQuestion.isLast ||
              settings.allowFreeAnswering) &&
              sessionObj.status == 3
          "
          @click="endSession()"
          class="rounded endButton"
        >
          {{ $t('session.endSession') }}
        </btn>
      </div>
      <!-- show results button------------------------------------------------------------------->
      <btn v-if="showResults" @click="GoToResults()" class="rounded endButton">
        {{ $t('session.showResults') }}
      </btn>
    </article>
    <article v-else><Spinner /></article>
  </div>
</template>

<script>
import Btn from '../components/button';
import Spinner from '../components/spinner';
import card from '../components/card';
import QrcodeVue from 'qrcode.vue';

import SessionService from '../services/sessionService';
import TestService from '../services/testService';
import SettingService from '../services/settingService';

import getYouTubeID from 'get-youtube-id';

export default {
  name: 'Session',
  components: { Btn, QrcodeVue, Spinner, card },
  props: {
    session: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      sessionObj: null,
      currentQuestion: null,
      test: null,
      settings: null,
      numberOfStudentsNotReady: 0,
      showResults: false,
      collapsedQuestionCard: [],
      numberOfStudentsJoined: 0,
      numberOfStudentsAnswered: 0,
      showNumberOfStudentsAnswered: true,
      showPartyArguments: false,
      showAnswers: false,
      showVideo: false,
      answers: []
    };
  },
  async created() {
    this.$sessionHub.$on('OpenSessionResult', obj => {
      this.setSessionObj(obj.session);
    });
    this.$sessionHub.$on('StudentConnected', obj => {
      this.numberOfStudentsJoined = obj.numberOfStudentsConnected;
    });
    this.$sessionHub.$on('SessionStarted', obj => {
      this.setSessionObj(obj.session);
    });
    this.$sessionHub.$on('SessionClosed', async obj => {
      this.setSessionObj(obj.session);
      this.showResults = true;
    });
    this.$sessionHub.$on('NumberOfMembersNotReady', obj => {
      this.numberOfStudentsNotReady = obj.NumberOfMembersNotReady;
    });
    this.$sessionHub.$on('CurrentQuestion', obj => {
      if (!this.currentQuestion) this.answerReceived(obj);
    });
    this.$sessionHub.$on('ServeQuestion', obj => this.answerReceived(obj));
    this.$sessionHub.$on('AnswerReceived', obj => {
      console.log(obj);
      this.answers.forEach(ans => {
        if (ans.id == obj.answer.answerId) {
          ans.numberOfStudents++;

          //if the answer contains an argument
          if (obj.answer.argument != '') {
            if (!ans.arguments) ans.arguments = []; //make sure the argument array for this answer is defined
            let args = obj.answer.argument.split('\n'); //split the arguments on the delimiter
            args.forEach(arg => {
              //push back unique all the arguments
              if (!ans.arguments.includes(arg)) {
                ans.arguments.push(arg);
              }
            });
          }
        }
      });
      this.numberOfStudentsAnswered++;
    });

    if (this.session) {
      this.setSessionObj(this.session);
    } else {
      try {
        this.setSessionObj(
          await SessionService.getSessionById(this.$route.params.sessionId)
        );
      } catch (e) {
        this.$fire({
          type: 'error',
          title: this.$i18n.t('error'),
          text: this.$i18n.t('session.failedToFetch')
        });
        this.$router.go(-1);
      }
    }
    let testPromise = TestService.getTestById(this.sessionObj.testId);

    if (this.sessionObj.id != this.$route.params.sessionId) {
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: this.$i18n.t('session.idMisMatch')
      });
      this.$router.go(-1);
    }

    if (this.sessionObj.status == 3) {
      try {
        this.$sessionHub.GetCurrentQuestion(this.sessionObj.pin);
      } catch (e) {
        this.$fire({
          type: 'error',
          title: this.$i18n.t('error'),
          text: this.$i18n.t('session.failedToFetchQuestion')
        });
        this.$router.go(-1);
      }
    } else if (this.sessionObj.status == 4) {
      try {
        this.endSessionObj = await SessionService.getEndSessionData(this.sessionObj.id);
      } catch (e) {
        let toastText = this.$i18n.t('session.failedToLoadEndData');
        this.$vToastify.error(toastText);
      }
    }

    try {
      this.settings = await SettingService.getSettingById(this.sessionObj.testSettingId);
      this.test = await testPromise;
    } catch (e) {
      let text;
      if (e.response.status == 403) {
        text = this.$i18n.t('session.testPrivate');
      } else {
        text = this.$i18n.t('session.failedToFetch');
      }
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: text
      });
      this.$router.go(-1);
    }
    this.showResults = this.sessionObj.status == 4;
  },
  computed: {
    qrLink() {
      return process.env.VUE_APP_QR_CODE_LINK + this.sessionObj.pin;
    }
  },
  methods: {
    answerReceived(obj) {
      this.currentQuestion = obj.question;
      this.sessionObj.currentQuestionIndex = obj.question.currentQuestionIndex;
      this.numberOfStudentsAnswered = 0;
      this.answers = this.currentQuestion.answers.sort((a, b) =>
        a.value.localeCompare(b.value)
      );
      this.answers.forEach(ans => {
        ans.numberOfStudents = 0;
        ans.arguments = [];
      });
      this.arguments = [];
    },
    getYoutubeId(url) {
      return getYouTubeID(url);
    },
    toggleShowNumerOfStudentsAnswered() {
      this.showNumberOfStudentsAnswered = !this.showNumberOfStudentsAnswered;
    },
    toggleShowPartyArguments() {
      this.showPartyArguments = !this.showPartyArguments;
    },
    toggleShowAnswers() {
      this.showAnswers = !this.showAnswers;
    },
    toggleShowVideo() {
      this.showVideo = !this.showVideo;
    },
    setSessionObj(newObj) {
      this.sessionObj = newObj;
      if (!this.sessionObj.currentQuestionIndex) {
        this.sessionObj.currentQuestionIndex = 0;
      }
    },
    async startSession() {
      this.$sessionHub.OpenSession(this.sessionObj.id);
    },
    async activateSession(forceStart) {
      try {
        if (forceStart) {
          this.$sessionHub.ForceActivateSession(this.sessionObj.id);
        } else {
          this.$sessionHub.ActivateSession(this.sessionObj.id);
        }
      } catch (e) {
        let toastText = this.$i18n.t('session.failedToStartSession');
        this.$vToastify.error(toastText);
      }
    },
    async endSession() {
      try {
        this.$sessionHub.EndSession(this.sessionObj.id);
      } catch (e) {
        let toastText = this.$i18n.t('session.failedToEndSession');
        this.$vToastify.error(toastText);
      }
    },
    async nextQuestion() {
      try {
        if (!this.sessionObj.currentQuestionIndex) {
          this.sessionObj.currentQuestionIndex = 0;
        }

        this.$sessionHub.NextQuestion(
          this.sessionObj.id,
          this.sessionObj.currentQuestionIndex
        );
      } catch (e) {
        let toastText = this.$i18n.t('session.failedToGetNextQuestion');
        this.$vToastify.error(toastText);
      }
    },
    GoToResults() {
      this.$router.push({
        name: 'SessionResult',
        params: { sessionId: this.sessionObj.id }
      });

      this.showResults = !this.showResults;
    },
    collapsedQuestionCardFnc(id) {
      if (this.collapsedQuestionCard.includes(id)) {
        this.collapsedQuestionCard.splice(this.collapsedQuestionCard.indexOf(id), 1);
      } else {
        this.collapsedQuestionCard.push(id);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.qrCode {
  margin: 1em;
}
.freeAnswer {
  margin-bottom: 1em;
}
li.card {
  margin: 1em;
}

.rounded {
  margin: 0.5rem;
}
.title-answer {
  color: var(--text-color);
}

p {
  color: var(--navbar-text-color);
}

.accordion-bg {
  background-color: var(--card-color);
}

.partyArgumentsDiv {
  max-width: 75%;
  margin: 1rem auto;
  ul {
    li {
      .media-left {
        max-width: 10%;
        height: auto;
      }
    }
  }
}
.showAnswerClass {
  max-width: 60%;
  margin: 1rem auto;
}
.mainCard {
  max-width: 80%;
  margin: 1rem auto 2rem auto;
}
.endButton {
  margin-top: 3rem;
}
</style>
