<template>
  <div class="container">
    <div class="headerContainer">
      <section>
        <h1 class="title">{{ $t('session.resultTitle') }}</h1>
        <p class="subtitle">
          {{ $t('session.resultsSubtitle') }}
        </p>
      </section>
    </div>

    <div v-if="endSessionObj && participationData && sessionObj">
      <end-session-form
        :endSession="endSessionObj"
        :participationData="participationData"
      />
    </div>
  </div>
</template>

<script>
import SessionService from '../services/sessionService';
import EndSessionForm from '../components/endSessionForm';
export default {
  name: 'SessionResult',
  components: { EndSessionForm },
  props: {
    sessionId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      participationData: null,
      endSessionObj: null,
      sessionObj: null
    };
  },
  async created() {
    this.endSessionObj = await SessionService.getEndSessionData(this.sessionId);
    this.participationData = await SessionService.getParticipationData(this.sessionId);
    this.sessionObj = await SessionService.getSessionById(this.sessionId);
  }
};
</script>

<style lang="scss" scoped>
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
</style>
