<template>
  <div class="layout centre-div">
    <article>
      <h2 class="title is-1">{{ $t('sidebar.superadmin.usage') }}</h2>

      <section>
        <BulmaAccordion
          dropdown
          :icon="'caret'"
          :caretAnimation="{
            duration: '.4s',
            timerFunc: 'ease-in-out'
          }"
          :slide="{
            duration: '.4s',
            timerFunc: 'ease'
          }"
          class="accordion"
        >
          <BulmaAccordionItem>
            <h3 slot="title" class="title is-4">
              {{ $t('usageData.school.cardTitle') }}
            </h3>
            <div slot="content" class="schoolsData">
              <div v-if="schoolDataLoaded">
                <h4 class="title is-5">
                  {{ $t('usageData.school.schoolCombinedData') }}
                </h4>
                <p>
                  <span>{{ $t('usageData.school.numberOfSchools') }}</span
                  >:
                  {{ schoolCombinedData.numberOfSchools }}
                </p>
                <p>
                  <span>{{ $t('usageData.school.numberOfTeachers') }}</span
                  >:
                  {{ schoolCombinedData.numberOfTeachers }}
                </p>
                <p>
                  <span>{{ $t('usageData.school.numberOfCourses') }}</span
                  >:
                  {{ schoolCombinedData.numberOfCourses }}
                </p>
                <p>
                  <span>{{ $t('usageData.school.numberOfTests') }}</span
                  >:
                  {{ schoolCombinedData.numberOfTests }}
                </p>

                <p>
                  <span>{{ $t('usageData.school.numberOfSession') }}</span
                  >:
                  {{ schoolCombinedData.numberOfSession }}
                </p>
              </div>
              <div v-if="schoolDataLoaded">
                <h4 class="title is-5">
                  {{ $t('usageData.school.schoolIndividualData') }}
                </h4>
                <ul>
                  <li v-for="obj in schoolData" :key="obj.schoolId">
                    <card
                      :title="$t('usageData.school.name') + ': ' + obj.name"
                      :startClosed="true"
                      class="schoolCard"
                    >
                      <p>
                        <span>{{ $t('usageData.school.email') }}</span
                        >: {{ obj.email }}
                      </p>
                      <p>
                        <span>{{ $t('usageData.school.address') }}</span
                        >: {{ obj.address }}
                      </p>
                      <p>
                        <span>{{ $t('usageData.school.numberOfTeachers') }}</span
                        >:
                        {{ obj.numberOfTeachers }}
                      </p>
                      <p>
                        <span>{{ $t('usageData.school.numberOfCourses') }}</span
                        >:
                        {{ obj.numberOfCourses }}
                      </p>
                      <p>
                        <span>{{ $t('usageData.school.numberOfTests') }}</span
                        >:
                        {{ obj.numberOfTests }}
                      </p>

                      <p>
                        <span>{{ $t('usageData.school.numberOfSession') }}</span
                        >:
                        {{ obj.numberOfSession }}
                      </p>
                    </card>
                  </li>
                </ul>
              </div>
              <spinner v-if="schoolDataLoaded === false" />
            </div>
          </BulmaAccordionItem>
          <BulmaAccordionItem>
            <h3 slot="title" class="title is-4">
              {{ $t('usageData.pageViews.cardTitle') }}
            </h3>
            <div slot="content">
              <ul v-if="pageVisistsLoaded">
                <li v-for="obj in pagevisits" :key="obj.groupByKey">
                  <p>
                    {{ $t('usageData.pageViews.page') }}:
                    <a @click="goToPage(obj.groupByKey)">{{ obj.groupByKey }} </a>:
                    {{ $t('usageData.pageViews.visist') }} {{ obj.count }}
                  </p>
                </li>
              </ul>
              <spinner v-else />
            </div>
          </BulmaAccordionItem>
          <!--<BulmaAccordionItem>
            <h3 slot="title" class="title is-4">{{ $t('usageData.tests.cardTitle') }}</h3>
            <div slot="content">
              <p v-if="testUsageLoaded" class="bold">
                {{ $t('usageData.tests.avgQuestionsPerTest') }}:
                {{ Math.round(avgQuestionsPerTest) }}
              </p>
              <div v-if="testUsageLoaded">
                <ul>
                  <li v-for="obj in testUsage" :key="obj.numberOfTests">
                    {{ obj.numberOfTests }} {{ $t('usageData.tests.numberOfTests') }}

                    {{ obj.questionCount }} {{ $t('usageData.tests.questionCount') }}
                  </li>
                </ul>
              </div>
              <spinner v-if="!testUsageLoaded" />
            </div>
          </BulmaAccordionItem>-->
        </BulmaAccordion>
      </section>
    </article>
  </div>
</template>

<script>
import card from '../components/card';
import spinner from '../components/spinner';

import UsageService from '../services/usageDataService';

export default {
  name: 'UsageData',
  components: { card, spinner },
  props: {},
  data() {
    return {
      pageVisistsLoaded: false,
      pagevisits: [],
      testUsageLoaded: false,
      testUsage: [],
      avgQuestionsPerTest: 0,
      schoolDataLoaded: false,
      schoolData: [],
      schoolCombinedData: {
        numberOfSchools: 0,
        numberOfTeachers: 0,
        numberOfSession: 0,
        numberOfTests: 0,
        numberOfCourses: 0
      }
    };
  },
  created() {
    UsageService.loadPageViews()
      .then(data => {
        this.pagevisits = data;
        this.pageVisistsLoaded = true;
      })
      .catch(e => {
        console.log(e);
        let toastText = this.$i18n.t('usageData.pageViews.failedToLoad');
        this.$vToastify.error(toastText);
      });

    /*UsageService.loadTestUsage()
      .then(data => {
        this.testUsage = data;

        let questionSum = 0;
        let testCount = 0;
        this.testUsage.forEach(test => {
          questionSum += test.questionCount * test.numberOfTests;
          testCount += test.numberOfTests;
        });

        this.avgQuestionsPerTest = questionSum / testCount;
        this.testUsageLoaded = true;
      })
      .catch(() => {
        let toastText = this.$i18n.t('usageData.tests.failedToLoad');
        this.$vToastify.error(toastText);
      });*/

    UsageService.loadSchoolUsage()
      .then(data => {
        this.schoolData = data;

        this.schoolData.forEach(obj => {
          this.schoolCombinedData.numberOfCourses += obj.numberOfCourses;
          this.schoolCombinedData.numberOfTeachers += obj.numberOfTeachers;
          this.schoolCombinedData.numberOfSession += obj.numberOfSession;
          this.schoolCombinedData.numberOfTests += obj.numberOfTests;
          this.schoolCombinedData.numberOfSchools++;
        });

        this.schoolDataLoaded = true;
      })
      .catch(() => {
        let toastText = this.$i18n.t('usageData.school.failedToLoad');
        this.$vToastify.error(toastText);
      });
  },
  methods: {
    goToPage(page) {
      this.$router.push(page);
    },
    generateRandomColor() {
      return '#' + Math.floor(Math.random() * 16777215).toString(16);
    }
  },
  watch: {
    pagevisitsUsage: () => {
      this._chart.destroy();
      this.renderChart(this.data, this.options);
    }
  }
};
</script>

<style lang="scss" scoped>
.accordion {
  width: 80%;
  margin: 1rem auto 0 auto;
  .donutContainer {
    min-height: 1rem;
    min-width: 1rem;
  }
}
.schoolsData {
  div {
    margin-bottom: 1rem;
    .schoolCard {
      margin: 0;
    }
    p {
      span {
        font-weight: bold;
      }
    }
  }
}

.bold {
  font-weight: bold;
}
p,
span,
li,
div {
  color: var(--text-color);
}
</style>
