<template>
  <div class="layout">
    <!--Header---------------------------------------------------->
    <header class="header">
      <btn @click="selectLanguage()">{{ $t('selectLanguage.button') }}</btn>
      <login-button v-on:navigateToLogin="navigateToLogin()" />
    </header>
    <!--Main---------------------------------------------------->
    <main class="main levetated">
      <votetest-form />
    </main>
    <!--Footer---------------------------------------------------->
    <footer class="levetated">
      <div class="centre-div">
        <a @click="routeToFaq">{{ $t('faqs.faq') }}</a>
        <a @click="routeToPrivacyPage">{{ $t('privacy.title') }}</a>
      </div>
    </footer>
  </div>
</template>

<script>
import LoginButton from '../components/login.button';
import Btn from '../components/button';
import pickLang from '../util/pickLanguage';
import VotetestForm from '../components/votetestForm';

export default {
  name: 'VoteTestsOverview',
  components: { Btn, LoginButton, VotetestForm },
  methods: {
    selectLanguage() {
      pickLang(this);
    },
    routeToPrivacyPage: function() {
      let redirect = encodeURI(this.$router.currentRoute.path);
      this.$router.push({ name: 'privacy', params: { returnPage: redirect } });
    },
    routeToFaq: function() {
      let redirect = encodeURI(this.$router.currentRoute.path);
      this.$router.push({ name: 'faq', query: { previous: redirect } });
    },
    navigateToLogin() {
      this.$router.push('login');
    }
  }
};
</script>

<style scoped lang="scss">
footer {
  div {
    a {
      padding: 0 0.4rem;
    }
  }
}
</style>
