<template>
  <section class="card-list">
    <!--Course info---------------------------------------------------------->
    <card :title="$t('course.cardTitle')">
      <div class="field">
        <!---- Course name -------------------------- -->
        <label class="label">{{ $t('course.nameText') }}</label>
        <div class="control">
          <input
            type="text"
            class="input"
            v-model="course.Name"
            :placeholder="$t('course.courseTitleName')"
          />
        </div>
        <transition name="fade" mode="out-in">
          <p v-if="course.Name" class="help">
            {{ $t('course.courseTitleName') }}
          </p>
        </transition>
      </div>
      <!---- Amount of students -------------------------- -->
      <div class="field">
        <div class="field-body">
          <div class="field">
            <label class="label">{{ $t('course.amountOfStudentsText') }}</label>
            <div class="control">
              <input
                type="number"
                class="input"
                v-model="course.AmountOfStudents"
                :placeholder="$t('course.courseAmountName')"
              />
            </div>
            <transition name="fade" mode="out-in">
              <p v-if="course.AmountOfStudents" class="help">
                {{ $t('course.courseAmountName') }}
              </p>
            </transition>
          </div>
        </div>
      </div>

      <!---- School year -------------------------- -->
      <div class="field">
        <div class="field-body">
          <div class="field">
            <label class="label">{{ $t('course.yearText') }}</label>
            <div class="control">
              <input
                type="text"
                class="input"
                v-model="course.schoolYear"
                :placeholder="$t('course.courseYearName')"
              />
            </div>
            <transition name="fade" mode="out-in">
              <p v-if="course.schoolYear" class="help">
                {{ $t('course.courseYearName') }}
              </p>
            </transition>
          </div>
        </div>
      </div>
    </card>
    <!-- -- action buttons ----------------- -->
    <card title="Actions">
      <div class="actions">
        <btn :disabled="!isValidState" @click="add()">{{ $t('course.create') }}</btn>
      </div>
    </card>
  </section>
</template>

<script>
import CourseService from '../services/courseService';
import Btn from '../components/button';
import Card from './card.vue';
export default {
  name: 'AddCoursePage',
  components: { Btn, Card },
  data() {
    return {
      course: {
        Name: null,
        AmountOfStudents: 0,
        schoolYear: null
      }
    };
  },
  methods: {
    add: async function() {
      try {
        this.course.AmountOfStudents = Number(this.course.AmountOfStudents);
        await CourseService.addCourse(this.course);
        this.$router.push('courses');
      } catch (e) {
        this.$fire({
          title: this.$i18n.t('course.error.title'),
          html: this.$i18n.t('course.error.BodyAddingCourse'),
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: true,
          confirmButtonText: this.$i18n.t('ok'),
          type: 'error'
        });
      }
    }
  },
  computed: {
    isValidState() {
      if (!this.course.Name) return false;
      if (this.course.AmountOfStudents < 1) return false;
      if (!this.course.schoolYear) return false;
      else return true;
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';
// -- card list ----------------------------
.card-list {
  padding-bottom: 3rem;

  .card {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}
// -- select -------------------------------
.stretched-select,
.select {
  width: 100%;
}

// -- test selector ------------------------
.level {
  margin-bottom: 0.5rem;
}

.selector {
  border: 1px solid var(--primary);
  color: var(--primary-darken-25);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 0.5rem;

  &:last-child {
    margin-right: unset;
  }

  &.active {
    background-color: var(--primary);
    color: white;
  }
}
// -- actions ------------------------------
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}
</style>
