<template>
  <div class="card">
    <div class="card-header">
      <h2 class="card-header-title">
        {{ $t('parties.title') }}
      </h2>
      <a
        class="card-header-icon"
        aria-label="more options"
        @click="collapseSettingsCard()"
      >
        <fa icon="chevron-down" />
      </a>
    </div>
    <div class="card-content" :class="{ collapse: collapsed }">
      <div class="media is-multiline columns">
        <ul v-if="partyList.length > 0">
          <li v-for="party in partyList" :key="party.id">
            <p class="column is-half is-full-mobile">
              {{ party.name }}
              <btn v-if="notAddedParties.includes(party.id)" @click="addParty(party)">
                {{ $t('add') }}
              </btn>
              <btn v-if="addedParties.includes(party.id)" @click="removeParty(party)">
                {{ $t('remove') }}
              </btn>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';

//import { Party } from '../classes/party';
import partyService from '../services/partyService';

export default {
  name: 'AddParties',
  components: { Btn },
  props: {
    parties: {
      type: Array,
      required: false
    },
    alreadyAddedParties: {
      type: Array,
      required: false,
      default: function() {
        return [];
      }
    }
  },
  data() {
    return {
      collapsed: false,
      partyList: [],
      addedParties: [],
      notAddedParties: []
    };
  },
  created: async function() {
    try {
      let res = await partyService.getAllParties();
      this.partyList = res;
      this.partyList.forEach(p => {
        if (this.alreadyAddedParties && this.alreadyAddedParties.length > 0) {
          if (this.alreadyAddedParties.includes(p.id)) {
            this.addedParties.push(p.id);
          } else {
            this.notAddedParties.push(p.id);
          }
        } else {
          this.notAddedParties.push(p.id);
        }
      });
    } catch (e) {
      let toastText = this.$i18n.t('parties.error.failedToFetch');
      this.$vToastify.error(toastText);
      setTimeout(this.created(), 5000);
    }
  },
  methods: {
    collapseSettingsCard: function() {
      this.collapsed = !this.collapsed;
    },
    addParty: function(party) {
      this.addedParties.push(party.id);
      this.$emit('partyGettingAdded', party.id);
      this.$emit('beingAdded', true);
      if (this.notAddedParties.includes(party.id)) {
        this.notAddedParties.splice(this.notAddedParties.indexOf(party.id), 1);
      }
    },
    removeParty: function(party) {
      this.$emit('partyGettingRemoved', party.id);
      this.$emit('beingAdded', false);
      this.notAddedParties.push(party.id);
      if (this.addedParties.includes(party.id)) {
        this.addedParties.splice(this.addedParties.indexOf(party.id), 1);
      }
    }
  },
  watch: {
    addedParties: {
      deep: true,
      handler: function(newVal) {
        this.$emit('addedParties', newVal);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.collapse {
  display: none;
}
</style>
