<template>
  <div v-if="answerObj" class="bordered">
    <div class="is-multiline columns">
      <div class="column is-full ">
        <h4 class="title is-5">{{ answer.PartyId }}</h4>
      </div>
      <div class="column is-full ">
        <input
          :id="'Agree' + questionId + '-' + number + '-' + answer.PartyId"
          type="checkbox"
          :name="'Agree' + questionId + '-' + number + '-' + answer.PartyId"
          class="switch  "
          v-model="answer.Agree"
        />
        <label
          :for="'Agree' + questionId + '-' + number + '-' + answer.PartyId"
          >{{ $t('answer.Agree') }}</label
        >
      </div>
      <div class="column is-full ">
        <input
          class="input"
          type="text"
          :placeholder="'Reden'"
          v-model="answer.Explanation"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AnswerParty',
  props: {
    answer: {
      type: Object,
      required: false
    },
    questionId: {
      required: false
    },
    number: {
      required: false
    },
    party: {
      required: false
    }
  },
  data() {
    return {
      answerObj: null
    };
  },
  created() {
    if (this.answer) this.answerObj = this.answer;
  },
  methods: {},
  watch: {}
};
</script>

<style lang="scss" scoped>
.bordered {
  border: grey solid 1px;
  margin: 1em;
  padding: 1em;
}
</style>
