<template>
  <div v-if="answerObj" class="bordered">
    <div class="is-multiline columns">
      <div class="  column is-half">
        <input
          :id="'IsCorrectAnswer' + questionId + '-' + number"
          type="checkbox"
          :name="'IsCorrectAnswer' + questionId + '-' + number"
          class="switch"
          v-model="answer.IsCorrectAnswer"
        />
        <label :for="'IsCorrectAnswer' + questionId + '-' + number">{{
          $t('answer.IsCorrectAnswer')
        }}</label>
      </div>
      <div class="column is-half ">
        <input
          :id="'Agree' + questionId + '-' + number"
          type="checkbox"
          :name="'Agree' + questionId + '-' + number"
          class="switch  "
          v-model="answer.Agree"
        />
        <label :for="'Agree' + questionId + '-' + number">{{ $t('answer.Agree') }}</label>
      </div>
      <div class="column is-half ">
        <input
          :id="'Unanswered' + questionId + '-' + number"
          type="checkbox"
          :name="'Unanswered' + questionId + '-' + number"
          class="switch  "
          v-model="answer.Unanswered"
        />
        <label :for="'Unanswered' + questionId + '-' + number">{{
          $t('answer.Unanswered')
        }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Answer',
  props: {
    answer: {
      type: Object,
      required: false
    },
    questionId: {
      required: false
    },
    number: {
      required: false
    }
  },
  data() {
    return {
      answerObj: null
    };
  },
  created() {
    if (this.answer) this.answerObj = this.answer;
  },
  methods: {},
  watch: {}
};
</script>

<style lang="scss" scoped>
.bordered {
  border: grey solid 1px;
  margin: 1em;
  padding: 1em;
}
</style>
