<template>
  <section class="answer-selector">
    <label class="label">{{ $t('question.selectAnswerLabel') }}</label>
    <div
      v-for="c in choices"
      :key="c.value"
      :class="{ correct: c.correct }"
      class="choice-box clickable"
      @click="setCorrect(c)"
    >
      {{ $t(`answers.${c.value}`) }}
    </div>
  </section>
</template>

<script>
const defaultAnswers = ['AGREE', 'DISAGREE'];
export default {
  name: 'AnswerSelector',
  props: {
    value: {
      type: Array,
      default: () =>
        defaultAnswers.map(a => ({
          value: a,
          correct: a === 'AGREE'
        }))
    }
  },
  data() {
    return {
      choices: this.value
    };
  },
  methods: {
    setCorrect(choice) {
      const item = this.choices.find(c => c.correct);
      item.correct = false;
      choice.correct = true;

      this.$emit('input', this.choices);
    }
  },
  created() {
    this.$emit('input', this.choices);
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- choice box ---------------------------
.choice-box {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: var(--red);
  color: white;

  &.correct {
    background-color: var(--green);
  }
}
</style>
