<template>
  <button
    class="button is-primary"
    :class="{ 'is-loading': loading, 'is-outlined': outlined, 'is-fullwidth': fullwidth }"
    :type="submit ? 'submit' : 'button'"
    :disabled="disabled"
    v-on:click="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    disabled: Boolean,
    loading: Boolean,
    outlined: Boolean,
    fullwidth: Boolean,
    submit: Boolean
  }
};
</script>

<style lang="scss" scoped></style>
