<template>
  <div class="card">
    <!-- header -->
    <header class="card-header">
      <p class="card-header-title">{{ title }}</p>
      <a @click="open = !open" class="card-header-icon" aria-label="more options">
        <fa class="arrow-down" icon="chevron-down" :class="{ open: open }" />
      </a>
    </header>
    <!-- body -->
    <div class="card-content" :class="{ hidden: !open, 'no-padding': noPadding }">
      <slot></slot>
    </div>

    <!-- footer -->
    <footer :class="{ hidden: !open }" class="card-footer">
      <slot name="actions" />
    </footer>
  </div>
</template>

<script>
export default {
  name: 'card',
  props: {
    title: {
      type: String,
      default: 'undefined'
    },
    startClosed: {
      type: Boolean,
      default: false
    },
    noPadding: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      open: !this.startClosed
    };
  }
};
</script>

<style lang="scss" scoped>
.hidden {
  display: none;
}
.no-padding {
  padding: unset;
}

.card-header {
  background-color: var(--card-color);
}

.card-content {
  background-color: var(--card-content-color);
}

.card-footer {
  background-color: var(--card-content-color);
}
</style>
