<template>
  <div class="card">
    <!-- -- image and edit button -------------------------- -->
    <button class="button editButton" @click="editCourse()">
      <span class="icon"> <fa icon="edit" /> </span>
    </button>
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          :src="'https://eu.ui-avatars.com/api/?size=512&name=' + course.name"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <!-- -- media ---------------------- -->
      <div class="media">
        <div class="media-left">
          <fa icon="graduation-cap" />
        </div>
        <div class="media-content">
          <!-- -- Content ---------------------- -->
          <p class="title is-5">{{ course.name }}</p>
          <p class="subtitle is-6">{{ course.schoolYear }}</p>
          {{ $t('course.amountOfStudents') + course.amountOfStudents }}
        </div>
      </div>
    </div>
    <!-- -- spacer ----------------------- -->
    <div class="spacer"></div>
    <!-- -- Footer ---------------------- -->
    <footer class="card-footer">
      <a @click="sendToSessions()" class="rounded card-footer-item sessions">
        {{ $t('course.session') }}
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'CourseCard',
  props: ['course'],
  methods: {
    editCourse() {
      this.$router.push({
        name: 'editCourse',
        params: { obj: this.course }
      });
    },
    sendToSessions() {
      this.$router.push({
        name: 'MySessions',
        params: { onlyFromClass: this.course.id }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';
.editButton {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 200;
  border-radius: 20px;
  background-color: var(--button-color) !important;
}

// -- card ---------------------------------
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.media-content {
  color: var(--text-color);
}

.card-footer,
.spacer {
  border-top: 1px solid #ededed;
}

.sessions {
  color: #1abc9c;
}
</style>
