<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">{{ $t('dashboard.title') + ' (' + name + ')' }}</h1>
        <p class="subtitle">
          {{ $t('dashboard.subTitleDashboard') }}
          <strong>{{ $t('dashboard.relevant') }}</strong
          >{{ $t('dashboard.endSubTitle') }}
        </p>

        <Tabs :currentTab="currentTab" @changeCurrentTab="changeCurrentTab"></Tabs>

        <div class="cardContainer" v-show="currentTab == 'courses'">
          <CourseCard
            v-for="course in teacher.courses"
            :key="course.id"
            :course="course"
          ></CourseCard>
        </div>
        <div class="cardContainer" v-show="currentTab == 'sessions'">
          <SessionCard
            v-for="session in teacher.sessions"
            :key="session.id"
            :session="session"
          ></SessionCard>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CourseCard from './courseCard';
import SessionCard from './sessionCard';
import Tabs from './tabs';

export default {
  name: 'DashboardTeacher',
  components: { CourseCard, SessionCard, Tabs },
  data() {
    return {
      currentTab: 'courses',
      name:
        this.$store.getters.getUser.firstName + ' ' + this.$store.getters.getUser.lastName
    };
  },
  props: {
    teacher: {
      required: false,
      default: {}
    }
  },
  methods: {
    changeCurrentTab(tab) {
      this.currentTab = tab;
    }
  }
};
</script>

<style lang="scss" scoped>
.flex {
  display: flex;
}

.cardContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
