<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">
          {{ $t('dashboard.title') + ' (' + $store.getters.getSchool.name + ')' }}
        </h1>
        <p class="subtitle">
          {{ $t('dashboard.subTitleDashboard') }}
          <strong>{{ $t('dashboard.relevant') }}</strong
          >{{ $t('dashboard.endSubTitle') }}
        </p>

        <div class="flex flex-wrap">
          <TeacherDashboardCard
            v-for="teacher in teachers"
            :key="teacher.id"
            v-bind:teacher="teacher"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TeacherDashboardCard from './teacherDashboardCard';

export default {
  name: 'DashboardSchool',
  data() {
    return {};
  },
  props: {
    teachers: {
      required: false,
      default: []
    }
  },
  components: { TeacherDashboardCard }
};
</script>

<style scoped lang="scss">
$tabs-toggle-link-active-background-color: #00d1b2;
$tabs-toggle-link-active-border-color: #00d1b2;

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
</style>
