<template>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ $t('dashboard.title') + ' (' + $store.getters.getUser.email + ')' }}
      </h1>
      <p class="subtitle">
        {{ $t('dashboard.subTitleDashboard') }}
        <strong>{{ $t('dashboard.relevant') }}</strong
        >{{ $t('dashboard.endSubTitle') }}
      </p>

      <div class="columns">
        <div class="column">
          <h1 class="title">{{ $t('dashboard.schools') }}</h1>
          <SchoolDashboardCard
            v-for="school in data.schools"
            :key="school.id"
            :school="school"
          ></SchoolDashboardCard>
        </div>
        <div class="column">
          <h1 class="title">{{ $t('dashboard.usage') }}</h1>
          <DonutChart :chartdata="data.usage" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import DonutChart from './donutChart';
import SchoolDashboardCard from './schoolDashboardCard';
export default {
  name: 'DashboardSuperAdmin',
  components: { DonutChart, SchoolDashboardCard },
  data() {
    return {
      data: {}
    };
  },
  props: {
    superAdmin: {
      required: false
    }
  },
  created() {
    this.data = this.superAdmin;
  }
};
</script>
