<template>
  <div class="card test-card">
    <!----Image---------------------------------------------------->
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          :src="'https://eu.ui-avatars.com/api/?size=496&name=' + test.title"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <!----Content---------------------------------------------------->
      <div class="media-content">
        <!-- -- tags --------------------- -->
        <div class="tags">
          <span
            class="tag"
            v-for="tag in testObj.tags"
            :key="tag.name"
            :style="{ backgroundColor: tag.color }"
            >{{ tag.name }}</span
          >
        </div>

        <!-- -- title -------------------- -->
        <p class="title is-5">{{ testObj.title }}</p>
        <p class="subtitle is-6">
          {{ $t('mytests.created') }}
          <span class="creation-date">{{ createdDate }}</span>
        </p>
      </div>

      <!-- -- spacer ----------------------- -->
      <div class="spacer"></div>

      <!-- -- views ------------------------ -->
      <div class="views">
        <fa :icon="['far', 'eye']" />
        <span class="text">{{ testObj.amountUsed }}</span>
      </div>
    </div>
    <!----Footer---------------------------------------------------->
    <footer class="card-footer">
      <a @click="setupSession()" class="rounded card-footer-item prepare">
        {{ $t('mytests.prepareSession') }}
      </a>
      <a @click="duplicateTest()" class="rounded card-footer-item prepare">
        {{ $t('mytests.duplicate') }}
      </a>
    </footer>
  </div>
</template>

<script>
import TestService from '../services/testService';
import moment from 'moment';
export default {
  name: 'DiscoverCard',
  props: ['test'],
  data() {
    return {
      testObj: null
    };
  },
  created() {
    this.testObj = this.test;
  },
  methods: {
    setupSession() {
      this.$router.push({
        name: 'PrepareSession',
        params: { testId: this.testObj.id, testObj: this.testObj }
      });
    },
    async duplicateTest() {
      try {
        await TestService.duplicateTest(this.testObj.id);
        this.$router.push('/tests');
      } catch (error) {
        let toastText = this.$i18n.t('mytests.failedToDuplicate');
        this.$vToastify.error(toastText);
      }
    }
  },
  computed: {
    createdDate: function() {
      let date = new Date(this.testObj.createdDate);
      return moment(date).fromNow();
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';

.hidden {
  display: none;
}

// -- creation date ------------------------
.creation-date {
  color: var(--blue);
}

// -- tags ---------------------------------
.tags {
  margin-bottom: unset;
}
.tag {
  background-color: #f9ca24;
  color: lighten(#f9ca24, 60%);
}

// -- views --------------------------------
.views {
  display: block;
  text-align: right;
  color: darkgrey;
  font-size: 0.8rem;

  .text {
    margin-left: 0.5rem;
  }
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.test-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

//content of card under image
.card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

//placing of title and icons under image
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}
.icon {
  margin-bottom: 1rem;
}

.card,
.media:not(:last-child) {
  margin-bottom: 0;
}

// Button colors footer
.share {
  font-weight: bold;
  color: #9b59b6;
}
</style>
