<template>
  <div>
    <article v-if="endSession && participationData">
      <!----participation data -------------------->
      <participation-data-card :participationData="participationData" />
      <!----Questions-------------------->
      <participation-question-card :questionData="endSession" />
    </article>
  </div>
</template>

<script>
import ParticipationDataCard from '../components/participationDataCard';
import participationQuestionCard from '../components/participationQuestionCard';

export default {
  name: 'endSessionForm',
  components: {
    ParticipationDataCard,
    participationQuestionCard
  },
  props: {
    endSession: {
      type: Object,
      required: true
    },
    participationData: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  text-align: center;
}
.card {
  margin: 1em;
}
section.card {
  margin-bottom: 2em;
}
.centre-div {
  .btn {
    margin: 0.2rem 0.5rem;
  }
}
</style>
