<template>
  <div class="explanation-wrapper" :class="{ 'no-padding': noPadding }">
    <!-- -- active explanations ------------ -->
    <div class="explanation-list">
      <div
        v-for="exp in explanations"
        :key="exp.word"
        class="field is-grouped explanation-item"
      >
        <div class="control">
          <input type="text" disabled class="input disabled" :value="exp.word" />
        </div>
        <div class="control is-expanded">
          <input
            type="text"
            class="input"
            :value="exp.explanation"
            @input="e => handleChangeFor(e, exp)"
          />
        </div>
        <div class="control">
          <button class="button is-danger action" @click="handleRemove(exp)">
            <span class="delete no-events"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- -- input field -------------------- -->
    <form @submit.prevent="handleAddDefinition" class="explanation-input">
      <div class="field is-grouped">
        <div class="control">
          <div class="auto-complete-wrapper">
            <input
              :placeholder="$t('explanations.word')"
              v-model="word"
              type="text"
              class="input"
              ref="wordInput"
              @focus="focus = true"
              @blur="focus = false"
              @keydown="handleKeyDown"
            />

            <!-- -- auto complete suggestions -- -->
            <transition name="fade" mode="out-in">
              <div class="suggestions" v-if="focus">
                <span
                  v-for="(sug, i) in availableWords"
                  :key="sug.word"
                  :class="{ disabled: sug.disabled, active: i === currentIndex }"
                  class="suggestion"
                  @click="addSuggestion(i)"
                >
                  {{ sug.word }}
                </span>
              </div>
            </transition>
          </div>
        </div>
        <div class="control is-expanded">
          <input
            v-model="explanation"
            :placeholder="$t('explanations.definition')"
            type="text"
            class="input"
          />
        </div>
        <div class="control">
          <button type="submit" class="button is-success action">
            <span class="icon is-small">
              <fa icon="plus" />
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'ExplanationInput',
  props: {
    words: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    },
    noPadding: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      focus: false,
      explanations: [...this.value],
      currentIndex: 0,
      word: '',
      explanation: ''
    };
  },
  methods: {
    handleAddDefinition() {
      if (!this.word.trim || !this.explanation.trim()) return;

      this.explanations.push({
        word: this.word.trim().toLowerCase(),
        explanation: this.explanation.trim()
      });

      this.word = '';
      this.explanation = '';
      this.$refs.wordInput.focus();
    },
    handleChangeFor(event, explanation) {
      explanation.explanation = event.target.value;
    },
    handleRemove(explanation) {
      const index = this.explanations.indexOf(explanation);
      this.explanations.splice(index, 1);
    },
    addSuggestion(index) {
      this.currentIndex = index;
      this.handleAddSuggestion();
    },
    handleAddSuggestion() {
      const word = this.availableWords[this.currentIndex];
      if (word.disabled) return;

      this.word = word.word;
    },
    handleKeyDown(e) {
      const { keyCode } = e;
      if (keyCode === 13 || keyCode === 9) {
        // <enter>
        this.handleAddSuggestion();
      } else if (keyCode === 40) {
        // <down>
        this.currentIndex = (this.currentIndex + 1) % this.availableWords.length;
      } else if (keyCode === 38) {
        // <up>
        this.currentIndex =
          this.currentIndex === 0
            ? this.availableWords.length - 1
            : Math.abs(this.currentIndex - 1) % this.availableWords.length;
      } else if (keyCode === 27) {
        // <esc>
        this.focus = false;
      } else {
        this.focus = true;
        this.currentIndex = 0;
      }
    }
  },
  computed: {
    uniqueWords() {
      return this.words
        .map(val => val.toLowerCase())
        .filter((val, ind, self) => self.indexOf(val) === ind)
        .filter(val => val.match(/[A-Za-z]/))
        .map(val => val.match(new RegExp(/[A-Za-z]/, 'g')).join(''));
    },
    availableWords() {
      const definedWords = this.explanations.map(e => e.word);
      const suggestions = this.uniqueWords
        .filter(word => word.startsWith(this.word.toLowerCase()))
        .filter(word => !definedWords.includes(word))
        .map(word => ({ word }));

      if (suggestions.length === 0) {
        suggestions.push({ word: this.$t('explanations.noMatch'), disabled: true });
      }

      return suggestions;
    }
  },
  watch: {
    explanations: {
      deep: true,
      handler: function() {
        this.$emit('input', this.explanations);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;

.no-events {
  pointer-events: none;
}

// -- wrapper ------------------------------
.explanation-wrapper {
  padding-top: 0.75rem;

  &.no-padding {
    padding-top: unset;
  }
}

// -- explanation item ---------------------
.explanation-item {
  margin-bottom: 0.75rem;

  .input.disabled {
    // background-color: fuchsia;
    background-color: var(--accent_grey-darken-5);
    border: 1px solid var(--accent_grey-darken-20);
  }
}

// -- action button ------------------------
.button.action {
  width: 3rem;
}

// -- suggestions --------------------------
.suggestions {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;
  max-height: 12rem;
  overflow-y: auto;
}

// -- suggestion item ----------------------
.suggestion {
  display: block;
  padding: 0.5rem;

  &:hover,
  &.active {
    background-color: lighten($border, 25%);
    cursor: pointer;
  }

  &.disabled {
    background-color: lighten($border, 30%);
    color: $border;
    cursor: not-allowed;
  }
}
</style>
