<template>
  <div class="card faq-card">
    <div class="card-content" v-if="faqObj">
      <div v-show="!isEditing" class="media cardScreen">
        <div class="media-content cardScreen">
          <p class="title is-4" style="margin-bottom: 0">{{ faqObj.question }}</p>
          <p class="margin-top-5">{{ faqObj.answer }}</p>
          <p class>
            {{ $t('myfaqs.language') }}: {{ $t('languages.' + faqObj.languageCode) }}
          </p>

          <div class="centered">
            <btn @click="updateFaq()" class=" rounded">
              {{ $t('myfaqs.edit') }}
            </btn>
            <btn @click="deleteFnc()" class="danger rounded">
              <fa icon="trash" /> {{ ' ' + $t('myfaqs.delete') }}
            </btn>
          </div>
        </div>
      </div>
      <div v-show="!isEditing" class="media-content cardPhone">
        <p class="title is-4" style="margin-bottom: 0">{{ faqObj.question }}</p>
        <p class="margin-top-5">{{ faqObj.answer }}</p>
        <p class>
          {{ $t('myfaqs.language') }}: {{ $t('languages.' + faqObj.languageCode) }}
        </p>

        <div class="centered">
          <btn @click="updateFaq()" class=" rounded">
            {{ $t('myfaqs.edit') }}
          </btn>
          <btn @click="deleteFnc()" class="danger rounded">
            <fa icon="trash" />
          </btn>
        </div>
      </div>
      <div v-show="isEditing" class="media ">
        <div class="media-content">
          <div class="field">
            <label class="label">{{ $t('myfaqs.question') }}</label>
            <div class="control">
              <input
                type="text"
                class="input"
                v-model="faqObj.question"
                :placeholder="$t('myfaqs.question')"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">{{ $t('myfaqs.answer') }}</label>
            <div class="control">
              <input
                type="text"
                class="input"
                v-model="faqObj.answer"
                :placeholder="$t('myfaqs.answer')"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="select is-primary">
                <select v-model="faqObj.languageCode">
                  <option
                    v-for="lang in $i18n.availableLocales"
                    :key="lang"
                    :value="lang"
                  >
                    {{ $t('languages.' + lang) }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="centered">
            <btn @click="saveFnc()" class="rounded">
              {{ $t('myfaqs.save') }}
            </btn>
            <btn @click="cancelFnc()" class="rounded">
              {{ $t('myfaqs.cancel') }}
            </btn>
            <btn @click="deleteFnc()" class="danger rounded">
              <fa icon="trash" /> {{ ' ' + $t('myfaqs.delete') }}
            </btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';
import FaqService from '../services/faqService';

export default {
  name: 'FaqCard',
  components: { Btn },
  props: ['faq'],
  data() {
    return {
      faqObj: null,
      uneditedObj: null,
      isEditing: false
    };
  },
  created() {
    this.faqObj = this.faq;
    if (!this.faqObj.id) this.isEditing = true;
  },
  methods: {
    updateFaq() {
      this.uneditedObj = this.faqObj;
      this.isEditing = true;
    },
    saveFnc() {
      try {
        if (this.faqObj.id && this.faqObj.id != '') {
          FaqService.updateQuestion(this.faqObj);
        } else {
          FaqService.createQuestion(this.faqObj);
        }
        this.isEditing = false;
        let toastText = this.$i18n.t('myfaqs.saved');
        this.$vToastify.success(toastText);
      } catch (e) {
        let toastText = this.$i18n.t('myfaqs.failedToSaveToast');
        this.$vToastify.error(toastText);
      }
    },
    cancelFnc() {
      this.isEditing = false;
      this.faqObj = this.uneditedObj;
    },
    deleteFnc() {
      this.$emit('delete', this.faqObj);
    }
  }
};
</script>

<style scoped lang="scss">
.shared {
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
  margin: 0.2rem;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.faq-card {
  width: 100%;
  margin: 1rem;
}
.card-content {
  margin: 0 0.2rem;
  padding: 0.5rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .cardPhone {
    margin-bottom: 15px;
    p {
      margin: 0.5rem 0;
    }
  }
  .faq-thumb {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1283px) {
  .cardPhone {
    display: none;
    padding: 1rem;
  }

  .faq-thumb {
    width: 33%;
    height: auto;
    margin-right: 1rem;
  }

  .faq-card {
    width: 100%;
    height: auto;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}
</style>
