<template>
  <div class="file has-name" :class="{ 'is-danger': !!warning }">
    <label class="file-label">
      <!-- -- left hand ---------------------- -->
      <input @input="handleInput" type="file" class="file-input" />
      <span class="file-cta">
        <span class="file-icon">
          <fa icon="upload" />
        </span>
        <span class="file-label"> {{ $t('general.upload') }} ... </span>
      </span>
      <!-- -- right hand --------------------- -->
      <span v-if="name" class="file-name">
        {{ name }}
      </span>
    </label>
    <p class="help warning" v-if="warning">{{ warning }}</p>
  </div>
</template>

<script>
export default {
  name: 'FileInput',
  props: {
    allowedTypes: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      name: this.$t('importTest.empty'),
      file: undefined
    };
  },
  methods: {
    handleInput(e) {
      this.file = e.target.files[0];
    }
  },
  computed: {
    warning: function() {
      if (this.allowedTypes.length === 0) return undefined;
      if (!this.file) return undefined;

      const allowed = this.allowedTypes.includes(this.file.type);
      if (allowed) return undefined;
      else return `${this.$t('importTest.warning')} "${this.allowedTypes.join(',')}"`;
    }
  },
  watch: {
    file() {
      this.name = this.file.name;

      if (!this.warning) {
        this.$emit('input', this.file);
      } else {
        this.$emit('input', undefined);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.help.warning {
  // display: block;
  color: var(--red);
}

.file {
  display: block;
}
</style>
