<template>
  <button class="floating button is-primary" @click="$emit('click')">
    <fa :icon="icon" />
  </button>
</template>

<script>
export default {
  name: 'floating-button',
  props: {
    icon: {
      type: String,
      default: 'plus'
    }
  }
};
</script>

<style lang="scss" scoped>
.floating {
  position: fixed;
  bottom: 14rem;
  right: 2rem;
  border-radius: 10rem;
  height: 2.5rem;
  width: 2.5rem;
}
</style>
