<template>
  <div>
    <div class="field"></div>
    <h1 class="question">{{ result.title }}</h1>
    <div>
      <div v-if="gameType === 'PARTY_GAME'">
        <input
          id="onlyWrongAnswered"
          type="checkbox"
          name="onlyWrongAnswered"
          class="switch"
          v-model="showOnlyWrong"
          v-if="result.numberOfQuestions !== result.score"
        />
        <label for="onlyWrongAnswered" v-if="result.numberOfQuestions !== result.score">{{
          $t('gameResult.wrongQuestionOnly')
        }}</label>
        <h1 class="question">
          {{
            $t('gameResult.score') + ' ' + result.score + '/' + result.numberOfQuestions
          }}
        </h1>
      </div>
      <div>
        <h1 class="question">{{ currentQuestion.questionString }}</h1>
        <h3 class="useranswer" v-if="gameType === 'PARTY_GAME'">
          {{ $t('gameResult.answer') }}
          <strong
            :class="{
              correct:
                currentQuestion.userAnswer == currentQuestion.statements[0].partyAnswer,
              wrong:
                currentQuestion.userAnswer != currentQuestion.statements[0].partyAnswer
            }"
            >{{ currentQuestion.userAnswer }}</strong
          >
        </h3>
        <h3 class="useranswer" v-if="gameType === 'DEBATE_GAME'">
          {{ $t('gameResult.answer') }}
          <strong>{{ currentQuestion.userAnswer }}</strong>
        </h3>

        <h1
          class="question"
          v-if="gameType === 'NORMAL_GAME' && correctAnswer.length > 0"
        >
          {{
            $t('gameResult.score') + ' ' + result.score + '/' + result.numberOfQuestions
          }}
        </h1>
        <h3
          class="useranswer"
          v-if="gameType === 'NORMAL_GAME' && $store.getters.session.isVoteTest"
        >
          {{ $t('gameResult.answer') }}
          <strong>{{ currentQuestion.userAnswer }}</strong>
        </h3>
        <h3
          class="useranswer"
          v-if="gameType === 'NORMAL_GAME' && correctAnswer.length > 0"
        >
          {{ $t('gameResult.correctAnswer') }}
          <p v-for="answer in correctAnswer" :key="answer.id">{{ answer.value }}</p>
        </h3>

        <a
          class="pagination-previous"
          style="float: left;"
          v-if="index !== 0"
          @click="index--"
          ><fa icon="angle-double-left"
        /></a>
        <a
          class="pagination-next"
          v-if="index !== questionsList.length - 1"
          style="float: right;"
          @click="index++"
          ><fa icon="angle-double-right"
        /></a>
      </div>
      <br />
      <div v-if="gameType === 'DEBATE_GAME' || $store.getters.session.isVoteTest">
        <h1>{{ $t('gameResult.related') }}</h1>
        <BarChart v-if="loadedChartData" :chartdata="chartData" />
      </div>
      <button
        v-if="gameType === 'PARTY_GAME'"
        class="partyBtn"
        @click="showParty = !showParty"
      >
        <strong
          >{{
            $t('gameResult.says') + ' ' + currentQuestion.statements[0].partyDto.name
          }}?</strong
        >
      </button>
      <button
        v-if="gameType === 'DEBATE_GAME' || $store.getters.session.isVoteTest"
        class="partyBtn"
        @click="showParty = !showParty"
      >
        <strong> {{ $t('gameResult.otherParties') }}</strong>
      </button>
      <transition name="slide">
        <div v-if="gameType === 'PARTY_GAME' && showParty">
          <section class="responses">
            <h1 class="question">
              {{
                currentQuestion.statements[0].partyDto.name +
                  ' ' +
                  $t('gameResult.chose') +
                  ' ' +
                  currentQuestion.statements[0].partyAnswer
              }}
            </h1>
            <p>{{ currentQuestion.statements[0].argument }}</p>
          </section>
        </div>
        <div
          v-if="
            (gameType === 'DEBATE_GAME' || $store.getters.session.isVoteTest) && showParty
          "
        >
          <section class="responses" v-if="gameType === 'DEBATE_GAME'">
            <div v-for="statement in currentQuestion.statements" :key="statement.id">
              <h1 class="question">
                {{
                  statement.partyDto.name +
                    ' ' +
                    $t('gameResult.chose') +
                    ' ' +
                    statement.partyAnswer
                }}
              </h1>
              <p style="text-align:center">
                <strong>{{ statement.argument }}</strong>
              </p>
              <br />
            </div>
          </section>
          <section class="responses" v-if="$store.getters.session.isVoteTest === true">
            <div>
              <PartyArgumentsVoteTest :partyArguments="currentQuestion.statements" />
            </div>
          </section>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import BarChart from './barChart';
import PartyArgumentsVoteTest from '../components/partyArgumentsVoteTest';

export default {
  name: 'GameResults',
  components: { BarChart, PartyArgumentsVoteTest },
  data() {
    return {
      data: [],
      index: 0,
      showParty: false,
      showOnlyWrong: false,
      loadedChartData: false,
      chartData: {
        labels: [],
        datasets: []
      }
    };
  },
  props: {
    result: {
      default: []
    },
    gameType: {
      default: ''
    },
    isVoteTest: {
      default: false
    }
  },
  methods: {},
  created() {
    this.data = this.result;
    if (this.gameType === 'DEBATE_GAME' || this.$store.getters.session.isVoteTest) {
      let partiesRelated = this.result.partyRelated.sort(
        (a, b) => b.amountRelated - a.amountRelated
      );
      partiesRelated.forEach(element => {
        this.chartData.datasets.push({
          label: element.party.name,
          backgroundColor: element.party.color,
          data: [element.amountRelated]
        });
      });

      this.loadedChartData = true;
    }
  },
  watch: {
    showOnlyWrong() {
      if (this.showOnlyWrong) {
        this.index = 0;
      }
    }
  },
  computed: {
    currentQuestion() {
      return this.questionsList[this.index];
    },
    correctAnswer() {
      return this.currentQuestion.answers.filter(a => a.correct === true);
    },
    questionsList() {
      if (this.showOnlyWrong) {
        return this.data.questions.filter(
          el => el.userAnswer !== el.statements[0].partyAnswer
        );
      } else {
        return this.data.questions;
      }
    }
  }
};
</script>

<style scoped>
.useranswer {
  text-align: center;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}
@import '../sass/game.scss';
</style>
