<template>
  <div class="pin">
    <img src="../assets/treecompany.png" alt="tree company logo" />
    <div class="join">
      <h1 v-if="this.gameState != null">{{ this.gameState.title }}</h1>
      <h3 v-if="this.gameState != null">Wachten op start...</h3>
      <input
        type="number"
        name="pin"
        placeholder="Pin"
        v-model="pinCode"
        v-on:keyup.enter="$emit('joinGame', pinCode)"
        v-show="!gameState"
        v-bind:class="{ ahashakeheartache: wrongPin }"
      />
      <div class="loading" v-show="gameState">
        <div class="dot-flashing"></div>
      </div>
      <btn
        :disabled="pinCode.length != 6"
        @click="$emit('joinGame', pinCode)"
        v-if="!gameState"
        >{{ $t('join.joinnow') }}</btn
      >
      <btn class="voteTestBtn" @click="goToVoteTests()" v-if="!gameState">{{
        $t('join.voteTest')
      }}</btn>
    </div>
  </div>
</template>

<script>
import Btn from './button';
import EventBus from '../event-bus';
export default {
  name: 'JoinBox',
  data() {
    return {
      pinCode: '',
      wrongPin: false
    };
  },
  props: ['gameState'],
  mounted() {
    EventBus.$on('join_box_shake', () => {
      this.wrongPin = true;
      let t = this;
      setTimeout(() => {
        t.wrongPin = false;
      }, 200);
    });
  },
  watch: {
    pinCode: function(pin) {
      this.pinCode = pin.slice(0, 6);
    }
  },
  components: {
    Btn
  },
  methods: {
    goToVoteTests() {
      this.$router.push('/votetests');
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~bulma/bulma.sass';
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

.join {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.voteTestBtn {
  margin-top: 1rem;
}

.pin {
  padding: 1rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;

  @media (min-width: $tablet) {
    width: 25rem;
  }

  img {
    width: 100%;
    margin: 5% 0;
    height: auto;
  }

  input,
  .loading {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield;
    font-size: 120%;
    font-weight: bold;
    border: 1px solid #999;
    padding: 0;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 100%;
  }

  .loading > div {
    margin: calc(1.25rem - 5px) auto 0;
  }

  input[loading]:disabled:after {
    content: 'Loading';
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
</style>
