<template>
  <btn :title="$t('login.tooltip')" @click="$emit('navigateToLogin')" class="login-btn">
    <fa icon="user-circle" class="color" />
    {{ this.state ? $t('join.join') : $t('login.login') }}
  </btn>
</template>

<script>
import Btn from './button';
export default {
  name: 'LoginButton',
  data() {
    return {
      state: false
    };
  },
  components: { Btn },
  methods: {
    toggleState() {
      this.state = !this.state;
      this.$emit('toggle', this.state);
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared';

.login-btn {
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--accent_grey);
  border: none;
  float: right;
  cursor: pointer;
}

.color {
  color: var(--accent_grey);
}
</style>
