<template>
  <section class="multiple-choice-input">
    <!-- -- choice list -------------------- -->
    <div
      class="choice-box clickable"
      v-for="c in choices"
      :key="c.value"
      :class="{ correct: c.correct }"
      @click="toggleCorrect(c)"
    >
      {{ c.value }}
      <button class="delete" @click="handleDelete(c)"></button>
    </div>

    <!-- -- template input ----------------- -->
    <form class="form" @submit.prevent="handleFormSubmit">
      <input
        v-model="currentChoiceValue"
        type="text"
        class="input"
        :placeholder="$t('question.mpOption')"
      />
      <button type="submit" class="button is-primary is-fullwidth is-small">
        {{ $t('question.addOption') }}
      </button>
      <p class="help" :class="{ warning: !valid }">{{ $t('question.mpHelp') }}</p>
    </form>
  </section>
</template>

<script>
export default {
  name: 'MultipleChoiceInput',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      currentChoiceValue: '',
      choices: this.value
    };
  },
  created() {
    this.$emit('input', this.choices);
  },
  methods: {
    handleFormSubmit() {
      if (!this.currentChoiceValue.trim().length > 0) return;
      this.choices.push({
        correct: false,
        value: this.currentChoiceValue.trim()
      });

      this.currentChoiceValue = '';
      this.$emit('input', this.choices);
    },
    toggleCorrect(c) {
      c.correct = !c.correct;
      this.$emit('input', this.choices);
    },
    handleDelete(c) {
      this.choices.splice(this.choices.indexOf(c), 1);
      this.$emit('input', this.choices);
    }
  },
  computed: {
    valid() {
      return this.choices.some(a => a.correct);
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- choice box ---------------------------
.choice-box {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: var(--red);
  color: white;
  align-items: center;
  justify-content: space-between;

  &.correct {
    background-color: var(--green);
  }
}

// -- template form ------------------------
.input {
  margin-bottom: 0.45rem;
}

.help.warning {
  color: var(--red);
}
</style>
