<template>
  <Navbar :links="links">
    <template v-slot:userName>
      {{ getUser.email }}
    </template>
  </Navbar>
</template>

<script>
import Navbar from './navbar';
import superAdminLinks from '../util/navlinks/superAdminNav';

export default {
  name: 'NavbarSuperAdmin',
  components: { Navbar },
  data() {
    return {
      currentNav: '',
      links: superAdminLinks
    };
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser;
    }
  }
};
</script>
