<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger burger"
        @click="showNav = !showNav"
        :class="{ 'is-active': showNav }"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu" :class="{ 'is-active': showNav }">
      <div class="navbar-start">
        <ul class="menu-list">
          <div class="category" v-for="cat in links" :key="cat.label">
            <p class="menu-label">{{ $t(cat.label) }}</p>

            <li v-for="link in cat.items" :key="link.path" class="menu-button">
              <a
                v-if="link.items"
                @click="toggleActiveSub(link.path)"
                :class="{ 'is-active': $route.path.startsWith(link.path) }"
                >{{ $t(link.label) }}
                <div class="spacer"></div>
                <fa :icon="activeSub === link.path ? 'chevron-up' : 'chevron-down'" />
              </a>
              <ul v-if="link.items && activeSub === link.path">
                <li v-for="item in link.items" :key="item.path">
                  <router-link :to="link.path + '/' + item.path">{{
                    $t(item.label)
                  }}</router-link>
                </li>
              </ul>
              <router-link v-if="!link.items" :to="link.path">{{
                $t(link.label)
              }}</router-link>
            </li>
          </div>
        </ul>
      </div>

      <div class="navbar-end" style="margin-right: 12px">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <slot name="userName"></slot>
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              <router-link to="/profile">{{ $t('profile.title') }}</router-link>
            </a>
            <a class="navbar-item" @click="languagePopUp()">
              {{ $t('selectLanguage.button') }}
            </a>
          </div>
        </div>
        <a class="navbar-item" @click="toggleDarkMode()" href="#">
          <fa :icon="dark == 'true' ? 'sun' : 'moon'" />
        </a>
        <a class="navbar-item" @click="logout()" href="#">
          <fa icon="sign-out-alt" />
        </a>
      </div>
    </div>
  </nav>
</template>

<script>
import pickLang from '../util/pickLanguage';

export default {
  name: 'Navbar',
  data() {
    return {
      showNav: false,
      activeSub: undefined
    };
  },
  props: {
    links: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.push('/login');
    },
    languagePopUp() {
      pickLang(this);
    },
    toggleDarkMode() {
      this.$store.dispatch('toggleDarkMode');
    },
    toggleActiveSub(sub) {
      this.activeSub = this.activeSub === sub ? undefined : sub;
    }
  },
  computed: {
    dark() {
      return this.$store.getters.getDark;
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';
nav {
  color: var(--navbar-color);
  background-color: var(--navbar-color);
  opacity: 1;
  z-index: 1000;
  .navbar-menu {
    padding-left: 1rem;
    .navbar-item {
      color: var(--navbar-text-color);

      .navbar-link {
        color: var(--navbar-text-color);
      }

      &:hover {
        background-color: var(--navbar-hover-color);
      }
      &:focus {
        background-color: var(--navbar-hover-color);
      }

      &:focus-within {
        background-color: var(--navbar-hover-color);
      }
    }
    @media (max-width: 1000px) {
      nav {
        color: var(--navbar-color);
        background-color: var(--navbar-color);
        opacity: 1;
      }

      background-color: var(--navbar-color);

      .navbar-burger {
        color: var(--text-color);
      }
      .padding {
        padding: 1px;
      }
    }

    @media (min-width: 1024px) {
      .navbar-start {
        display: none;
      }
    }
  }
}
</style>
