<template>
  <Navbar :links="links">
    <template v-slot:userName>
      {{ getUser.name }}
    </template>
  </Navbar>
</template>

<script>
import Navbar from './navbar';
import adminLinks from '../util/navlinks/adminNav';

export default {
  name: 'NavbarSchool',
  components: { Navbar },
  computed: {
    getUser() {
      return this.$store.getters.getSchool;
    }
  },
  data() {
    return {
      links: adminLinks
    };
  }
};
</script>
