<template>
  <Navbar :links="links">
    <template v-slot:userName>
      {{ getUser.firstName + ' ' + getUser.lastName }}
    </template>
  </Navbar>
</template>

<script>
import Navbar from './navbar';
import teacherLinks from '../util/navlinks/teacherNav';

export default {
  name: 'NavbarTeacher',
  components: { Navbar },
  data() {
    return {
      currentNav: '',
      links: teacherLinks
    };
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser; // get Teacher
    }
  }
};
</script>
