<template v-for="opinion in opinions" :key="opinion">
  <div>
    <ul>
      <li v-for="(i, k) in opinions" :key="i" class="field">
        <p class="control has-icons-right">
          <input
            class="input is-primary"
            type="text"
            v-model.lazy="opinions[k]"
            :placeholder="$t('game.opinion.placeholder', { num: k + 1 })"
            @blur="opinions[k] != '' || deleteOpinion(k)"
          />
          <span class="icon is-small is-right">
            <button class="delete" @click="deleteOpinion(k)"></button>
          </span>
        </p>
      </li>
      <li v-show="opinions.length < 10">
        <form @submit="addOpinion">
          <input
            ref="newOpinionInput"
            class="input is-primary"
            type="text"
            placeholder="Geef een mening in"
            v-model="newOpinion"
            autofocus
          />
        </form>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'OpinionList',
  props: [],
  data() {
    return {
      newOpinion: '',
      opinions: []
    };
  },
  methods: {
    addOpinion(e) {
      if (this.newOpinion) {
        this.opinions.push(this.newOpinion);
        this.newOpinion = '';
        this.$refs.newOpinionInput.focus();
      }
      e.preventDefault();
      this.$emit('setOpinions', this.opinions);
    },
    deleteOpinion(i) {
      this.opinions.splice(i, 1);
      this.$refs.newOpinionInput.focus();
      this.$emit('setOpinions', this.opinions);
    }
  }
};
</script>
