<template>
  <nav
    style="position: sticky"
    class="pagination is-centered is-rounded"
    role="navigation"
    aria-label="pagination"
  >
    <a
      class="pagination-previous"
      @click="$emit('previousPage', pagination.CurrentPage - 1)"
      :class="{ hidden: !pagination.HasPrevious }"
      ><fa icon="angle-double-left"
    /></a>
    <a
      class="pagination-next"
      :class="{ hidden: !pagination.HasNext }"
      @click="$emit('nextPage', pagination.CurrentPage + 1)"
      ><fa icon="angle-double-right"
    /></a>
    <ul class="pagination-list  ">
      <li>
        <a
          class="pagination-link"
          @click="$emit('previousPage', pagination.CurrentPage - 1)"
          :class="{ hidden: !pagination.HasPrevious }"
          >{{ pagination.CurrentPage - 1 }}</a
        >
      </li>
      <li>
        <a class="pagination-link is-current" aria-current="page">{{
          pagination.CurrentPage
        }}</a>
      </li>
      <li>
        <a
          class="pagination-link"
          @click="$emit('nextPage', pagination.CurrentPage + 1)"
          :class="{ hidden: !pagination.HasNext }"
          >{{ pagination.CurrentPage + 1 }}</a
        >
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Pagination',
  props: ['pagination'],
  data() {
    return {};
  },
  created() {},
  methods: {},
  watch: {}
};
</script>

<style lang="scss" scoped>
.hidden {
  visibility: hidden;
}
</style>
