<template>
  <div class="party-row" :style="{ borderBottomColor: backgroundColor }">
    <header class="row-header" :style="{ backgroundColor }">
      <select
        v-model="partyState.partyId"
        @change="handlePartyChange"
        :style="{ color: textColor }"
      >
        <option v-if="!!getCurrent()" :value="getCurrent().id">{{
          getCurrent().name
        }}</option>
        <option v-for="p in availableOptions" :key="p.id" :value="p.id">{{
          p.name
        }}</option>
      </select>
      <fa :style="{ color: textColor }" icon="trash" @click="$emit('delete')" />
      <fa
        :style="{ color: textColor }"
        :icon="collapsed ? 'chevron-up' : 'chevron-down'"
        @click="collapsed = !collapsed"
      />
    </header>
    <div v-if="!collapsed" class="row-body" :style="{ backgroundColor: bodyColor }">
      <question-answer-list v-model="partyState.answers" :questions="questions" />
    </div>
  </div>
</template>

<script>
import { LightenDarkenColor } from '../util/color';
import QuestionAnswerList from './questionAnswerList.vue';

export default {
  name: 'PartyRow',
  components: { QuestionAnswerList },
  props: {
    availableOptions: {
      type: Array,
      default: () => []
    },
    availableParties: {
      type: Array,
      default: () => []
    },
    questions: {
      type: Array,
      default: () => []
    },
    party: {
      type: Object,
      default: () => ({
        id: '',
        partyId: '',
        answers: []
      })
    }
  },
  data() {
    return {
      collapsed: true,
      partyState: this.party
    };
  },
  methods: {
    getCurrent() {
      const curr = this.availableParties.find(o => o.id === this.partyState.partyId);
      if (!curr) return undefined;
      else return curr;
    },
    handlePartyChange() {
      const defaultAnswers = [];
      this.questions.forEach(q => {
        defaultAnswers.push({
          questionId: q.id,
          opinion: q.allowSkip ? 'NO_OPINION' : 'DISAGREE'
        });
      });
      this.$set(this.partyState, 'answers', defaultAnswers);
    }
  },
  computed: {
    backgroundColor: function() {
      const curr = this.getCurrent();
      if (!curr) return undefined;
      return LightenDarkenColor(curr.color, 50);
    },
    textColor: function() {
      const curr = this.getCurrent();
      if (!curr) return undefined;
      return LightenDarkenColor(curr.color, 200);
    },
    bodyColor: function() {
      const curr = this.getCurrent();
      if (!curr) return undefined;
      return LightenDarkenColor(curr.color, 220);
    }
  },
  watch: {
    partyState: {
      deep: true,
      handler: function() {
        this.$emit('change', { ...this.partyState });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- row styling --------------------------
.party-row {
  border-bottom-color: rgb(237, 237, 237);
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:last-child {
    border-bottom-style: none;
  }
}

// -- row header styling -------------------
.row-header {
  height: $header-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  select {
    flex-grow: 1;
    margin-left: 1rem;
    border: unset;
    height: 2.5rem;
    background-color: transparent;

    option {
      color: black;
    }
  }

  svg {
    margin-left: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 1rem;
    }
  }
}

//  -- row body ----------------------------
.row-body {
  padding: 1rem;
}
</style>
