<template>
  <div class="card party-card">
    <div v-show="!isEditing" class="card-content">
      <div class="media">
        <figure class="image">
          <img :src="party.logo" :alt="party.name + ' logo'" />
        </figure>
        <div class="media-content">
          <p class="title is-4" style="margin-bottom: 0">
            {{ party.name }}
          </p>
          <p class="title is-5" style="margin-bottom: 0">
            {{ party.slogan }}
          </p>
          <div class="centered">
            <btn @click="updateParty()" class="rounded">
              {{ $t('myparties.edit') }}
            </btn>
            <btn @click="deleteParty()" class="danger rounded">
              {{ $t('myparties.delete') }}
            </btn>
          </div>
        </div>
      </div>
    </div>
    <div v-if="isEditing" class="card-content">
      <div class="media-content">
        <div class="field">
          <label class="label">{{ $t('myparties.name') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="partyObj.name"
              :placeholder="$t('myparties.name')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myparties.slogan') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="partyObj.slogan"
              :placeholder="$t('myparties.slogan')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myparties.color') }}</label>
          <input class="color-input" type="color" v-model="partyObj.color" />
        </div>
        <div class="field">
          <btn @click="updatePicture()" class="rounded">
            {{ $t('myparties.uploadPicture') }}
          </btn>
        </div>
        <div class="centered">
          <btn @click="saveParty()" class="rounded">
            {{ $t('myparties.save') }}
          </btn>
          <btn @click="cancelFnc()" class="danger rounded">
            {{ $t('cancel') }}
          </btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';

import PartyService from '../services/partyService';
import Base64Reader from '../util/toBase64';

export default {
  name: 'PartyCard',
  components: { Btn },
  props: ['party'],
  data() {
    return {
      partyObj: null,
      isEditing: false
    };
  },
  created() {
    if (!this.party.id || this.party.id == '') this.isEditing = true;
    this.partyObj = this.party;
  },
  methods: {
    async updatePicture() {
      try {
        const { value: file } = await this.$fire({
          title: this.$i18n.t('myparties.selectPartyImage'),
          input: 'file',
          showCancelButton: true,
          cancelButtonText: this.$i18n.t('cancel'),
          inputAttributes: {
            accept: '.png, .jpg, .jpeg',
            'aria-label': this.$i18n.t('myparties.selectPartyImage')
          }
        });
        if (file) {
          let base64String = await Base64Reader(file);
          this.partyObj.logo = base64String;
        }
      } catch (e) {
        let toastText = this.$i18n.t('myparties.failedToUploadImage');
        this.$vToastify.error(toastText);
      }
    },
    updateParty() {
      this.isEditing = true;
    },
    saveParty() {
      try {
        if (this.partyObj.id == '') {
          PartyService.createParty(this.partyObj);
        } else {
          PartyService.updateParty(this.partyObj);
        }
        this.isEditing = false;
        let toastText = this.$i18n.t('myparties.saved');
        this.$vToastify.success(toastText);
      } catch (e) {
        let toastText = this.$i18n.t('myparties.failedToSave');
        this.$vToastify.error(toastText);
      }
    },
    cancelFnc() {
      if (this.partyObj.id == '') {
        this.$emit('removePartyObj', this.partyObj);
      }
      this.isEditing = false;
    },
    async deleteParty() {
      let result = await this.$fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      });
      if (!result.value) return;
      try {
        await PartyService.deleteParty(this.partyObj.id);
        await this.$fire('Deleted!', 'Your partyObj has been deleted.', 'success');
        this.$router.go();
      } catch (e) {
        let toastText = this.$i18n.t('myparties.failedToDelete');
        this.$vToastify.error(toastText);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.shared {
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.party-card {
  width: 100%;
  margin: 1rem;
}
.card-content {
  margin: 0 0.2rem;
  padding: 0.5rem;
}
img {
  margin: 0.5rem;
  width: auto;
  height: 10rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .cardPhone {
    margin-bottom: 15px;
    p {
      margin: 0.5rem 0;
    }
  }
}

@media (min-width: 1283px) {
  .cardPhone {
    display: none;
    padding: 1rem;
  }
  img {
    margin: 1rem;
  }

  .party-card {
    width: 100%;
    height: auto;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}
</style>
