<template>
  <card :title="$t('parties.title')" noPadding startClosed>
    <!-- -- body --------------------------- -->
    <progress v-if="loading" class="progress is-small is-primary" max="100"></progress>
    <section v-else class="party-list">
      <party-row
        v-for="(p, index) in parties"
        :key="p.id"
        :party="p"
        :availableOptions="partyOptions"
        :availableParties="availableParties"
        :questions="questions"
        @delete="() => handleDelete(p.id)"
        @change="val => handleChange(index, val)"
      />
    </section>

    <!-- -- actions ------------------------ -->
    <template #actions>
      <span @click="addParty" class="card-footer-item">{{ $t('parties.addParty') }}</span>
      <span @click="removeAll" class="card-footer-item">{{
        $t('parties.removeAll')
      }}</span>
    </template>
  </card>
</template>

<script>
import Card from './card.vue';
import PartyRow from './partyRow.vue';
import { v4 as uuid } from 'uuid';
import PartyService from '../services/partyService';

export default {
  name: 'PartiesCard',
  components: { Card, PartyRow },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    questions: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      loading: false,
      parties: [...this.value],
      availableParties: [],
      selectedParties: []
    };
  },
  async created() {
    this.loading = true;
    await this.fetchParties();
    this.loading = false;
  },
  methods: {
    async fetchParties() {
      this.availableParties = await PartyService.getAllParties();
    },
    addParty() {
      this.parties.push({
        id: uuid()
      });
    },
    removeAll() {
      this.parties = [];
    },
    handleDelete(id) {
      this.parties = this.parties.filter(p => p.id !== id);
      this.$emit('input', this.parties);
    },
    handleChange(index, value) {
      this.$set(this.parties, index, value);
      this.$emit('input', this.parties);
    }
  },
  computed: {
    partyOptions() {
      const selectedIds = this.parties.map(p => p.partyId).filter(i => !!i);
      return this.availableParties.filter(p => {
        return !selectedIds.includes(p.id);
      });
    }
  }
};
</script>
