<template>
  <card :title="$t('session.participationQuestionTitle')" noPadding startOpen>
    <!---- body --------------------------- -->
    <div class="card-content">
      <!---- General data ---------------------- -->
      <section class="options-section questionContainer">
        <participation-question-row
          v-for="(item, index) in questionData.questionResults"
          :key="index"
          :questionData="item"
        />
      </section>
    </div>
  </card>
</template>

<script>
import Card from './card.vue';
import participationQuestionRow from '../components/participationQuestionRow';

export default {
  name: 'ParticipationDataCard',
  components: { Card, participationQuestionRow },
  props: {
    questionData: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.questionContainer {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
