<template>
  <article>
    <h2 class="hide">{{ $t('partyArguments.title') }}</h2>
    <div class="columns is-multiline">
      <section class="column is-half" v-for="el in partyArgumentsArray" :key="el[0]">
        <h3 class="title is-5">{{ el[0] }}?</h3>
        <div class="media" v-for="arg in el[1]" :key="arg.partyDto.id">
          <div class="media-content">
            <div class="content">
              <figure class="image is-32x32 partyImage">
                <img :src="arg.partyDto.logo" :alt="arg.partyDto.name + ' logo'" />
              </figure>
              <h6>
                Waarom heeft {{ arg.partyDto.name }} gekozen voor {{ arg.partyAnswer }}
              </h6>

              <p>{{ arg.argument }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
</template>

<script>
export default {
  name: 'PartyArgumentsVoteTest',
  props: ['partyArguments'],
  data() {
    return {
      partyArgumentsArray: []
    };
  },
  created() {
    this.getArguments();
  },
  methods: {
    getArguments() {
      this.partyArgumentsArray = [];
      this.partyArguments.forEach(el => {
        let key = el.partyAnswer;
        let added = false;
        this.partyArgumentsArray.forEach(arg => {
          if (arg[0] == key) {
            arg[1].push(el);
            added = true;
          }
        });
        if (!added) {
          this.partyArgumentsArray.push([key, [el]]);
        }
      });

      this.partyArgumentsArray = this.partyArgumentsArray.sort((a, b) =>
        a[0].localeCompare(b[0])
      );
    }
  },
  watch: {
    partyArguments() {
      this.getArguments();
    }
  }
};
</script>

<style lang="scss" scoped>
article {
  margin: 0 1rem 2rem 1rem;
}

.partyImage {
  width: 15%;
  height: 15%;
  float: left;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 6px;
}
</style>
