<template>
  <card :title="$t('session.participationDataTitle')" noPadding startOpen>
    <!---- body --------------------------- -->
    <div class="card-content columns is-multiline">
      <!---- General data ---------------------- -->
      <section class="options-section column  chartContainer">
        <label class="label"> {{ $t('session.generalData') }}</label>
        <div class="field chart">
          <bar-chart :chartdata="barData" />
        </div>
      </section>
      <div class="is-divider-vertical" v-if="hasParties"></div>
      <!---- PieChart --------------------- -->
      <section class="options-section column  chartContainer" v-if="hasParties">
        <label class="label">{{ $t('session.parties') }}</label>
        <div class="field chart">
          <donut-chart :chartdata="chartData" />
        </div>
      </section>
    </div>
  </card>
</template>

<script>
import Card from './card.vue';
import DonutChart from '../components/donutChart';
import BarChart from '../components/barChart';

export default {
  name: 'ParticipationDataCard',
  components: { Card, DonutChart, BarChart },
  props: {
    participationData: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      hasParties: false,
      partData: null,
      chartData: {
        labels: [],
        datasets: []
      },
      barData: {
        labels: [],
        datasets: []
      }
    };
  },
  created() {
    this.partData = this.participationData;
    //bar data
    this.barData.datasets.push({
      label: this.$i18n.t('session.playerCount'),
      backgroundColor: this.generateRandomColor(),
      data: [this.partData.playercount]
    });

    this.barData.datasets.push({
      label: this.$i18n.t('session.answerCount'),
      backgroundColor: this.generateRandomColor(),
      data: [this.partData.answerCount]
    });

    //Piechart data
    if (this.partData.selectedPartyCount.filter(c => c.count > 0).length > 0) {
      this.hasParties = true;
      this.partData.selectedPartyCount.forEach(element => {
        this.chartData.datasets.push({
          label: element.party.name,
          backgroundColor: element.party.color,
          data: [element.count]
        });
      });
    } else {
      this.hasParties = false;
    }
  },
  methods: {
    generateRandomColor() {
      return '#' + Math.floor(Math.random() * 16777215).toString(16);
    }
  }
};
</script>

<style lang="scss" scoped>
.countCountainer {
  display: flex;
  flex-direction: row;
}

.countTitle {
  min-width: 20%;
  margin-right: 1rem;
}
.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chart {
  // height: 15rem;
  width: 15rem;
}
</style>
