<template>
  <div class="card session-card">
    <div class="card-content" v-if="questionData">
      <div class="media">
        <div class="media-content">
          <div class="title is-5">{{ questionData.questionString }}</div>
          <div class="is-divider" :data-content="$t('session.answers')"></div>
          <div
            v-for="(answer, index) in questionData.answerResultDto"
            :key="index"
            class="answerContainer"
          >
            <div class="answer-value">{{ answer.answer.value }}:</div>
            <div>
              <span class="tag is-info is-light"> {{ answer.answerCount }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a
        class="rounded card-footer-item argument"
        @click="setHTMLForAlert(questionData.arguments)"
      >
        {{ $t('session.argumentsview') }}
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'participationQuestionRow',
  props: {
    questionData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      answers: this.$i18n.t('session.answers')
    };
  },
  methods: {
    setHTMLForAlert(args) {
      let toasttitle = this.$i18n.t('session.arguments');
      let html =
        '<div style="max-height: 15rem; overflow: auto; text-align: left; margin: 1.5rem;">' +
        '<ul><li">' +
        args.join('</li><li>') +
        '</li></ul>' +
        '</div>';
      this.$fire({
        title: toasttitle,
        type: 'info',
        html: html
      });
    }
  }
};
</script>

<style scoped lang="scss">
// -- card ---------------------------------
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  margin-bottom: 0rem;
  min-height: 3rem;
}
.answerContainer {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.argument {
  color: #3498db;
}

.title-question {
  color: var(--text-question-color);
}

.card-content {
  background-color: var(--card-content-color);
}

.card-footer {
  background-color: var(--card-content-color);
}

.answer-value {
  color: var(--text-color);
}
</style>
