<template>
  <article>
    <h2 class="hide">{{ $t('partyArguments.title') }}</h2>
    <div class="columns is-multiline">
      <section class="column is-half" v-for="el in partyArgumentsArray" :key="el[0]">
        <h3 class="title is-5">{{ $t('partyArguments.waarom') }} {{ el[0] }}?</h3>
        <div class="media" v-for="arg in el[1]" :key="arg.party.id">
          <div class="media-content">
            <div class="content">{{ arg.explanation }}</div>
          </div>
        </div>
      </section>
    </div>
  </article>
</template>

<script>
export default {
  name: 'PartyArguments',
  props: ['partyArguments'],
  data() {
    return {
      partyArgumentsArray: []
    };
  },
  created() {
    this.partyArguments.forEach(el => {
      let key = el.answer;
      let added = false;
      this.partyArgumentsArray.forEach(arg => {
        if (arg[0] == key) {
          arg[1].push(el);
          added = true;
        }
      });
      if (!added) {
        this.partyArgumentsArray.push([key, [el]]);
      }
    });

    this.partyArgumentsArray = this.partyArgumentsArray.sort((a, b) =>
      a[0].localeCompare(b[0])
    );
  },
  methods: {},
  watch: {
    partyArguments() {
      this.created();
    }
  }
};
</script>

<style lang="scss" scoped>
article {
  margin: 0 1rem 2rem 1rem;
}
</style>
