<template>
  <div class="login-count">
    <fa icon="user" />
    {{ count }} {{ $t('login.players') }}
  </div>
</template>

<script>
export default {
  name: 'PlayerCount',
  props: ['count']
};
</script>

<style scoped lang="scss">
@import '../sass/shared';

.login-count {
  padding: 0.5rem;
  color: var(--primary);
  border: none;
  float: left;
  display: block;
  font-weight: bold;
}
</style>
