<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          :src="'https://eu.ui-avatars.com/api/?size=512&name=' + course.name"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <fa icon="graduation-cap" />
        </div>
        <div class="media-content">
          <p class="title is-4">{{ course.name }}</p>
          <p class="subtitle is-6">{{ course.schoolyear }}</p>
          {{ $t('course.amountOfStudents') + course.amountOfStudents }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PreviewCard',
  components: {},
  props: ['course'],
  methods: {}
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';
.editButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--card-color) !important;
}
.media-content {
  color: var(--text-color);
}

.card-footer {
  border-top: 1px solid #ededed;
  background-color: var(--card-color) !important;
}

.card {
  width: 100%;

  .title {
    font-size: 18px;
    font-size: 1.2vw;
  }

  @media (max-width: 600px) {
    .title {
      font-size: 18px;
      font-size: 4.5vw;
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 600px) {
    .title {
      font-size: 18px;
      font-size: 2vw;
    }
  }

  @media screen and (max-width: 1556px) and (min-width: 1023px) {
    .title {
      font-size: 18px;
      font-size: 2vw;
    }
  }
}
</style>
