<template>
  <div>
    <div class="columns">
      <div class="column">
        <label>{{ $t('profile.name') }}</label>
        <input type="text" v-model="userObj.name" class="input" />
        <br />

        <label> {{ $t('profile.address') }}</label>
        <input type="text" v-model="userObj.address" class="input" />
      </div>
      <div class="column">
        <label> {{ $t('profile.email') }}</label>
        <input type="text" v-model="userObj.email" class="input" />
        <br />
        <label> {{ $t('profile.phone') }}</label>
        <input type="text" v-model="userObj.phone" class="input" />
        <br />
        <br />
        <card :title="$t('profile.changePassword')">
          <label> {{ $t('profile.currentPw') }}</label>
          <input type="password" v-model="password" class="input" />

          <label> {{ $t('profile.newPw') }}</label>
          <input type="password" v-model="newPassword" class="input" />

          <label> {{ $t('profile.newPwConfirm') }}</label>
          <input type="password" v-model="newPasswordCheck" class="input" />
        </card>
      </div>
    </div>
    <!-- -- action buttons ----------------- -->
    <card title="Actions">
      <btn v-if="loading" loading />
      <div v-else class="actions">
        <btn @click="updateSchool()">Opslaan</btn>
        <btn @click="handleUpdateAndExit()">Opslaan en teruggaan</btn>
      </div>
    </card>
  </div>
</template>

<script>
import Card from '../components/card.vue';
import Btn from '../components/button.vue';

// import UserService from '../services/userService';
// import SchoolService from '../services/schoolService';

export default {
  name: 'ProfileFormSchool',
  components: { Btn, Card },
  props: ['user'],
  data() {
    return {
      userObj: null,
      loading: false,
      password: '',
      newPassword: '',
      newPasswordCheck: ''
    };
  },
  created() {
    this.userObj = this.user;
  },
  methods: {
    updateSchool: async function() {
      let userUpdate = {
        FirstName: 'school',
        LastName: 'school',
        Email: this.userObj.email,
        Password: '',
        NewPassword: ''
      };

      // if password has been filled in send it with the user object to update it.
      if (this.password && this.newPassword && this.newPasswordCheck) {
        if (this.newPassword === this.newPasswordCheck) {
          userUpdate.Password = this.password;
          userUpdate.NewPassword = this.newPassword;
          this.$emit('updateUser', userUpdate);
        }
      }

      this.$emit('updateSchool', this.userObj);

      // make empty again
      this.password = '';
      this.newPassword = '';
      this.newPasswordCheck = '';
    }
  }
};
</script>

<style scoped lang="scss">
// -- card list ----------------------------
.card-list {
  padding-bottom: 3rem;

  .card {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

// -- actions ------------------------------
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

// -- button styling -----------------------
button {
  width: 100%;
}
</style>
