<template>
  <div>
    <card title="Wijzig Wachtwoord">
      <label>Huidig Wachtwoord</label>
      <input type="password" v-model="password" class="input" />

      <label>Nieuw Wachtwoord</label>
      <input type="password" v-model="newPassword" class="input" />

      <label>Nieuw Wachtwoord Ter bevestiging</label>
      <input type="password" v-model="newPasswordCheck" class="input" />
    </card>
    <!-- -- action buttons ----------------- -->
    <card title="Actions">
      <btn v-if="loading" loading />
      <div v-else class="actions">
        <btn @click="updateUser()">Opslaan</btn>
        <btn @click="handleUpdateAndExit()">Opslaan en teruggaan</btn>
      </div>
    </card>
  </div>
</template>

<script>
import Card from '../components/card.vue';
import Btn from '../components/button.vue';

export default {
  name: 'ProfileFormSuperAdmin',
  components: { Btn, Card },
  props: ['user'],
  data() {
    return {
      userObj: null,
      loading: false,
      password: '',
      newPassword: '',
      newPasswordCheck: ''
    };
  },
  created() {
    this.userObj = this.user;
  },
  methods: {
    updateUser: async function() {
      let user = {
        FirstName: 'user',
        LastName: 'user',
        Email: this.userObj.email,
        Password: '',
        NewPassword: ''
      };

      // if password has been filled in send it with the user object to update it.
      if (this.password && this.newPassword && this.newPasswordCheck) {
        if (this.newPassword === this.newPasswordCheck) {
          user.Password = this.password;
          user.NewPassword = this.newPassword;
          this.$emit('updateUser', user);
        } else {
          this.$fire({
            title: this.$i18n.t('error'),
            text: this.$i18n.t('profile.error'),
            type: 'error',
            timer: 3000
          });
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
// -- card list ----------------------------
.card-list {
  padding-bottom: 3rem;

  .card {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

// -- actions ------------------------------
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

// -- button styling -----------------------
button {
  width: 100%;
}
</style>
