<template>
  <section class="card-list">
    <figure class="image is-128x128" style="float: right;">
      <img
        class="is-rounded"
        :src="'https://eu.ui-avatars.com/api/?size=128&name=' + name"
      />
    </figure>
    <section class="section">
      <h1 class="title">
        {{ $i18n.t('profile.introductionWord') }} {{ name == null ? '' : name }}!
      </h1>
      <p class="subtitle">
        {{ $i18n.t('profile.intro') }}
        <strong>{{ $i18n.t('profile.introStrong') }}</strong>
        {{ $i18n.t('profile.introEnd') }}
      </p>
    </section>

    <card title="Details">
      <!-- -- Form teacher ------------------- -->
      <ProfileFormTeacher
        @updateUser="updateUser"
        v-if="userEdit.role == 1"
        :user="userEdit"
      ></ProfileFormTeacher>

      <!-- -- Form school -------------------- -->
      <ProfileFormSchool
        @updateSchool="updateSchool"
        @updateUser="updateUser"
        v-if="userEdit.role == 2"
        :user="userEdit"
      ></ProfileFormSchool>

      <!-- -- Form Superadmin ---------------- -->
      <ProfileFormSuperAdmin
        v-if="userEdit.role == 3"
        :user="userEdit"
        @updateUser="updateUser"
      ></ProfileFormSuperAdmin>
    </card>
  </section>
</template>

<script>
// -- components ---------------------------
import Card from '../components/card.vue';
import ProfileFormTeacher from '../components/profileFormTeacher.vue';
import ProfileFormSchool from '../components/profileFormSchool.vue';
import ProfileFormSuperAdmin from '../components/profileFormSuperadmin.vue';

import UserService from '../services/userService';
import SchoolService from '../services/schoolService';

export default {
  name: 'ProfileForm',
  components: {
    Card,
    ProfileFormTeacher,
    ProfileFormSchool,
    ProfileFormSuperAdmin
  },
  props: {
    user: {
      type: Object,
      required: false
    },
    school: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      userEdit: null,
      loading: false
    };
  },
  async created() {
    this.userEdit = this.user;
    if (this.school && Object.keys(this.school).length > 0) {
      this.userEdit.name = this.school.name;
      this.userEdit.address = this.school.address;
      this.userEdit.phone = this.school.phone;
    }
  },
  methods: {
    updateUser: async function(user) {
      try {
        // update user
        await UserService.updateUser(this.userEdit.id, user);

        // fetch login data again
        this.$store.dispatch('fetchLoginData');
        this.$fire({
          title: this.$i18n.t('success'),
          text: this.$i18n.t('profile.success'),
          type: 'success',
          timer: 3000
        });
      } catch (error) {
        this.$fire({
          title: this.$i18n.t('error'),
          text: this.$i18n.t('profile.error'),
          type: 'error',
          timer: 3000
        });
      }
    },
    updateSchool: async function(user) {
      try {
        await SchoolService.updateSchoolById(user.schoolId, {
          Name: user.name,
          Address: user.address,
          Phone: user.phone,
          Email: user.email,
          LoginMail: user.email
        });

        // fetch login data again
        this.$store.dispatch('fetchLoginData');
        this.$fire({
          title: this.$i18n.t('success'),
          text: this.$i18n.t('profile.success'),
          type: 'success',
          timer: 3000
        });
      } catch (error) {
        this.$fire({
          title: this.$i18n.t('error'),
          text: this.$i18n.t('profile.error'),
          type: 'error',
          timer: 3000
        });
      }
    },
    async handleUpdateAndExit() {
      await this.updateUser();
      this.$router.push('/dashboard');
    }
  },
  computed: {
    name() {
      if (this.school && Object.keys(this.school).length > 0) {
        return this.$store.getters.getSchool.name;
      } else {
        return this.$store.getters.getUser.firstName;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
// -- card list ----------------------------
.card-list {
  padding-bottom: 3rem;

  .card {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

// -- actions ------------------------------
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

// -- button styling -----------------------
button {
  width: 100%;
}
</style>
