<template>
  <section class="login-box">
    <header>
      <img src="/assets/treecompany.png" alt="tree company logo" />
    </header>
    <form class="body" @submit.prevent="handleSubmit">
      <!-- -- email field ------------------ -->
      <div class="field">
        <p class="control has-icons-left">
          <input
            v-model="email"
            type="email"
            :disabled="loading"
            :placeholder="$t('login.email')"
            class="input"
          />
          <span class="icon is-small is-left">
            <fa icon="envelope" />
          </span>
        </p>
      </div>

      <!-- -- submit button ---------------- -->
      <btn outlined fullwidth submit :loading="loading">{{ $t('login.request') }}</btn>
    </form>
    <footer>
      <a href="/login" class="forgot">Inloggen?</a>
    </footer>
  </section>
</template>

<script>
import Btn from './button';
import UserService from '../services/userService';

export default {
  name: 'PWForgotBox',
  data() {
    return {
      email: '',
      loading: false
    };
  },
  components: {
    Btn
  },
  props: ['resetkey'],
  methods: {
    async handleSubmit() {
      if (!this.email) {
        return this.showErrorBox(this.$i18n.t('login.error.noEmailOrPassword'));
      }
      try {
        this.loading = true;
        await UserService.requestpw(this.email);
        this.$fire({
          title: this.$i18n.t('login.success'),
          html: this.$i18n.t('login.confirmmail'),
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: true,
          confirmButtonText: this.$i18n.t('ok'),
          type: 'success'
        });
      } catch (e) {
        this.showErrorBox(this.$i18n.t('login.error.BodyUnknown'));
      } finally {
        this.loading = false;
      }
    },
    showErrorBox(html) {
      this.$fire({
        title: this.$i18n.t('login.error.title'),
        html,
        showCloseButton: true,
        showCancelButton: false,
        focusConfirm: true,
        confirmButtonText: this.$i18n.t('ok'),
        type: 'error'
      });
    }
  },
  async created() {
    if (this.resetkey) {
      try {
        await UserService.resetpw(this.resetkey);
        this.$fire({
          title: this.$i18n.t('login.success'),
          html: this.$i18n.t('login.passwordreset'),
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: true,
          confirmButtonText: this.$i18n.t('ok'),
          type: 'success'
        });
      } catch (e) {
        let body = this.$i18n.t('login.error.BodyUnknown');
        if (e.response.status === 403) {
          body = this.$i18n.t('login.error.BodyForbidden');
        } else if (e.response.status === 404) {
          body = this.$i18n.t('login.error.Body');
        }
        this.showErrorBox(body);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~bulma/bulma.sass';
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;

.centerLoadingText {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.center {
  text-align: center;
  margin-top: 15px;
}
// -- login box layout styling -------------
.login-box {
  width: 90%;
  height: min-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;

  @media (min-width: $tablet) {
    width: 24rem;
  }

  header {
    background-color: #ecf0f1;
    padding: 2rem 5rem;
  }

  .body,
  footer {
    padding: 0.75rem;

    &:last-child {
      padding-top: unset;
    }
  }
}

// -- forgot password ----------------------
.forgot {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  width: 100%;
  color: #95a5a6;

  &:hover {
    color: $primary;
  }
}

.pin {
  padding: 1rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;

  @media (min-width: $tablet) {
    width: 25rem;
  }

  img {
    width: 100%;
    margin: 5% 0;
    height: auto;
  }

  input,
  .loading {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield;
    font-size: 120%;
    font-weight: bold;
    // border: 1px solid #999;
    padding: 0;
    line-height: 2.5rem;
    height: 2.5rem;
  }

  .loading > div {
    margin: calc(1.25rem - 5px) auto 0;
  }

  input[loading]:disabled:after {
    content: 'Loading';
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
</style>
