<template>
  <div class="question-row" :class="{ active: !collapsed }">
    <header class="row-header" :class="{ active: !collapsed }">
      <input
        type="text"
        class="input"
        :class="{ active: !collapsed }"
        :placeholder="$t('question.questionPlaceholder')"
        v-model="questionState.question"
        @focus="collapsed = false"
      />
      <fa icon="trash" @click="$emit('delete')" />
      <fa
        class="arrow-down"
        icon="chevron-down"
        @click="collapsed = !collapsed"
        :class="{ open: collapsed }"
      />
    </header>
    <div v-if="!collapsed" class="row-body">
      <!-- -- video url -------------------- -->
      <div class="field">
        <label class="label">{{ $t('question.video') }}</label>
        <div class="control">
          <input
            type="text"
            class="input"
            :placeholder="$t('question.video')"
            v-model="questionState.video"
          />
        </div>
        <p class="help">{{ $t('question.optional') }}</p>
      </div>

      <div class="divider">
        <section class="options">
          <!-- -- allow skip ------------------- -->
          <div class="field">
            <input
              type="checkbox"
              :id="'allowSkip' + _uid"
              class="switch"
              v-model="questionState.allowSkip"
            />
            <label :for="'allowSkip' + _uid">{{ $t('question.allowSkip') }}</label>
          </div>
          <!-- -- force give argument ---------- -->
          <div class="field">
            <input
              type="checkbox"
              :id="'giveArgument' + _uid"
              class="switch"
              @click="questionState.allowGiveArgument = true"
              v-model="questionState.forceGiveArgument"
            />
            <label :for="'giveArgument' + _uid">{{
              $t('question.forceGiveArgument')
            }}</label>
          </div>
          <!-- -- allow give argument ------------ -->
          <div class="field">
            <input
              type="checkbox"
              :id="'allowArgument' + _uid"
              class="switch"
              :disabled="questionState.forceGiveArgument"
              v-model="questionState.allowGiveArgument"
            />
            <label :for="'allowArgument' + _uid">{{
              $t('question.allowGiveArgument')
            }}</label>
          </div>
        </section>
        <section class="multiple-choice" v-if="allowMultipleChoice">
          <!-- -- allow skip ------------------- -->
          <div class="field">
            <input
              type="checkbox"
              :id="'mp' + _uid"
              class="switch"
              v-model="questionState.isMultipleChoice"
              @change="handleOptionChange"
            />
            <label :for="'mp' + _uid">{{ $t('question.multipleChoice') }}</label>
          </div>
          <!-- -- multiple choice input --------- -->
          <multiple-choice-input
            v-if="questionState.isMultipleChoice"
            v-model="mpOptions"
          />
          <answer-selector v-else v-model="correctOptions" />
        </section>
      </div>

      <!-- -- word explanations ------------ -->
      <section class="explanations">
        <explenation-input
          v-model="questionState.explanations"
          :words="questionState.question ? questionState.question.trim().split(' ') : []"
        />
      </section>
    </div>
  </div>
</template>

<script>
import MultipleChoiceInput from './multipleChoiceInput.vue';
import AnswerSelector from './answerSelector.vue';
import ExplenationInput from './explanationInput.vue';

export default {
  name: 'Question',
  components: { MultipleChoiceInput, AnswerSelector, ExplenationInput },
  props: {
    question: {
      type: Object,
      default: () => ({
        id: undefined,
        remoteId: undefined,
        question: '',
        allowSkip: false,
        forceGiveArgument: false,
        allowGiveArgument: true,
        video: undefined,
        isMultipleChoice: false,
        answers: undefined,
        explanations: []
      })
    },
    allowMultipleChoice: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      collapsed: true,
      questionState: this.question,
      mpOptions: undefined,
      correctOptions: undefined
    };
  },
  created() {
    if (this.allowMultipleChoice && this.question.isMultipleChoice) {
      this.mpOptions = this.question.answers;
    } else if (this.allowMultipleChoice && !this.question.isMultipleChoice) {
      this.correctOptions = this.question.answers;
    }
  },
  methods: {
    handleOptionChange() {
      if (this.questionState.isMultipleChoice) {
        this.questionState.answers = this.mpOptions;
      } else {
        this.questionState.answers = this.correctOptions;
      }
    }
  },
  watch: {
    mpOptions: {
      handler: function() {
        this.questionState.answers = this.mpOptions;
      },
      deep: true
    },
    correctOptions: {
      handler: function() {
        this.questionState.answers = this.correctOptions;
      },
      deep: true
    },
    questionState: {
      deep: true,
      handler: function() {
        this.$emit('change', { ...this.questionState });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- row styling --------------------------
.question-row {
  border-bottom-color: var(--accent_grey);
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:last-child {
    border-bottom-style: none;
  }

  &.active {
    background-color: var(--accent_grey);
  }
}

// -- row header styling -------------------
.row-header {
  height: $header-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.active {
    background-color: var(--accent_grey-darken-10);
  }

  svg {
    margin-left: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 1rem;
    }
  }

  .input {
    border: unset;
    background-color: transparent;
    margin-left: 1rem;

    color: #7f8c8d;
    box-shadow: unset;
    border-radius: unset;

    &:focus,
    &.active {
      box-shadow: unset;
      color: black;
    }
  }
}

// -- row body -----------------------------
.row-body {
  padding: 1rem;
}

// -- sections -----------------------------
.divider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
</style>
