<template>
  <div class="answer-list">
    <div class="answer-question-row" v-for="q in questions" :key="q.id + _uid">
      <label class="label">{{ q.question }}</label>
      <div class="field">
        <div class="control">
          <div class="select is-primary">
            <select
              @input="val => hanldeOpinionChange(q.id, val)"
              :value="
                getAnswerForQuestion(q.id)
                  ? getAnswerForQuestion(q.id).opinion || getOptionsForQuestion(q.id)[0]
                  : getOptionsForQuestion(q.id)[0]
              "
            >
              <option
                v-for="(ans, index) in getOptionsForQuestion(q.id)"
                :key="index"
                :value="ans"
              >
                {{ $t(`answers.${ans}`) }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            type="text"
            class="input"
            :placeholder="$t('answers.comment')"
            :value="getAnswerForQuestion(q.id) ? getAnswerForQuestion(q.id).answer : ''"
            @input="val => handleAnswerChange(q.id, val)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestionAnswerList',
  props: {
    questions: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      answers: [...this.value]
    };
  },
  methods: {
    handleAnswerChange(id, value) {
      const index = this.answers.findIndex(a => a.questionId === id);
      const obj = { questionId: id, answer: value.target.value };

      if (index === -1) {
        this.answers.push(obj);
      } else {
        this.$set(this.answers, index, {
          ...this.answers[index],
          ...obj
        });
      }

      this.$emit('input', this.answers);
    },
    hanldeOpinionChange(id, value) {
      const index = this.answers.findIndex(a => a.questionId === id);
      const obj = { questionId: id, opinion: value.target.value };

      if (index === -1) {
        this.answers.push(obj);
      } else {
        this.$set(this.answers, index, {
          ...this.answers[index],
          ...obj
        });
      }

      this.$emit('input', this.answers);
    },
    getAnswerForQuestion(id) {
      const answer = this.value.find(a => a.questionId === id);
      if (!answer) return;
      else return answer;
    },
    getOptionsForQuestion(id) {
      const q = this.questions.find(q => q.id === id);
      if (!q) return [];

      // extract possible options
      const options = ['AGREE', 'DISAGREE'];

      if (q.allowSkip) {
        options.push('NO_OPINION');
      }

      return options;
    }
  },
  watch: {
    value: function() {
      this.answers = [...this.value];
    },
    questions: {
      handler: function() {
        const questionIds = this.questions.map(q => q.id);
        this.answers = this.answers.filter(a => questionIds.includes(a.questionId));

        for (let i = 0; i < this.questions.length; i++) {
          const q = this.questions[i];
          const answer = this.getAnswerForQuestion(q.id);
          if (!answer) {
            // generate default answer
            this.answers.push({
              questionId: q.id,
              opinion: q.allowSkip ? 'NO_OPINION' : 'DISAGREE'
            });

            continue;
          }

          const options = this.getOptionsForQuestion(q.id);
          if (!options.includes(answer.opinion)) {
            answer.opinion = 'DISAGREE';
          }
        }

        this.$emit('input', this.answers);
      },
      deep: true
    }
  }
};
</script>

<style lang="scss" scoped>
.answer-question-row {
  margin-bottom: 1rem;

  label {
    color: var(--text-question-color);
  }

  &:last-child {
    margin-bottom: unset;
  }
}

.input {
  border: unset;
}
</style>
