<template>
  <card :title="$t('question.title')" noPadding startClosed>
    <!-- -- body --------------------------- -->
    <section class="question-list">
      <question-row
        v-for="(q, index) in questions"
        :key="q.id"
        :question="q"
        :allowMultipleChoice="allowMultipleChoice"
        @change="val => handleChange(index, val)"
        @delete="handleDelete(q.id)"
      />
    </section>

    <!-- -- actions ------------------------ -->
    <template #actions>
      <span @click="addQuestion" class="card-footer-item">{{
        $t('question.addQuestion')
      }}</span>
      <span @click="removeAll" class="card-footer-item">{{
        $t('question.clearAll')
      }}</span>
    </template>
  </card>
</template>

<script>
import Card from './card.vue';
import QuestionRow from '../components/questionRow.vue';
import { v4 as uuid } from 'uuid';

export default {
  name: 'QuestionCard',
  components: { Card, QuestionRow },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    allowMultipleChoice: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      questions: [...this.value]
    };
  },
  methods: {
    addQuestion() {
      this.questions.push({
        id: uuid()
      });
    },
    handleChange(index, value) {
      this.$set(this.questions, index, value);
      this.$emit('input', this.questions);
    },
    handleDelete(id) {
      this.questions = [...this.questions.filter(q => q.id !== id)];
      this.$emit('input', this.questions);
    },
    removeAll() {
      this.questions = [];
      this.$emit('input', []);
    }
  }
};
</script>
