<template>
  <div class="card test-card">
    <div class="card-image cardPhone">
      <figure class="image is-4by3">
        <img
          :src="'https://eu.ui-avatars.com/api/?length=3&size=500&name=' + schoolObj.name"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media cardScreen align-center">
        <figure class="image test-thumb">
          <img
            :src="
              'https://eu.ui-avatars.com/api/?rounded=true&length=3&font-size=0.33&size=66&name=' +
                schoolObj.name
            "
          />
        </figure>
        <div class="media-content cardScreen">
          <p class="title is-4" style="margin-bottom: 0">{{ schoolObj.name }}</p>
        </div>
      </div>
      <div class="media-content cardPhone">
        <p class="title is-4" style="margin-bottom: 0">{{ schoolObj.name }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SchoolDashboardCard',
  components: {},
  props: ['school'],
  data() {
    return {
      schoolObj: null
    };
  },
  created() {
    this.schoolObj = this.school;
  }
};
</script>

<style scoped lang="scss">
.shared {
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.card-footer,
.spacer {
  border-top: 1px solid #ededed;
  background-color: var(--card-color) !important;
}

.rounded {
  border-radius: 7px;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.test-card {
  width: 100%;
  margin: 1rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .cardPhone {
    margin-bottom: 15px;
    p {
      margin: 0.5rem 0;
    }
    padding: 4px;
  }
  .test-thumb {
    width: 100%;
  }
}

@media (min-width: 1283px) {
  .cardPhone {
    display: none;
    padding: 1rem;
  }

  .test-thumb {
    width: 10%;

    margin-right: 1rem;
  }

  .test-card {
    width: 100%;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}

.align-center {
  align-items: center;
}
</style>
