<template>
  <div class="card school-card">
    <div class="card-content">
      <div v-show="!isEditing" class="media">
        <figure class="image school-thumb">
          <img
            src="https://bulma.io/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
        <div class="media-content">
          <p class="title is-4" style="margin-bottom: 0">{{ school.name }}</p>
          <p>{{ $t('myschools.email') }}: {{ school.email }}</p>
          <p>
            {{ $t('myschools.phone') }}:
            {{ school.phone }}
          </p>
          <p>{{ school.address }}</p>
          <p>{{ $t('myschools.dateCreation') + ': 13/04/2020' }}</p>
          <p v-if="schoolObj.isBlocked === true">{{ $t('myschools.isBlocked') }}</p>
          <p v-if="schoolObj.isBlocked === false">{{ $t('myschools.isNotBlocked') }}</p>
          <div class="centered">
            <btn @click="updateSchool()" class="danger ">
              {{ $t('myschools.edit') }}
            </btn>
          </div>
        </div>
      </div>
      <div v-if="isEditing">
        <div class="field">
          <label class="label">{{ $t('myschools.name') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="schoolObj.name"
              :placeholder="$t('myschools.name')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myschools.phone') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="schoolObj.phone"
              :placeholder="$t('myschools.phone')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myschools.email') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="schoolObj.email"
              :placeholder="$t('myschools.email')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myschools.loginMail') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="schoolObj.loginMail"
              :placeholder="$t('myschools.loginMail')"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $t('myschools.address') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="schoolObj.address"
              :placeholder="$t('myschools.address')"
            />
          </div>
        </div>

        <div class="centered">
          <btn @click="saveFunc()" class=" btn" v-bind:loading="loading">
            {{ $t('myschools.save') }}
          </btn>
          <btn
            v-if="schoolObj.isBlocked === true"
            @click="blockSchool(false)"
            class=" btn"
            v-bind:loading="loading"
          >
            {{ $t('myschools.unblock') }}
          </btn>
          <btn
            v-if="schoolObj.isBlocked === false"
            @click="blockSchool(true)"
            class="danger  btn"
            v-bind:loading="loading"
          >
            {{ $t('myschools.block') }}
          </btn>
          <btn @click="cancelFnc()" class="danger  btn" v-bind:disabled="loading">
            {{ $t('cancel') }}
          </btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';
import SchoolService from '../services/schoolService';

export default {
  name: 'SchoolCard',
  components: { Btn },
  props: ['school'],
  data() {
    return {
      schoolObj: null,
      uneditedObj: null,
      isEditing: false,
      loading: false
    };
  },
  created() {
    this.schoolObj = this.school;
    this.uneditedObj = this.schoolObj;
  },
  methods: {
    updateSchool() {
      this.uneditedObj = this.schoolObj;
      this.isEditing = true;
    },
    async blockSchool(block) {
      this.loading = true;
      let title = this.$i18n.t('myschools.confirm.blockTitle.' + block);
      let body = this.$i18n.t('myschools.confirm.blockBody.' + block, {
        schoolName: this.schoolObj.name
      });
      let confirmBtn = this.$i18n.t('myschools.confirm.blockConfirm.' + block);
      let cancelBtn = this.$i18n.t('cancel');

      let result = await this.$fire({
        title: title,
        text: body,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: confirmBtn,
        cancelButtonText: cancelBtn
      });
      if (!result.value) {
        this.loading = false;
        return;
      }

      try {
        this.schoolObj = await SchoolService.blockSchool(this.schoolObj.id, block);

        let toastText = this.$i18n.t('myschools.toast.schoolBlocked.' + block);
        this.$vToastify.success(toastText);
        this.isEditing = false;
      } catch (e) {
        let toastText = this.$i18n.t('myschools.toast.schoolSaveError');
        this.$vToastify.error(toastText);
      }
      this.loading = false;
    },
    async saveFunc() {
      this.loading = true;
      try {
        this.schoolObj = await SchoolService.updateSchoolById(
          this.schoolObj.id,
          this.schoolObj
        );
        let toastText = this.$i18n.t('myschools.toast.schoolSaved');
        this.$vToastify.success(toastText);
        this.isEditing = false;
      } catch (e) {
        let toastText = this.$i18n.t('myschools.toast.schoolSaveError');
        this.$vToastify.error(toastText);
      }

      this.loading = false;
    },
    cancelFnc() {
      this.schoolObj = this.uneditedObj;
      this.isEditing = false;
      this.loading = false;
    }
  }
};
</script>

<style scoped lang="scss">
.shared {
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0.2rem 0 0.2rem;

  border-radius: 7px;
}
.media-content {
  color: var(--text-color);
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.school-card {
  width: 100%;
  margin: 1rem;
}
.card-content {
  margin: 0 0.2rem;
  padding: 0.5rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .school-thumb {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1283px) {
  .school-thumb {
    width: 33%;
    height: auto;
    margin-right: 1rem;
  }

  .school-card {
    width: 100%;
    height: auto;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}
</style>
