<template>
  <div class="question-row" :class="{ active: !collapsed }">
    <header class="row-header" :class="{ active: !collapsed }">
      <input
        type="checkbox"
        :id="'question' + _uid"
        class="switch"
        v-model="questionState.addQuestion"
      />
      <label
        :for="'question' + _uid"
        class="label-question"
        :class="{ disabled: !questionState.addQuestion }"
      >
        {{ questionState.questionString }}
      </label>
    </header>
  </div>
</template>

<script>
export default {
  name: 'sessionQuestionRow',
  props: {
    question: {
      type: Object,
      default: () => ({
        id: undefined,
        remoteId: undefined,
        question: '',
        allowSkip: false,
        forceGiveArgument: false,
        allowGiveArgument: true,
        correctAnswerTrue: true
      })
    }
  },
  data() {
    return {
      collapsed: true,
      questionState: this.question
    };
  },
  watch: {
    questionState: {
      deep: true,
      handler: function() {
        this.$emit('input', { ...this.questionState });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- row styling --------------------------
.question-row {
  border-bottom-color: var(--accent_grey);
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:last-child {
    border-bottom-style: none;
  }

  &.active {
    background-color: var(--accent_grey);
  }
}

// -- row header styling -------------------
.row-header {
  height: $header-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.active {
    background-color: var(--accent_grey-darken-10);
  }

  svg {
    margin-left: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 1rem;
    }
  }

  .input {
    border: unset;
    background-color: transparent;
    margin-left: 1rem;

    color: #7f8c8d;
    box-shadow: unset;
    border-radius: unset;

    &:focus,
    &.active {
      box-shadow: unset;
      color: black;
    }
  }
}

// -- row body -----------------------------
.row-body {
  padding: 1rem;
}

.label-question {
  font-weight: bold;
  margin-left: 1rem;

  &.disabled {
    font-weight: bold;
    color: #7f8c8d;
  }
}
</style>
