<template>
  <card :title="$t('question.title')" noPadding startOpen>
    <!-- -- body --------------------------- -->
    <section class="question-list">
      <session-question-row
        v-for="(q, index) in questions"
        :key="q.id"
        :question="q"
        @change="val => handleChange(index, val)"
      />
    </section>
  </card>
</template>

<script>
import Card from './card.vue';
import sessionQuestionRow from '../components/sessionQuestionRow.vue';

export default {
  name: 'sessionQuestionCard',
  components: { Card, sessionQuestionRow },
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    handleChange(index, value) {
      this.$set(this.questions, index, value);
      this.$emit('input', this.questions);
    }
  },
  data() {
    return {
      questions: this.value
    };
  }
};
</script>
