<template>
  <!-- -- title -------------------------- -->
  <card :title="$t('testSettings.cardTitle')">
    <div v-if="testSettings" class="card-content columns is-multiline">
      <!-- -- Settings input ---------------------- -->
      <!-- -- Test type ---------------------- -->
      <div class="column is-full">
        <label class="label">{{ $t('game.gameType.title') }}</label>
        <div class="control">
          <div class="level">
            <div
              v-if="!votingpoll"
              class="selector level-item"
              :class="{ active: this.type === 1 }"
              @click="handleTestTypeSwitch(1)"
            >
              {{ $t('game.gameType.PARTY') }}
            </div>
            <div
              v-if="!votingpoll"
              class="selector level-item"
              :class="{ active: this.type === 2 }"
              @click="handleTestTypeSwitch(2)"
            >
              {{ $t('game.gameType.DEBATE') }}
            </div>
            <div
              class="selector level-item"
              :class="{ active: this.type === 3 }"
              @click="handleTestTypeSwitch(3)"
            >
              {{ $t('game.gameType.NORMAL') }}
            </div>
          </div>
        </div>
        <p class="help">
          {{ $t('testSettings.typeHelp') }}
        </p>
      </div>

      <!-- -- free answering input ---------------------- -->
      <section class="options-section column is-half">
        <label class="label">{{ $t('general.options') }}</label>
        <div v-if="type != 2" class="field">
          <input
            id="allowFreeAnswering"
            type="checkbox"
            name="allowFreeAnswering"
            class="switch "
            v-model="testSettings.allowFreeAnswering"
          />
          <label for="allowFreeAnswering">{{
            $t('testSettings.allowFreeAnswering')
          }}</label>
        </div>
        <!-- -- randomized input ---------------------- -->
        <div class="field">
          <input
            id="randomized"
            type="checkbox"
            name="randomized"
            class="switch"
            v-model="random"
          />
          <label for="randomized">{{ $t('testSettings.random') }}</label>
        </div>
        <!-- -- allow see score input ---------------------- -->
        <p v-if="type != 2" class="field">
          <input
            id="allowSeeScore"
            type="checkbox"
            name="allowSeeScore"
            class="switch"
            v-model="testSettings.allowSeeScore"
          />
          <label for="allowSeeScore">{{ $t('testSettings.allowSeeScore') }}</label>
        </p>

        <!-- -- allow view answers input ---------------------- -->
        <div class="field">
          <input
            id="allowViewAnswersWhenFinished"
            type="checkbox"
            name="allowViewAnswersWhenFinished"
            class="switch"
            v-model="testSettings.allowViewAnswersWhenFinished"
          />
          <label for="allowViewAnswersWhenFinished">{{
            $t('testSettings.allowViewAnswersWhenFinished')
          }}</label>
        </div>
      </section>
      <!---- Colors --------------------- -->
      <!---- True color --------------------- -->
      <section class="options-section column is-half" v-if="type == 2">
        <label class="label">{{ $t('testSettings.colors') }}</label>
        <div class="field">
          <input
            type="color"
            id="trueColor"
            class="color-input"
            name="trueColor"
            v-model="testSettings.trueColor"
          />
          <label for="trueColor"> {{ $t('testSettings.trueColor') }}</label>
        </div>
        <!---- False color --------------------- -->
        <div class="field">
          <input
            type="color"
            class="color-input"
            id="falseColor"
            name="falseColor"
            v-model="testSettings.falseColor"
          />
          <label for="falseColor"> {{ $t('testSettings.falseColor') }}</label>
        </div>
      </section>
    </div>
    <!-- -- courses ------------------------ -->
    <div class="field">
      <label class="label">{{ $t('testSettings.courses') }}</label>
      <div class="control">
        <div class="select is-primary">
          <select class="dropdown-box" v-model="settings.course">
            <option v-for="course in courseOptions" :value="course.id" :key="course.id">{{
              course.name
            }}</option>
          </select>
        </div>
      </div>
    </div>
  </card>
</template>

<script>
import Card from './card.vue';

// -- services -----------------------------
import CourseService from '../services/courseService';

export default {
  name: 'SessionSettings',
  components: { Card },
  props: {
    initValue: {
      type: Boolean,
      default: false
    },
    votingpoll: {
      type: Boolean
    },
    testSettings: {
      type: Object,
      default: () => ({
        allowFreeAnswering: false,
        allowSeeScore: true,
        allowViewAnswersWhenFinished: true,
        trueColor: '#2ecc71',
        falseColor: '#e74c3c',
        randomized: false,
        course: ''
      })
    }
  },
  data() {
    return {
      settings: null,
      type: 1,
      random: false,
      courseOptions: []
    };
  },
  watch: {
    // needed for v-model binding
    type: {
      handler: function() {
        this.$emit('gameType', this.type);
      }
    },
    //change randomized data
    random: {
      handler: function() {
        this.settings.randomized = this.random;
        this.$emit('input', this.settings);
      }
    },
    settings: {
      handler: function() {
        this.$emit('input', this.settings);
      },
      deep: true
    }
  },
  created: async function() {
    this.settings = this.testSettings;
    this.type = this.settings.type;

    await this.loadCourses();
  },
  methods: {
    handleTestTypeSwitch(id) {
      this.type = id;
    },
    loadCourses: async function() {
      this.courseOptions = (await CourseService.getCourses()).map(c => ({
        ...c,
        name: `${c.name} (${c.schoolYear})`
      }));
      this.settings.course = this.courseOptions[0].id;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';
// -- color input styling ------------------
.color-input {
  border: unset;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

// -- test selector ------------------------
.level {
  margin-bottom: 0.5rem;
}
.selector {
  border: 1px solid var(--primary);
  color: var(--primary-darken-25);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 0.5rem;

  &:last-child {
    margin-right: unset;
  }

  &.active {
    background-color: var(--primary);
    color: white;
  }
}
</style>
