<template>
  <div>
    <article v-if="testObj && settings">
      <!----lesson settings -------------------->
      <session-settings
        v-model="settings"
        :testSettings="settings"
        :initValue="!update"
        :votingpoll="testHasParties"
        @gameType="gameType"
      />
      <!-- -- questions ---------------------- -->
      <session-questions-card v-model="questions" />
      <!-- -- actions ---------------------- -->
      <div class="centre-div">
        <btn @click="saveSession()" class="rounded btn">{{
          $t('session.saveSession')
        }}</btn>
        <btn @click="runSession()" class="danger rounded btn">{{
          $t('session.runSession')
        }}</btn>
      </div>
    </article>
  </div>
</template>

<script>
import Btn from '../components/button';
import SessionSettings from '../components/sessionSettings';
import sessionQuestionsCard from '../components/sessionQuestionsCard';

import SessionService from '../services/sessionService';
import TestService from '../services/testService';
import SettingService from '../services/settingService';

export default {
  name: 'PrepareSession',
  components: {
    Btn,
    SessionSettings,
    sessionQuestionsCard
  },
  props: {
    test: {
      type: Object,
      required: false
    },
    update: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      testObj: null,
      questions: [],
      parties: [],
      settings: null
    };
  },
  async created() {
    if (!this.$route.params.testId) {
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: this.$i18n.t('session.noTestGiven')
      });
      this.$router.go(-1);
    }
    if (!this.test) {
      try {
        this.testObj = await TestService.getTestById(this.$route.params.testId);
      } catch (e) {
        this.$fire({
          type: 'error',
          title: this.$i18n.t('error'),
          text: this.$i18n.t('session.failedToFetchTest')
        });
        this.$router.go(-1);
      }
    } else {
      this.testObj = this.test;
    }
    if (this.testObj.id != this.$route.params.testId) {
      console.error('Test id does not match id given in link');
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: this.$i18n.t('session.idMisMatch')
      });
      this.$router.go(-1);
    }

    let questions;
    try {
      questions = await TestService.getQuestionsByTestId(this.testObj.id);
    } catch (e) {
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: this.$i18n.t('session.failedToFetchQuestion')
      });
      this.$router.go(-1);
    }

    questions.forEach(q => {
      q.addQuestion = true;
      this.questions.push(q);
    });

    let settings;
    try {
      settings = await SettingService.getSettingById(this.testObj.settingId);
    } catch (e) {
      this.$fire({
        type: 'error',
        title: this.$i18n.t('error'),
        text: this.$i18n.t('session.failedToFetch')
      });
      this.$router.go(-1);
    }

    this.settings = settings;
    //Default value of 1 or 3 based on property
    if (this.testHasParties) {
      this.settings.type = 3;
    } else {
      this.settings.type = 1;
    }

    this.settings.randomized = false;
  },
  methods: {
    gameType(value) {
      this.settings.type = value;
    },
    async createSession() {
      let questions = [];
      this.questions.forEach(q => {
        if (q.addQuestion) {
          questions.push({
            Id: q.questionId,
            AllowNoOpinion: q.allowNoOpinion,
            AllowSkip: q.allowSkip,
            AllowGiveArgument: q.allowGiveArgument,
            ForceGiveArgument: q.forceGiveArgument
          });
        }
      });

      let sessionDto = {
        Type: this.settings.type,
        AllowFreeAnswering: this.settings.allowFreeAnswering,
        AllowSeeScore: this.settings.allowSeeScore,
        AllowViewAnswersWhenFinished: this.settings.allowViewAnswersWhenFinished,
        AgreesColor: this.settings.trueColor,
        DisagreesColor: this.settings.falseColor,
        Questions: questions.map(q => q.Id),
        Randomized: this.settings.randomized,
        CourseId: this.settings.course
      };

      let session;
      try {
        session = await SessionService.createSession(this.testObj.id, sessionDto);
      } catch (e) {
        let toastText = this.$i18n.t('session.failedToCreate');
        this.$vToastify.error(toastText);
        throw e;
      }
      return session;
    },
    async saveSession() {
      try {
        await this.createSession();
        this.$fire({
          title: this.$i18n.t('success'),
          text: this.$i18n.t('session.saved'),
          type: 'success',
          timer: 3000
        });
        this.$router.push('/dashboard');
      } catch (e) {
        //error already handled in createSession, just rethrown to prevent this from going to dashboards
      }
    },
    async runSession() {
      try {
        let session = await this.createSession();
        this.$fire({
          title: this.$i18n.t('success'),
          text: this.$i18n.t('session.created'),
          type: 'success',
          timer: 3000
        });
        this.$router.push({
          name: 'Session',
          params: { sessionId: session.id, session: session }
        });
      } catch (e) {
        //error already handled in createSession, just rethrown to prevent this from going to session page
      }
    }
  },
  computed: {
    testHasParties() {
      return this.testObj.partyIds.length === 0 ? true : false;
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  text-align: center;
}
.card {
  margin: 1em;
}
section.card {
  margin-bottom: 2em;
}
.centre-div {
  .btn {
    margin: 0.2rem 0.5rem;
  }
}
</style>
