<template>
  <div class="card session-card">
    <div class="card-content" v-if="sessionObj">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ sessionObj.name }}</p>
          <p class>{{ sessionObj.className }}</p>
          <p class>
            {{ $t('mysessions.status') }}:
            {{ $t('session.status.' + sessionObj.status) }}
          </p>
          <p class>
            {{ $t('mysessions.numberOfQuestions') }}:
            {{ sessionObj.questionIds.length }}
          </p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a @click="runSession()" class="rounded card-footer-item run">
        {{ $t('mysessions.run') }}
      </a>
      <a @click="deleteFnc()" class="rounded card-footer-item deleteSession">
        {{ $t('mysessions.delete') }}
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'SessionCard',
  props: ['session'],
  data() {
    return {
      sessionObj: null
    };
  },
  created() {
    this.sessionObj = this.session;
  },
  methods: {
    runSession() {
      this.$router.push({
        name: 'Session',
        params: { sessionId: this.sessionObj.id, session: this.sessionObj }
      });
    },
    deleteFnc() {
      this.$emit('deleteSession', this.sessionObj);
    }
  }
};
</script>

<style scoped lang="scss">
// -- card ---------------------------------
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--card-content-color) !important;
}

.card-footer,
.spacer {
  border-top: 1px solid #ededed;
  background-color: var(--card-content-color) !important;
}

// -- actions -------------------------------
.run {
  color: #1abc9c;
}

.deleteSession {
  color: #e74c3c;
}
</style>
