<template>
  <aside class="menu">
    <!-- header -->
    <header>
      <router-link to="/dashboard">
        <img src="/assets/kdg.png" alt="kdg logo" width="200" height="60" />
      </router-link>
    </header>

    <!-- menu list -->
    <ul class="menu-list">
      <div class="category" v-for="cat in links" :key="cat.label">
        <p class="menu-label">{{ $t(cat.label) }}</p>

        <li v-for="link in cat.items" :key="link.path" class="menu-button">
          <a
            v-if="link.items"
            @click="toggleActiveSub(link.path)"
            :class="{ 'is-active': $route.path.startsWith(link.path) }"
            >{{ $t(link.label) }}
            <div class="spacer"></div>
            <fa
              class="arrow-down"
              icon="chevron-down"
              :class="{ open: activeSub === link.path }"
            />
          </a>
          <ul v-if="link.items && activeSub === link.path">
            <li v-for="item in link.items" :key="item.path">
              <router-link :to="link.path + '/' + item.path">{{
                $t(item.label)
              }}</router-link>
            </li>
          </ul>
          <router-link v-if="!link.items" :to="link.path">{{
            $t(link.label)
          }}</router-link>
        </li>
      </div>
    </ul>

    <!-- footer -->
    <div class="spacer"></div>
    <footer>
      <img
        src="/assets/treecompany.png"
        alt="tree company logo"
        width="100"
        height="30"
      />
    </footer>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    links: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  data() {
    return {
      activeSub: undefined
    };
  },
  methods: {
    toggleActiveSub(sub) {
      this.activeSub = this.activeSub === sub ? undefined : sub;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../sass/shared.scss';

// -- navbar styling -----------------------
.menu {
  height: 100%;
  min-width: 17rem;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-color);
  height: $header_size;

  img {
    padding: 0.8rem 1.5rem;
    height: 100%;
    width: auto;
  }
}

footer {
  background-color: var(--header-color);
  padding: 0.75rem;
}

// -- menu list styling --------------------
.menu-list {
  padding: 0.75rem;
}

.menu-label {
  color: var(--menu-label);
}

.navbar-divider {
  background-color: var(--navbar-divider);
}

.menu-list li > a:hover {
  background-color: var(--header-color);
}

.menu-list li > a.is-active {
  background-color: var(--primary);
  color: var(--accent_grey);
}

.menu-list li > a {
  color: var(--menu-list);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;

  svg {
    align-self: center;
  }
}

.menu-list li > ul {
  border-left-color: var(--navbar-divider);
}
</style>
