<template>
  <sidebar :links="links" />
</template>

<script>
import Sidebar from './sidebar.vue';
import adminLinks from '../util/navlinks/adminNav';

export default {
  name: 'SidebarSchool',
  components: {
    Sidebar
  },
  data() {
    return {
      links: adminLinks
    };
  }
};
</script>
