<template>
  <sidebar :links="links" />
</template>

<script>
import Sidebar from './sidebar.vue';
import superAdminLinks from '../util/navlinks/superAdminNav';

export default {
  name: 'SidebarSuperAdmin',
  components: {
    Sidebar
  },
  data() {
    return {
      showNav: false,
      links: superAdminLinks
    };
  }
};
</script>
