<template>
  <sidebar :links="links" />
</template>

<script>
import Sidebar from './sidebar.vue';

import teacherLinks from '../util/navlinks/teacherNav';

export default {
  name: 'SidebarTeacher',
  components: {
    Sidebar
  },
  data() {
    return {
      showNav: false,
      links: teacherLinks
    };
  }
};
</script>
