<template>
  <div class="loading">
    <div class="dot-spin"></div>
  </div>
</template>

<script>
export default {
  name: 'Spinner'
};
</script>

<style scoped lang="scss">
.loading {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -moz-appearance: textfield;
  font-size: 120%;
  font-weight: bold;
  padding: 0;
  line-height: 2.5rem;
  height: 2.5rem;
}

.loading > div {
  margin: calc(1.25rem - 5px) auto 0;
}
</style>
