<template>
  <div style="display: flex; justify-content: center">
    <div class="tabs is-toggle is-toggle-rounded">
      <ul>
        <li :class="{ 'is-active': currentTab == 'courses' }">
          <a @click="$emit('changeCurrentTab', 'courses')">
            <span>{{ $t('dashboard.courses') }}</span>
          </a>
        </li>
        <li :class="{ 'is-active': currentTab == 'sessions' }">
          <a @click="$emit('changeCurrentTab', 'sessions')">
            <span>{{ $t('dashboard.sessions') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  props: {
    currentTab: String
  }
};
</script>

<style scoped lang="scss">
span {
  color: var(--tabs-color);
}
</style>
