<template>
  <div class="media">
    <figure class="media-left">
      <p
        v-if="isEditing === false"
        class="image is-64x64"
        :style="{ backgroundColor: tagObj.color }"
      />
      <input
        v-else
        type="color"
        id="color"
        class="color-input"
        name="color"
        v-model="tagObj.color"
      />
    </figure>
    <div class="media-content">
      <p class="title">
        <span v-if="isEditing === false">{{ tagObj.name }}</span>
        <span v-else>
          <input
            type="text"
            class="input"
            v-model="tagObj.name"
            :placeholder="$t('mytags.name')"
        /></span>
      </p>
    </div>
    <div class="media-right">
      <div v-if="isEditing === false">
        <btn @click="updateTag()" class="rounded">
          {{ $t('mytags.edit') }}
        </btn>
      </div>
      <div v-else>
        <btn @click="saveTag()" class="rounded">
          {{ $t('mytags.save') }}
        </btn>
        <btn @click="cancelFnc()" class="danger rounded">
          {{ $t('cancel') }}
        </btn>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';

import TagService from '../services/tagService';

export default {
  name: 'TagCard',
  components: { Btn },
  props: ['tag'],
  data() {
    return {
      tagObj: null,
      isEditing: false
    };
  },
  created() {
    if (!this.tag.id || this.tag.id == '') {
      this.isEditing = true;
      this.tag.id = '';
    }
    this.tagObj = this.tag;
  },
  methods: {
    updateTag() {
      this.isEditing = true;
    },
    async saveTag() {
      try {
        console.log(this.tagObj.id);
        if (this.tagObj.id == '') {
          console.log(this.tagObj);
          await TagService.createTag(this.tagObj);
        } else {
          await TagService.updateTag(this.tagObj.id, this.tagObj);
        }
        this.isEditing = false;
        let toastText = this.$i18n.t('mytags.saved');
        this.$vToastify.success(toastText);
      } catch (e) {
        let toastText = this.$i18n.t('mytags.failedToSave');
        this.$vToastify.error(toastText);
      }
    },
    cancelFnc() {
      if (this.tagObj.id == '') {
        this.$emit('removeTagObj', this.tagObj);
        return;
      }
      this.tagObj = this.tag;
      this.isEditing = false;
    }
  }
};
</script>

<style scoped lang="scss">
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
}

.media {
  margin: 0.5rem;
  padding: 0.1rem;
  border: solid 1px black;
  border-radius: 0.1rem;
}
</style>
