<template>
  <div class="tag-wrapper">
    <!-- -- main input wrapper ------------- -->
    <div
      class="tag-input-wrapper"
      :class="{ focussed: focus, 'has-items': tags.length > 0 }"
    >
      <div class="control" v-for="tag in tags" :key="tag.name">
        <div class="tags has-addons">
          <span
            class="tag"
            :style="{ backgroundColor: tag.color || color, color: textColor }"
            >{{ tag.name }}</span
          >
          <a class="tag is-delete" @click="removeTag(tag)"></a>
        </div>
      </div>
      <input
        type="text"
        class="tag-input"
        v-model="currentValue"
        @focus="focus = true"
        @blur="focus = false"
        @keydown="handleKeyDown"
      />
    </div>

    <!-- -- auto complete wrapper ---------- -->
    <transition name="fade" mode="out-in">
      <div class="suggestions" v-if="focus">
        <span
          v-for="(suggestion, i) in suggestions"
          class="suggestion"
          :class="{ disabled: suggestion.disabled, active: i === currentIndex }"
          :key="suggestion.name"
          @click="addSuggestion(i)"
        >
          {{ suggestion.name }}
        </span>
      </div>
    </transition>
  </div>
</template>

<script>
import { LightenDarkenColor } from '../util/color';
export default {
  name: 'TagInput',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    availableTags: {
      type: Array,
      default: () => []
    },
    color: {
      type: String,
      default: '#3498db'
    }
  },
  data: function() {
    return {
      focus: false,
      tags: this.value,
      currentValue: '',
      currentIndex: 0
    };
  },
  methods: {
    handleKeyDown(e) {
      const { keyCode } = e;
      if (keyCode === 13) {
        // <enter>
        this.handleAddTag();
      } else if (keyCode === 9 && this.currentValue) {
        // <tab>
        this.handleAddTag();
        e.preventDefault();
      } else if (keyCode === 8 && !this.currentValue) {
        // <backspace>
        this.removeTag(this.tags[this.tags.length - 1]);
      } else if (keyCode === 40) {
        // <down>
        this.currentIndex = (this.currentIndex + 1) % this.suggestions.length;
      } else if (keyCode === 38) {
        // <up>
        this.currentIndex =
          this.currentIndex === 0
            ? this.suggestions.length - 1
            : Math.abs(this.currentIndex - 1) % this.suggestions.length;
      } else if (keyCode === 27) {
        this.focus = false;
      } else {
        this.focus = true;
        this.currentIndex = 0;
      }
    },
    handleAddTag() {
      const tag = this.suggestions[this.currentIndex];
      if (tag.disabled) return; // ignore if tag is disabled

      this.$emit('add', tag);
      this.tags.push(tag);
      this.currentValue = '';
    },
    removeTag(tag) {
      this.$emit('remove', tag);
      this.tags = this.tags.filter(t => t.name !== tag.name);
    },
    addSuggestion(index) {
      this.currentIndex = index;
      this.handleAddTag();
    }
  },
  computed: {
    suggestions() {
      const activeTagNames = this.tags.map(t => t.name);
      const suggestions = this.availableTags
        .filter(t => t.name.toLowerCase().startsWith(this.currentValue.toLowerCase()))
        .filter(t => !activeTagNames.includes(t.name));
      if (suggestions.length === 0) {
        suggestions.push({ name: this.$t('testSettings.noTags'), disabled: true });
      }

      return suggestions;
    },
    textColor() {
      return LightenDarkenColor(this.color, 220);
    }
  },
  watch: {
    tags: {
      handler: function() {
        this.$emit('input', this.tags);
      },
      deep: true
    }
  }
};
</script>

<style lang="scss" scoped>
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;

// -- tag wrapper --------------------------
.tag-wrapper {
  position: relative;
}

// -- tag input wrapper --------------------
.tag-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  padding: 0.5rem;

  &.focussed {
    border-color: #2980b9;
    box-shadow: 0 0 0 0.125em rgba(41, 128, 185, 0.25);
  }

  &.has-items {
    padding-bottom: 0.25rem;
  }
}

// -- tag input ----------------------------
.tag-input {
  border: unset;
  background-color: transparent;
  flex-grow: 1;
  padding-left: 0.5rem;
}

// -- tag  ---------------------------------
.control {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

// -- suggestions --------------------------
.suggestions {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: white;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;
}

// -- suggestion item ----------------------
.suggestion {
  display: block;
  padding: 0.5rem;

  &:hover,
  &.active {
    background-color: lighten($border, 25%);
    cursor: pointer;
  }

  &.disabled {
    background-color: lighten($border, 30%);
    color: $border;
    cursor: not-allowed;
  }
}
</style>
