<template>
  <div class="card teacher-card">
    <div class="card-content">
      <div class="media">
        <!--figure--------------------------------------------------------------------------------------------->
        <figure v-show="!isEditing && isLoading === false" class="image teach-thumb">
          <img
            :src="
              'https://eu.ui-avatars.com/api/?rounded=true&length=3&font-size=0.33&size=66&name=' +
                teacherObj.firstName +
                ' ' +
                teacherObj.lastName
            "
          />
        </figure>
        <!--Non editting view--------------------------------------------------------------------------------------------->
        <div
          v-show="!isEditing && isLoading === false"
          class="media-content padding-left-15"
        >
          <p class="title is-4">{{ teacherObj.firstName }} {{ teacherObj.lastName }}</p>
          <p>{{ teacherObj.email }}</p>
          <div class="centered">
            <btn @click="updateTeacher()" class="rounded">{{
              $t('myteachers.edit')
            }}</btn>
          </div>
        </div>
        <!--Editting view--------------------------------------------------------------------------------------------->
        <div v-if="isEditing && isLoading === false">
          <div class="media-content">
            <div class="field">
              <label class="label">{{ $t('myteachers.firstName') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.firstName"
                  :placeholder="$t('myteachers.firstName')"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">{{ $t('myteachers.lastName') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.lastName"
                  :placeholder="$t('myteachers.lastName')"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">{{ $t('myteachers.email') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.email"
                  :placeholder="$t('myteachers.email')"
                />
              </div>
            </div>

            <div class="centered">
              <btn @click="saveFnc()" class="rounded">{{ $t('myteachers.save') }}</btn>
              <btn @click="cancelFnc()" class="rounded danger">{{ $t('cancel') }}</btn>
            </div>
          </div>
        </div>
        <div v-if="isLoading === true" class="centre-div"><spinner /></div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';
import Spinner from './spinner';
import TeacherService from '../services/userService';

export default {
  name: 'TeacherDashboardCard',
  components: { Btn, Spinner },
  props: ['teacher'],
  data() {
    return {
      teacherObj: null,
      uneditedTeacher: null,
      isEditing: false,
      isLoading: false
    };
  },
  created() {
    this.teacherObj = this.teacher;
    this.uneditedTeacher = this.teacher;
    if (this.teacherObj.id == '') this.isEditing = true;
  },
  methods: {
    updateTeacher() {
      this.uneditedTeacher = this.teacherObj;
      this.isEditing = true;
    },
    cancelFnc() {
      if (this.teacherObj.id == '') this.$emit('deleteNewTeacher', this.teacherObj);
      this.isEditing = false;
      this.teacherObj = this.uneditedTeacher;
    },
    async saveFnc() {
      this.isLoading = true;
      try {
        if (this.teacherObj.id == '') {
          await TeacherService.createTeacher(this.teacherObj);
        } else {
          await TeacherService.updateUser(this.teacherObj.id, this.teacherObj);
        }
        this.isEditing = false;
      } catch (e) {
        let toastText = this.$i18n.t('myteachers.failed');
        this.$vToastify.error(toastText);
      }
      this.isLoading = false;
    }
  }
};
</script>

<style scoped lang="scss">
.card {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 1.5rem;
  margin-bottom: 0px;
}
.image {
  margin-top: 1rem;
}

.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  justify-content: flex-end;
  display: flex;
  margin-top: 0px;
}
.teacher-card {
  width: 100%;
  margin: 1rem;
}
.card-content {
  margin: 0 0.2rem;
  padding: 0.5rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .cardPhone {
    margin-bottom: 15px;
    p {
      margin: 0.5rem 0;
    }
  }
  .teacher-thumb {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1283px) {
  .cardPhone {
    display: none;
    padding: 1rem;
  }

  .teacher-thumb {
    width: 33%;
    height: auto;
    margin-right: 1rem;
  }

  .teacher-card {
    width: 100%;
    height: auto;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}

.padding-left-15 {
  padding-left: 15px;
}

@media (max-width: 515px) {
  .teach-thumb {
    display: none;
  }
}
.media-content {
  color: var(--text-color);
}
</style>
