<template>
  <div class="card teacher-card">
    <div class="card-content">
      <div class="media">
        <div v-show="!isEditing && isLoading === false" class="media-content">
          <p class="title is-4" style="margin-bottom: 0">
            {{ teacherObj.firstName }} {{ teacherObj.lastName }}
          </p>
          <p>{{ $t('myteachers.email') }}: {{ teacherObj.email }}</p>
          <p>{{ $t('myteachers.dateCreation') + ': 13/04/2020' }}</p>
          <div class="centered">
            <btn @click="updateTeacher()" class=" rounded">
              {{ $t('myteachers.edit') }}
            </btn>
            <btn @click="deleteTeacher()" class="danger rounded">
              {{ $t('myteachers.delete.delete') }}
            </btn>
          </div>
        </div>
        <div v-if="isEditing && isLoading === false">
          <div class="media-content">
            <div class="field">
              <label class="label">{{ $t('myteachers.firstName') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.firstName"
                  :placeholder="$t('myteachers.firstName')"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">{{ $t('myteachers.lastName') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.lastName"
                  :placeholder="$t('myteachers.lastName')"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">{{ $t('myteachers.email') }}</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="teacherObj.email"
                  :placeholder="$t('myteachers.email')"
                />
              </div>
            </div>

            <div class="centered">
              <btn @click="saveFnc()" class="rounded">
                {{ $t('myteachers.save') }}
              </btn>
              <btn @click="cancelFnc()" class="rounded danger">
                {{ $t('cancel') }}
              </btn>
            </div>
          </div>
        </div>
        <div v-if="isLoading === true" class="centre-div"><spinner /></div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from './button';
import Spinner from './spinner';

import TeacherService from '../services/userService';

export default {
  name: 'TeacherCard',
  components: { Btn, Spinner },
  props: ['teacher'],
  data() {
    return {
      teacherObj: null,
      uneditedTeacher: null,
      isEditing: false,
      isLoading: false
    };
  },
  created() {
    this.teacherObj = this.teacher;
    this.uneditedTeacher = Object.assign({}, this.teacher); // Make copy of object
    if (this.teacherObj.id == '') this.isEditing = true;
  },
  methods: {
    updateTeacher() {
      this.uneditedTeacher = Object.assign({}, this.teacherObj); // Make copy of object
      this.isEditing = true;
    },
    async deleteTeacher() {
      let result = await this.$fire({
        title: this.$i18n.t('myteachers.delete.confirmTitle'),
        text: this.$i18n.t('myteachers.delete.confirmText'),
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: this.$i18n.t('myteachers.delete.confirmButton'),
        cancelButtonText: this.$i18n.t('myteachers.delete.cancelButton')
      });
      if (!result.value) return;
      try {
        await TeacherService.deleteTeacher(this.teacherObj.id);
        await this.$fire('Deleted!', 'Your testObj has been deleted.', 'success');
        this.$router.go();
      } catch (e) {
        let toastText = this.$i18n.t('myteachers.failed');
        this.$vToastify.error(toastText);
      }
    },
    cancelFnc() {
      if (this.teacherObj.id == '') this.$emit('deleteNewTeacher', this.teacherObj);
      this.isEditing = false;
      this.teacherObj = this.uneditedTeacher;
    },
    async saveFnc() {
      this.isLoading = true;
      try {
        if (this.teacherObj.id == '') {
          await TeacherService.createTeacher(this.teacherObj);
          this.teacherObj.id = '123'; // Should probably be actual teacher ID, but doesnt really matter. This has to be set to prevent auto edit jumping in though.
          this.$emit('addTeacher', this.teacherObj);
        } else {
          await TeacherService.updateUser(this.teacherObj.id, this.teacherObj);
        }
        this.isLoading = false;
      } catch (e) {
        let toastText = this.$i18n.t('myteachers.failed');
        this.$vToastify.error(toastText);
      }
      this.isEditing = false;
    }
  }
};
</script>

<style scoped lang="scss">
.shared {
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}
.danger {
  margin-left: 20px;
  background-color: #f14668;
}

.rounded {
  border-radius: 7px;
}

.btn {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  justify-content: flex-end;
  display: flex;
}
.teacher-card {
  width: 100%;
  margin: 0;
}
.card-content {
  margin: 0 0.2rem;
  padding: 0.5rem;
}

@media (max-width: 1283px) {
  .cardScreen {
    display: none;
  }

  .cardPhone {
    margin-bottom: 15px;
    p {
      margin: 0.5rem 0;
    }
  }
  .teacher-thumb {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1283px) {
  .cardPhone {
    display: none;
    padding: 1rem;
  }

  .teacher-thumb {
    width: 33%;
    height: auto;
    margin-right: 1rem;
  }

  .teacher-card {
    width: 100%;
    height: auto;
  }
}
.card,
.media:not(:last-child) {
  margin-bottom: 0;
}

.media-content {
  color: var(--text-color);
}
</style>
