<template>
  <section class="card-list">
    <!-- -- test settings ------------------ -->
    <test-settings
      v-model="settings"
      :words="questions.map(q => q.question.split(' ')).flat()"
      @input="settingsChanged = true"
      @addCourse="handleAddCourse"
      @removeCourse="handleRemoveCourse"
      :initValue="!update"
    />

    <!-- -- questions ---------------------- -->
    <question-card
      v-if="!update || !test.isLocked"
      v-model="questions"
      @input="questionsChanged = true"
      :allowMultipleChoice="settings && !settings.isVotingTest"
    />

    <!-- -- parties ------------------------ -->
    <parties-card
      v-if="settings && settings.isVotingTest && (!update || !test.isLocked)"
      v-model="parties"
      :questions="questions"
      @input="partiesChanged = true"
    />

    <!-- -- action buttons ----------------- -->
    <card title="Actions">
      <!-- loading action -->
      <btn v-if="loading" loading />
      <!-- update actions -->
      <div v-if="!loading && update" class="actions">
        <btn :disabled="!isValidState" @click="updateTest()">{{
          $t('testSettings.actions.update')
        }}</btn>
        <btn :disabled="!isValidState" @click="handleUpdateAndExit()">{{
          $t('testSettings.actions.updateAndExit')
        }}</btn>
        <btn
          :disabled="!isValidState"
          v-if="update && !test.isLocked"
          @click="handleDelete()"
          class="danger"
          >{{ $t('testSettings.actions.delete') }}</btn
        >
      </div>
      <!-- create action -->
      <btn v-if="!loading && !update" :disabled="!isValidState" @click="saveTest">{{
        $t('testSettings.actions.create')
      }}</btn>
    </card>
  </section>
</template>

<script>
// -- components ---------------------------
import TestSettings from '../components/testSettings.vue';
import QuestionCard from '../components/questionCard.vue';
import PartiesCard from '../components/partiesCard.vue';
import Card from '../components/card.vue';
import Btn from '../components/button.vue';

// -- services -----------------------------
import TestService from '../services/testService';
import CourseService from '../services/courseService';

export default {
  name: 'TestForm',
  components: {
    TestSettings,
    QuestionCard,
    PartiesCard,
    Card,
    Btn
  },
  props: {
    update: {
      type: Boolean,
      default: false
    },
    test: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      // -- needed data --------------------
      loading: false,

      // -- test data ----------------------
      settings: this.test ? this.test.settings : undefined,
      questions: this.test ? this.test.questions : [],
      parties: this.test ? this.test.parties : [],

      // -- change trackers ----------------
      settingsChanged: false,
      questionsChanged: false,
      partiesChanged: false
    };
  },
  async created() {},
  methods: {
    // == HANDLERS =========================
    async saveTest() {
      this.loading = true;
      if (!this.settings) {
        let toastText = this.$i18n.t('testSettings.error.failedToSave.noSettings');
        this.$vToastify.error(toastText);
        return;
      }
      try {
        const test = await this.saveSettings();
        await this.saveQuestions(test.id);

        if (this.settings.isVotingTest) {
          // add parties and party answers to test
          await this.savePartyData(test.id);
        }

        // add tags
        await this.setTags(test.id);

        // add courses
        for (let i = 0; i < this.settings.courses.length; i++) {
          await this.addCourse(test.id, this.settings.courses[i].id);
        }

        this.loading = false;
        let toastText = this.$i18n.t('testSettings.saved');
        this.$vToastify.success(toastText);

        // redirect to overview
        this.$router.push('/tests/edit/' + test.id);
      } catch (e) {
        let toastText = this.$i18n.t('testSettings.error.failedToSave.generic');
        this.$vToastify.error(toastText);
      }
    },
    async updateTest() {
      this.loading = true;
      try {
        if (this.settingsChanged) {
          await this.updateSettings();
          await this.setTags(this.test.id);
        }

        if (this.questionsChanged) {
          await this.updateQuestions();
        }

        if (
          this.settings.isVotingTest &&
          (this.questionsChanged || this.partiesChanged)
        ) {
          await this.updatePartyData();
        }

        let toastText = this.$i18n.t('testSettings.saved');
        this.$vToastify.success(toastText);
        this.loading = false;
      } catch (e) {
        //TODO last party statement is not being sent
        let toastText = this.$i18n.t('testSettings.error.failedToSave.generic');
        this.$vToastify.error(toastText);
      }
    },
    async handleUpdateAndExit() {
      this.updateTest();
      if (this.$store.getters.isAdmin) {
        this.$router.push('/voteTest');
      } else {
        this.$router.push('/tests');
      }
    },
    async handleDelete() {
      if (!this.update) return;
      try {
        await this.deleteTest(this.test.id);
        this.$router.push('/tests');
        let toastText = this.$i18n.t('testSettings.deleted');
        this.$vToastify.success(toastText);
      } catch (e) {
        let toastText = this.$i18n.t('testSettings.error.failedToDelete');
        this.$vToastify.error(toastText);
      }
    },
    async handleAddCourse(course) {
      if (!this.update) return;
      await this.addCourse(this.test.id, course.id);
    },
    async handleRemoveCourse(course) {
      if (!this.update) return;
      await this.removeCourse(this.test.id, course.id);
    },
    // == HELPERS ==========================
    bindRemoteQuestionIds(questions) {
      for (let i = 0; i < this.questions.length; i++) {
        const q = this.questions[i];
        const remoteId = questions.find(que => que.questionString === q.question)
          .questionId;
        this.$set(this.questions, i, {
          ...q,
          remoteId
        });
      }
    },
    extractStatements() {
      const statements = [];
      for (let i = 0; i < this.parties.length; i++) {
        const p = this.parties[i];
        statements.push(
          ...p.answers.map(a => {
            const question = this.questions.find(q => q.id === a.questionId);
            if (!question) return; // ignore if no valid question was found
            if (a.answer === undefined && a.opinion === undefined) return; // ignore if no values

            return {
              questionId: question.remoteId,
              partyId: p.partyId,
              answer: a.opinion,
              explanation: a.answer,
              statementId: a.statementId
            };
          })
        );
      }

      return statements.filter(s => !!s);
    },
    setTags(testId) {
      return TestService.addTagsWithTestId(
        testId,
        this.settings.tags.map(t => t.id)
      );
    },
    saveSettings() {
      // create test -> basic test data
      return TestService.createTest({
        title: this.settings.title,
        visibility: this.settings.visibility + 1,
        // TODO: create test with other language code
        languageCode: this.$i18n.locale,
        explanations: this.settings.explanations,
        settings: {
          allowFreeAnswering: this.settings.allowFreeAnswering,
          allowSeeScore: this.settings.allowSeeScore,
          allowViewAnswersWhenFinished: this.settings.allowViewAnswersWhenFinished,
          falseColor: this.settings.wrongColor,
          trueColor: this.settings.correctColor
        }
      });
    },
    updateSettings() {
      return TestService.updateTest(this.test.id, {
        title: this.settings.title,
        visibility: this.settings.visibility + 1,
        languageCode: this.$i18n.locale,
        wordExplanations: this.settings.explanations,
        settings: {
          allowFreeAnswering: this.settings.allowFreeAnswering,
          allowSeeScore: this.settings.allowSeeScore,
          allowViewAnswersWhenFinished: this.settings.allowViewAnswersWhenFinished,
          falseColor: this.settings.wrongColor,
          trueColor: this.settings.correctColor
        }
      });
    },
    async saveQuestions(testId) {
      const questions = await TestService.addQuestionsToTest(testId, {
        questions: this.questions.map(q => ({
          questionString: q.question,
          video: q.video ? q.video : null,
          languageCode: this.$i18n.locale,
          allowSkip: q.allowSkip,
          allowGiveArgument: q.allowGiveArgument,
          forceGiveArgument: q.forceGiveArgument,
          isMultipleChoice: !this.settings.isVotingTest && q.answers.length > 0,
          explanations: q.explanations,
          correctAnswers: q.answers
            ? q.answers.filter(a => a.correct).map(a => a.value)
            : null,
          incorrectAnswers: q.answers
            ? q.answers.filter(a => !a.correct).map(a => a.value)
            : null
        }))
      });

      // bind remote id to question objects
      this.bindRemoteQuestionIds(questions);
    },
    async updateQuestions() {
      const questions = await TestService.updateQuestionsFromTest(this.test.id, {
        questions: this.questions.map(q => ({
          questionId: q.id === q.remoteId ? q.id : undefined,
          questionString: q.question,
          video: q.video ? q.video : null,
          languageCode: this.$i18n.locale,
          allowSkip: q.allowSkip,
          allowGiveArgument: q.allowGiveArgument,
          forceGiveArgument: q.forceGiveArgument,
          isMultipleChoice: !this.settings.isVotingTest && q.answers.length > 0,
          explanations: q.explanations,
          correctAnswers: q.answers
            ? q.answers.filter(a => a.correct).map(a => a.value)
            : null,
          incorrectAnswers: q.answers
            ? q.answers.filter(a => !a.correct).map(a => a.value)
            : null
        }))
      });

      this.bindRemoteQuestionIds(questions);
    },
    async savePartyData(testId) {
      // extract statements
      const statements = this.extractStatements();

      // add parties to test
      await TestService.addPartiesToTest(testId, {
        partyIds: this.parties.map(p => p.partyId)
      });

      // add statements
      await TestService.addPartyAnswersToQuestions(testId, {
        partyAnswers: statements
      });
    },
    async updatePartyData() {
      // extract statements
      const statements = this.extractStatements();

      // update parties from test
      await TestService.updatePartiesFromTest(
        this.test.id,
        this.parties.map(p => p.partyId)
      );

      // update statements
      await TestService.updateStatementsFromTest(this.test.id, statements);
    },
    addCourse(testId, courseId) {
      return CourseService.addTestToCourse(courseId, testId);
    },
    removeCourse(testId, courseId) {
      return CourseService.deleteTestFromCourse(courseId, testId);
    },
    deleteTest(testId) {
      return TestService.deleteTest(testId);
    }
  },
  computed: {
    isValidState() {
      if (!this.settings) return false;

      if (this.parties) {
        for (const p of this.parties) {
          if (p.answers.some(a => !a.answer)) return false;
        }
      }

      if (this.settings.isVotingTest) {
        return (
          this.parties &&
          this.parties.length > 0 &&
          this.questions &&
          this.questions.length > 0
        );
      } else {
        for (const q of this.questions) {
          if (!q.isMultipleChoice) continue;
          if (!q.answers || !q.answers.some(a => a.correct)) return false;
        }
        return this.questions.length > 0;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
// -- card list ----------------------------
.card-list {
  padding-bottom: 3rem;

  .card {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

// -- actions ------------------------------
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

// -- button styling -----------------------
button {
  width: 100%;
}
.danger {
  background-color: #f14668;
}
</style>
