<template>
  <div class="card test-card">
    <!-- -- image -------------------------- -->
    <div class="card-image" v-if="!isSuperAdmin">
      <figure class="image is-4by3">
        <img
          :src="'https://eu.ui-avatars.com/api/?size=496&name=' + testObj.title"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <!-- -- media ---------------------- -->
      <div class="media">
        <div class="media-content">
          <!-- -- tags --------------------- -->
          <div class="tags">
            <span
              class="tag"
              v-for="tag in testObj.tags"
              :key="tag.name"
              :style="{ backgroundColor: tag.color }"
              >{{ tag.name }}</span
            >
          </div>

          <!-- -- title -------------------- -->
          <p class="title is-5">{{ testObj.title }}</p>
          <p class="subtitle is-6">
            {{ $t('mytests.created') }}
            <span class="creation-date">{{ createdDate }}</span>
          </p>
        </div>

        <!-- -- media right ---------------- -->
        <div class="media-right" v-if="!isSuperAdmin">
          <div class="icons">
            <fa
              @click="toggleFavourite()"
              class="clickable"
              :icon="starIcon"
              :class="{ favourite: testObj.isFavourite }"
            />
            <fa icon="share-alt" v-if="!isPrivate" />
            <fa
              icon="lock"
              v-if="testObj.isLocked"
              :title="$t('mytests.lockedWarning')"
            />
            <fa icon="file-download" @click="exportFile()" />
          </div>
        </div>
      </div>

      <!-- -- spacer ----------------------- -->
      <div class="spacer"></div>

      <!-- -- views ------------------------ -->
      <div class="views">
        <fa :icon="['far', 'eye']" />
        <span class="text">{{ testObj.amountUsed }}</span>
      </div>
    </div>
    <!-- -- footer ------------------------- -->
    <footer class="card-footer">
      <a
        @click="setupSession()"
        v-if="!isSuperAdmin"
        class="rounded card-footer-item prepare"
      >
        {{ $t('mytests.prepareSession') }}
      </a>
      <a
        @click="openVoteTest()"
        v-if="isSuperAdmin && !test.voteTestEnabled"
        class="rounded card-footer-item prepare"
      >
        {{ $t('mytests.openVoteTest') }}
      </a>
      <a
        @click="closeVoteTest()"
        v-if="isSuperAdmin && test.voteTestEnabled"
        class="rounded card-footer-item prepare"
      >
        {{ $t('mytests.closeVoteTest') }}
      </a>
      <a @click="updateTest()" class="rounded card-footer-item edit">{{
        $t('mytests.edit')
      }}</a>

      <a @click="copyTest()" class="rounded card-footer-item copy"
        >{{ $t('mytests.copy') }}
      </a>
    </footer>
  </div>
</template>

<script>
import TestService from '../services/testService';
import moment from 'moment';
import CsvService from '../services/csvService';
export default {
  name: 'TestCard',
  props: ['test'],
  data() {
    return {
      testObj: null,
      isSuperAdmin: false
    };
  },
  created() {
    this.testObj = this.test;
    this.isSuperAdmin = this.$store.getters.isSuperAdmin;
  },
  methods: {
    updateTest() {
      this.$router.push({
        name: 'EditTest',
        params: { testId: this.testObj.id }
      });
    },
    setupSession() {
      this.$router.push({
        name: 'PrepareSession',
        params: { testId: this.testObj.id, testObj: this.testObj }
      });
    },
    async exportFile() {
      await CsvService.downloadTestData(this.testObj.id);
      await CsvService.downloadDefinitions(this.testObj.id);
    },
    async toggleFavourite() {
      let returnedTest;
      if (this.testObj.isFavourite) {
        returnedTest = await TestService.unfavourite(this.testObj.id);
        this.$emit('removeFromFavorites', returnedTest);
      } else {
        returnedTest = await TestService.markAsFavourite(this.testObj.id);
      }
      this.testObj.isFavourite = returnedTest.isFavourite;

      this.$fire({
        title: this.$i18n.t('success'),
        type: 'success',
        timer: 3000
      });
    },
    async deleteTest() {
      let result = await this.$fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      });
      if (result.value) {
        await TestService.deleteTest(this.testObj.id);
        await this.$fire('Deleted!', 'Your testObj has been deleted.', 'success');
        this.$router.go();
      }
    },
    async openVoteTest() {
      let title = this.$i18n.t('mytests.confirm.title');
      let body = this.$i18n.t('mytests.confirm.bodyOpen');
      let confirmBtn = this.$i18n.t('mytests.confirm.btnOpen');
      let cancelBtn = this.$i18n.t('cancel');

      let result = await this.$fire({
        title: title,
        text: body,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: confirmBtn,
        cancelButtonText: cancelBtn
      });
      if (!result.value) {
        return;
      }
      try {
        this.testObj = await TestService.toggleVoteTest(this.testObj.id, true);

        let toastText = this.$i18n.t('mytests.toast.opened');
        this.$vToastify.success(toastText);
        this.$router.go(0);
      } catch (e) {
        let toastText = this.$i18n.t('mytests.toast.errorOpen');
        this.$vToastify.error(toastText);
      }
    },
    async closeVoteTest() {
      let title = this.$i18n.t('mytests.confirm.title');
      let body = this.$i18n.t('mytests.confirm.bodyClose');
      let confirmBtn = this.$i18n.t('mytests.confirm.btnClose');
      let cancelBtn = this.$i18n.t('cancel');

      let result = await this.$fire({
        title: title,
        text: body,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: confirmBtn,
        cancelButtonText: cancelBtn
      });
      if (!result.value) {
        return;
      }
      try {
        this.testObj = await TestService.toggleVoteTest(this.testObj.id, false);

        let toastText = this.$i18n.t('mytests.toast.closed');
        this.$vToastify.success(toastText);
        this.$router.go(0);
      } catch (e) {
        let toastText = this.$i18n.t('mytests.toast.errorClose');
        this.$vToastify.error(toastText);
      }
    },
    async copyTest() {
      try {
        await TestService.duplicateTest(this.testObj.id);
        let toastText = this.$i18n.t('mytests.toast.closed');
        this.$vToastify.success(toastText);
        this.$router.go();
      } catch (e) {
        let toastText = this.$i18n.t('mytests.toast.errorClose');
        this.$vToastify.error(toastText);
      }
    }
  },
  computed: {
    createdDate: function() {
      let date = new Date(this.testObj.createdDate);
      return moment(date).fromNow();
    },
    isPrivate: function() {
      return this.test.visibility === 1;
    },
    starIcon: function() {
      return this.testObj.isFavourite ? ['fa', 'star'] : ['far', 'star'];
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';

// -- card ---------------------------------
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--card-content-color) !important;
}

.card-footer,
.spacer {
  background-color: var(--card-content-color) !important;
}

// -- creation date ------------------------
.creation-date {
  color: var(--blue);
}

// -- media icons --------------------------
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: unset;
    }

    &.favourite {
      color: #f1c40f;
    }
  }
}

// -- tags ---------------------------------
.tags {
  margin-bottom: unset;
}
.tag {
  background-color: #f9ca24;
  color: lighten(#f9ca24, 60%);
}

// -- views --------------------------------
.views {
  display: block;
  text-align: right;
  color: darkgrey;
  font-size: 0.8rem;

  .text {
    margin-left: 0.5rem;
  }
}

// Button colors footer
.prepare {
  color: #1abc9c;
}
.edit {
  color: #3498db;
}
.copy {
  color: #9b59b6;
}
</style>
