<template>
  <card :title="$t('testSettings.cardTitle')">
    <div class="field">
      <label class="label">{{ $t('testSettings.typeTitle') }}</label>
      <div class="control">
        <div class="level">
          <div
            class="selector level-item"
            :class="{ active: settings.isVotingTest }"
            @click="handleTestTypeSwitch(true)"
          >
            {{ $t('testSettings.testType.VOTING_TEST') }}
          </div>
          <div
            class="selector level-item"
            :class="{ active: !settings.isVotingTest }"
            @click="handleTestTypeSwitch(false)"
          >
            {{ $t('testSettings.testType.CUSTOM_TEST') }}
          </div>
        </div>
      </div>
      <p class="help">
        {{ $t('testSettings.typeHelp') }}
      </p>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <!-- -- title -------------------------- -->
        <div class="field">
          <label class="label">{{ $t('general.title') }}</label>
          <div class="control">
            <input
              type="text"
              class="input"
              v-model="settings.title"
              :placeholder="$t('testSettings.testTitle')"
            />
          </div>
          <transition name="fade" mode="out-in">
            <p v-if="settings.title" class="help">
              {{ $t('testSettings.testTitle') }}
            </p>
          </transition>
        </div>
        <!-- -- visibility --------------------- -->
        <div class="field">
          <label class="label"> {{ $t('general.visibility') }} </label>
          <div class="control">
            <div class="select is-primary">
              <select class="dropdown-box stretched-select" v-model="settings.visibility">
                <option
                  v-for="(vis, index) in visibilityOptions"
                  :key="index"
                  :value="index"
                >
                  {{ $t('testSettings.visibility.' + vis) }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- -- tags --------------------------- -->
    <div class="field">
      <label class="label">{{ $t('testSettings.tags') }}</label>
      <div class="control">
        <tag-input color="#f9ca24" :availableTags="tagOptions" v-model="settings.tags" />
      </div>
    </div>

    <!-- -- courses ------------------------ -->
    <div class="field">
      <label class="label">{{ $t('testSettings.courses') }}</label>
      <div class="control">
        <tag-input
          v-model="settings.courses"
          :availableTags="courseOptions"
          @add="handleAddCourse"
          @remove="handleRemoveCourse"
        />
      </div>
    </div>

    <!-- -- definitions -------------------- -->
    <div class="field">
      <label class="label">{{ $t('testSettings.definitions') }}</label>
      <div class="control">
        <explanation-input noPadding :words="words" v-model="settings.explanations" />
      </div>
    </div>
  </card>
</template>

<script>
import Card from './card.vue';
import TagInput from './tagInput.vue';
import ExplanationInput from './explanationInput.vue';

// -- services -----------------------------
import CourseService from '../services/courseService';
import TestService from '../services/testService';

export default {
  name: 'TestSettings',
  components: { Card, TagInput, ExplanationInput },
  props: {
    initValue: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: () => ({
        title: '',
        tags: [],
        courses: [],
        visibility: 0,
        isVotingTest: true
      })
    },
    words: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      settings: { ...this.value },

      // select options
      visibilityOptions: [],
      tagOptions: [],
      courseOptions: [],
      isSuperAdmin: false
    };
  },
  created: async function() {
    if (this.initValue) {
      this.$emit('input', this.settings); // bind default value
    }

    this.isSuperAdmin = this.$store.getters.isSuperAdmin;
    if (this.isSuperAdmin) this.settings.type = 3;
    await this.loadVisibilities();
    await this.loadTags();
    await this.loadCourses();
  },
  methods: {
    // -- loaders --------------------------
    loadVisibilities: async function() {
      const visibs = await TestService.getTestVisibilities();
      this.visibilityOptions = visibs;
    },
    loadTags: async function() {
      this.tagOptions = await TestService.getTags();
    },
    loadCourses: async function() {
      this.courseOptions = (await CourseService.getCourses()).map(c => ({
        ...c,
        name: `${c.name} (${c.schoolYear})`
      }));
    },
    // -- handlers -------------------------
    async handleAddCourse(course) {
      this.$emit('addCourse', course);
    },
    async handleRemoveCourse(course) {
      this.$emit('removeCourse', course);
    },
    handleTestTypeSwitch(to = false) {
      this.settings = {
        ...this.settings,
        isVotingTest: to
      };
    }
  },
  watch: {
    // needed for v-model binding
    settings: {
      handler: function() {
        this.$emit('input', this.settings);
      },
      deep: true
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';
// -- select -------------------------------
.stretched-select,
.select {
  width: 100%;
}

// -- test selector ------------------------
.level {
  margin-bottom: 0.5rem;
}

.selector {
  border: 1px solid var(--primary);
  color: var(--primary-darken-25);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 0.5rem;

  &:last-child {
    margin-right: unset;
  }

  &.active {
    background-color: var(--primary);
    color: white;
  }
}
</style>
