<template>
  <div>
    <article class="container">
      <!----Header image -------------------->
      <div class="headerContainer">
        <img src="/assets/treecompany.png" alt="tree company logo" />
      </div>
      <div class="Cardcontainer">
        <spinner v-if="!loaded" />
        <div v-if="loaded === true">
          <div v-if="tests.length > 0">
            <!----votetest cards -------------------->
            <votetest-card
              v-for="test in tests"
              :key="test.id"
              v-bind:test="test"
              class="votetest"
            />
          </div>
          <div v-else>{{ $t('voteTests.noContent') }}</div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import votetestCard from '../components/votetestCard';
import TestService from '../services/testService';
import Spinner from '../components/spinner';

export default {
  name: 'votetestForm',
  components: { votetestCard, Spinner },
  data() {
    return {
      loaded: false,
      tests: []
    };
  },
  async created() {
    try {
      this.tests = await TestService.getVoteTestsAsStudent();
      this.loaded = true;
    } catch (e) {
      let toastText = this.$i18n.t('voteTests.failedToLoad');
      this.$vToastify.error(toastText);
    }
  }
};
</script>

<style lang="scss" scoped>
$drop_color: rgba(176, 176, 176, 0.46);
$border: rgb(176, 176, 176);
$shadow_offset: 5px;
.headerContainer {
  background-color: #ecf0f1;
  padding: 2rem 17rem;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid $border;
  box-shadow: $shadow_offset $shadow_offset 0px 0px $drop_color;
}
img {
  width: 100%;
  margin: 5% 0;
  height: auto;
}
.Cardcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
</style>
