<template>
  <div class="card test-card">
    <div class="card-content">
      <!-- -- media ---------------------- -->
      <div class="media">
        <div class="media-content">
          <!-- -- title -------------------- -->
          <p class="title is-5">{{ test.title }}</p>
          <p class="subtitle is-6">
            {{ $t('voteTests.opened') }}
            <span class="creation-date">{{ createdDate }}</span>
          </p>
        </div>
      </div>
      <!-- -- tags --------------------- -->
      <div class="tags">
        <span
          class="tag"
          v-for="tag in test.tags"
          :key="tag.name"
          :style="{ backgroundColor: tag.color }"
          >{{ tag.name }}</span
        >
      </div>
      <!-- -- spacer ----------------------- -->
      <div class="spacer"></div>

      <!-- -- views ------------------------ -->
      <div class="views">
        <fa :icon="['far', 'eye']" />
        <span class="text">{{ test.amountUsed }}</span>
      </div>
    </div>
    <!-- -- footer ------------------------- -->
    <footer class="card-footer">
      <a @click="playVoteTest()" class="card-footer-item prepare">
        {{ $t('voteTests.start') }}
      </a>
    </footer>
  </div>
</template>

<script>
import SessionService from '../services/sessionService';
import moment from 'moment';
export default {
  name: 'votetestCard',
  components: {},
  props: {
    test: {
      type: Object,
      required: true
    }
  },
  methods: {
    async playVoteTest() {
      try {
        let pin = await SessionService.getSessionPinOfVoteTest(this.test.id);
        this.$router.push('/game/' + pin);
      } catch (e) {
        let toastText = this.$i18n.t('voteTests.failedToGetSession');
        this.$vToastify.error(toastText);
      }
    }
  },
  computed: {
    createdDate: function() {
      let date = new Date(this.test.createdDate);
      return moment(date).fromNow();
    }
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';

// -- card ---------------------------------
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--card-content-color) !important;
}

.card-footer,
.spacer {
  background-color: var(--card-content-color) !important;
}

// -- creation date ------------------------
.creation-date {
  color: var(--blue);
}

// -- media icons --------------------------
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: unset;
    }

    &.favourite {
      color: #f1c40f;
    }
  }
}

// -- tags ---------------------------------
.tags {
  margin-bottom: unset;
}
.tag {
  background-color: #f9ca24;
  color: lighten(#f9ca24, 60%);
}

// -- views --------------------------------
.views {
  display: block;
  text-align: right;
  color: darkgrey;
  font-size: 0.8rem;

  .text {
    margin-left: 0.5rem;
  }
}

// Button colors footer
.prepare {
  color: #1abc9c;
}
</style>
