<template>
  <div id="app" :data-theme="dark == 'true' ? 'dark' : 'light'">
    <vue-particles
      v-if="layout == 'default-layout'"
      class="part-layout sunken"
      color="#1cb395"
      linesColor="#27ae60"
      hoverMode="grab"
      clickMode="repulse"
    />
    <component v-if="isLoaded" :is="layout">
      <transition name="fade" mode="out-in">
        <router-view class="levetated"></router-view>
      </transition>
    </component>
    <div v-else><spinner /></div>
  </div>
</template>

<script>
import Spinner from './components/spinner';
const default_layout = 'default';

export default {
  name: 'App',
  components: { Spinner },
  data() {
    return {
      isLoaded: false
    };
  },
  async created() {
    let lanugages = this.$i18n.availableLocales;
    if (
      this.$cookies.get('language') &&
      lanugages.includes(this.$cookies.get('language'))
    ) {
      this.$i18n.locale = this.$cookies.get('language');
    } else {
      let browserLang = window.navigator.userLanguage || window.navigator.language;

      if (lanugages.includes(browserLang)) {
        this.$i18n.locale = browserLang;
      } else {
        lanugages.forEach(lang => {
          if (browserLang.includes(lang)) {
            this.$i18n.locale = lang;

            return;
          }
        });
      }
    }

    if (!this.$cookies.get('cookieConcent')) {
      let html = this.$i18n.t('cookieConsent.body');
      this.$fire({
        title: this.$i18n.t('cookieConsent.title'),
        html: html,
        showCloseButton: false,
        showCancelButton: true,
        focusConfirm: true,
        confirmButtonText: this.$i18n.t('cookieConsent.confirm'),
        cancelButtonText: this.$i18n.t('cookieConsent.details'),
        type: 'info'
      }).then(r => {
        let res = r.dismiss;
        if (typeof res !== 'undefined') {
          this.$router.push({ path: 'cookies' });
        }
        this.$cookies.set('cookieConcent', true, -1);
      });
    }
    this.isLoaded = true;
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + '-layout';
    },
    dark() {
      return this.$store.getters.getDark;
    }
  }
};
</script>

<style scoped lang="scss">
@import './sass/global.scss';
@import './sass/shared.scss';

#app {
  transition: background 1s, color 1s;
  -webkit-transition: background 1s, color 1s;
}

.part-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
</style>
