<template>
  <div class="layout">
    <nav class="sidebar">
      <SideBarTeacher v-if="role === 1"></SideBarTeacher>
      <SideBarSchool v-if="role === 2"></SideBarSchool>
      <SideBarSuperAdmin v-if="role === 3"></SideBarSuperAdmin>
    </nav>
    <div class="page">
      <NavbarTeacher v-if="role === 1"></NavbarTeacher>
      <NavbarSchool v-if="role === 2"></NavbarSchool>
      <NavbarSuperAdmin v-if="role === 3"></NavbarSuperAdmin>
      <main>
        <slot></slot>
      </main>
    </div>
  </div>
</template>

<script>
// navbars
import NavbarTeacher from '../components/navbarTeacher';
import NavbarSchool from '../components/navbarSchool';
import NavbarSuperAdmin from '../components/navbarSuperAdmin';

//sidebars
import SideBarTeacher from '../components/sideBarTeacher';
import SideBarSchool from '../components/sideBarSchool';
import SideBarSuperAdmin from '../components/sideBarSuperAdmin';

export default {
  data() {
    return {
      role: 0
    };
  },
  components: {
    NavbarTeacher,
    NavbarSchool,
    SideBarTeacher,
    SideBarSchool,
    NavbarSuperAdmin,
    SideBarSuperAdmin
  },
  created() {
    this.role = this.$store.getters.getUser.role;
  }
};
</script>

<style scoped lang="scss">
@import '../sass/shared.scss';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll; // to reduce screen jumping
  background-color: var(--layout-main);
}

main {
  padding: 0.75rem;
  background-color: var(--layout-main);
}

@media (max-width: 1024px) {
  nav.sidebar {
    display: none;
  }
}
</style>
